<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
    <Tab id="Content" text="信息管理" permissions="cms_contentView,cms_channelAdd,cms_channelEdit,cms_channelDelete,cms_channelTranslate,cms_createPage,cms_contentCheck,cms_contentModel,cms_category,cms_siteAnalysis,cms_contentTrash" iconUrl="menu/content.png" selected="true">
      <SubTabs>
        <Tab text="内容管理" permissions="cms_contentView,cms_contentAdd" iconUrl="menu/contents.gif" href="cms/pageContentMain.aspx" keepQueryString="true" target="right" />
        <Tab text="栏目管理" permissions="cms_channelAdd,cms_channelEdit,cms_channelDelete,cms_channelTranslate,cms_createPage" href="cms/pageChannel.aspx" iconUrl="menu/itemContainer.png" keepQueryString="true" target="right"/>
        <Tab text="栏目及内容" permissions="cms_channelAdd,cms_channelEdit,cms_channelDelete,cms_channelTranslate,cms_createPage,cms_contentView" href="cms/pageContentChannel.aspx" iconUrl="menu/contentchannel.png" keepQueryString="true" target="right"/>
        <Tab text="内容搜索" permissions="cms_contentView" iconUrl="menu/search.gif" href="cms/pageContentSearch.aspx" keepQueryString="true" target="right" />
        <Tab text="投稿内容" permissions="cms_contentView" iconUrl="menu/search.gif" href="cms/pageContentSearch.aspx?isWritingOnly=true" keepQueryString="true" target="right" />
        <Tab text="我的内容" permissions="cms_contentView" iconUrl="menu/search.gif" href="cms/pageContentSearch.aspx?isSelfOnly=true" keepQueryString="true" target="right" />
        <Tab text="批量转移" permissions="cms_contentTranslate,cms_channelTranslate" href="cms/pageChannelTranslate.aspx" iconUrl="menu/translate.png" keepQueryString="true" target="right"/>
        <Tab text="内容审核" permissions="cms_contentCheck" href="cms/pageContentCheck.aspx" iconUrl="menu/check.png" keepQueryString="true" target="right" />
        <Tab text="评论审核" permissions="cms_commentDelete,cms_commentCheck" href="cms/pageCommentCheck.aspx" iconUrl="menu/check.png" keepQueryString="true" target="right" />
        <Tab id="ContentTrash" text="内容回收站" permissions="cms_contentTrash" iconUrl="menu/trash.gif" href="cms/pageContentTrash.aspx" keepQueryString="true" target="right" />
      </SubTabs>
    </Tab>
    <Tab id="Template" text="显示管理" permissions="cms_template" iconUrl="menu/template.gif" href="cms/pageTemplateMain.aspx" keepQueryString="true" target="right">
      <SubTabs>
        <Tab text="模板管理" href="cms/pageTemplateMain.aspx" keepQueryString="true" iconUrl="menu/templateManage.png" target="right" />
        <Tab text="匹配模板" href="cms/pageTemplateMatch.aspx" keepQueryString="true" iconUrl="menu/templateMatch.png" target="right"/>
        <Tab text="包含文件管理" href="cms/pageTemplateInclude.aspx" keepQueryString="true" iconUrl="menu/include.png" target="right"/>
        <Tab text="样式文件管理" href="cms/pageTemplateCss.aspx" keepQueryString="true" target="right"/>
        <Tab text="脚本文件管理" href="cms/pageTemplateJs.aspx" keepQueryString="true" target="right"/>
        <Tab text="模板语言参考" href="cms/pageTemplateReference.aspx" keepQueryString="true" target="right"/>
      </SubTabs>
    </Tab>
    <Tab id="Function" text="功能管理" permissions="cms_siteAnalysis,cms_input,cms_vote,cms_gather,cms_advertisement,cms_resume,cms_seo,cms_tracking,cms_innerLink,cms_backup,cms_signin,cms_archive,cms_allTask" iconUrl="menu/function.gif">
      <SubTabs>
        <Tab id="SiteAnalysis" text="站点数据统计" permissions="cms_siteAnalysis" iconUrl="menu/count.gif">
          <SubTabs>
            <Tab text="管理员工作量统计" href="analysis/pageAnalysisAdminWork.aspx" keepQueryString="true" target="right" />
            <Tab text="内容点击量排名" href="analysis/pageAnalysisContentHits.aspx" keepQueryString="true" target="right"/>
            <Tab text="文件下载量排名" href="analysis/pageAnalysisContentDownloads.aspx" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab id="Input" text="提交表单管理" permissions="cms_input" iconUrl="menu/input.gif" href="cms/pageInput.aspx" keepQueryString="true" target="right"></Tab>
        <Tab id="Gather" text="信息采集管理" permissions="cms_gather" iconUrl="menu/gather.gif">
          <SubTabs>
            <Tab text="Web页面信息采集" href="cms/pageGatherRule.aspx" keepQueryString="true" target="right"/>
            <Tab text="数据库信息采集" href="cms/pageGatherDatabaseRule.aspx" keepQueryString="true" target="right"/>
            <Tab text="单文件页采集" href="cms/pageGatherFileRule.aspx" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab id="Advertisement" text="广告管理" permissions="cms_advertisement" iconUrl="menu/advertisement.gif">
          <SubTabs>
            <Tab text="飘浮广告管理" href="cms/pageAdvertisement.aspx" keepQueryString="true" target="right"/>
            <Tab text="固定广告位管理" href="cms/pageAdArea.aspx" keepQueryString="true" target="right"/>
            <Tab text="固定广告管理" href="cms/pageAdv.aspx" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab id="SEO" text="搜索引擎优化" permissions="cms_seo" iconUrl="menu/seo.gif">
          <SubTabs>
            <Tab text="页面元数据(Meta)">
              <SubTabs>
                <Tab text="页面元数据设置" href="cms/pageSeoMetaList.aspx" keepQueryString="true" target="right"/>
                <Tab text="页面元数据匹配" href="cms/pageSeoMetaMatch.aspx" keepQueryString="true" target="right"/>
              </SubTabs>
            </Tab>
            <Tab text="站点地图(SiteMap)">
              <SubTabs>
                <Tab text="谷歌站点地图" href="cms/pageSeoSiteMapGoogle.aspx" keepQueryString="true" target="right"/>
                <Tab text="百度新闻地图" href="cms/pageSeoSiteMapBaidu.aspx" keepQueryString="true" target="right"/>
              </SubTabs>
            </Tab>
          </SubTabs>
        </Tab>
        <Tab id="Tracking" text="流量统计管理" permissions="cms_tracking" iconUrl="menu/count.gif" href="cms/pageTracker.aspx" keepQueryString="true" target="right">
          <SubTabs>
            <Tab text="统计摘要" href="cms/pageTracker.aspx" keepQueryString="true" target="right"/>
            <Tab text="站点流量统计">
              <SubTabs>
                <Tab text="栏目流量统计" href="cms/pageTrackerChannelAnalysis.aspx" keepQueryString="true" target="right"/>
                <Tab text="内容流量统计" href="cms/pageTrackerContentAnalysis.aspx" keepQueryString="true" target="right"/>
                <Tab text="内容流量排名" href="cms/pageTrackerContentRank.aspx" keepQueryString="true" target="right"/>
              </SubTabs>
            </Tab>
            <Tab text="分时统计">
              <SubTabs>
                <Tab text="最近访问统计" href="cms/pageTrackerCurrentVisitors.aspx" keepQueryString="true" target="right"/>
                <Tab text="24小时统计" href="cms/pageTrackerHour.aspx" keepQueryString="true" target="right"/>
                <Tab text="天统计" href="cms/pageTrackerDay.aspx" keepQueryString="true" target="right"/>
                <Tab text="月统计" href="cms/pageTrackerMonth.aspx" keepQueryString="true" target="right"/>
                <Tab text="年统计" href="cms/pageTrackerYear.aspx" keepQueryString="true" target="right"/>
              </SubTabs>
            </Tab>
            <Tab text="来源统计">
              <SubTabs>
                <Tab text="受访页面统计" href="cms/pageTrackerPageUrl.aspx" keepQueryString="true" target="right"/>
                <Tab text="来访网址统计" href="cms/pageTrackerReferrer.aspx" keepQueryString="true" target="right"/>
              </SubTabs>
            </Tab>
            <Tab text="客户端统计">
              <SubTabs>
                <Tab text="操作系统统计" href="cms/pageTrackerOS.aspx" keepQueryString="true" target="right"/>
                <Tab text="浏览器统计" href="cms/pageTrackerBrowser.aspx" keepQueryString="true" target="right"/>
              </SubTabs>
            </Tab>
            <Tab text="修改统计设置" href="cms/pageTrackerEdit.aspx" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab id="InnerLink" text="站内链接管理" permissions="cms_innerLink" iconUrl="menu/innerlink.gif">
          <SubTabs>
            <Tab text="站内链接管理" href="cms/pageInnerlink.aspx" keepQueryString="true" target="right"/>
            <Tab text="站内链接设置" href="cms/pageConfigurationinnerlink.aspx" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab id="Backup" text="数据备份恢复" permissions="cms_backup" iconUrl="menu/backup.gif">
          <SubTabs>
            <Tab text="数据备份" href="cms/pageBackup.aspx" keepQueryString="true" target="right"/>
            <Tab text="数据恢复" href="cms/pageBackupRecovery.aspx" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab text="归档内容管理" permissions="cms_archive" iconUrl="menu/archive.gif" href="cms/pageContentArchive.aspx" keepQueryString="true" target="right" />
      </SubTabs>
    </Tab>
    <Tab id="Configration" text="设置管理" permissions="cms_configration" iconUrl="menu/configuration.gif" href="cms/pageConfigurationSite.aspx" keepQueryString="true" target="right">
      <SubTabs>
        <Tab text="站点配置管理" href="cms/pageConfigurationSite.aspx" keepQueryString="true" target="right"/>
        <Tab text="内容管理设置" href="cms/pageConfigurationContent.aspx" keepQueryString="true" target="right"/>
        <Tab text="评论管理设置" href="cms/pageConfigurationComment.aspx" keepQueryString="true" target="right"/>
        <Tab text="跨站转发设置" href="cms/pageConfigurationCrossSiteTrans.aspx" keepQueryString="true" target="right"/>
        <Tab text="站点属性设置" href="cms/pageConfigurationSiteAttributes.aspx" keepQueryString="true" target="right"/>
        <Tab text="内容模型设置" iconUrl="menu/database.gif">
          <SubTabs>
            <Tab text="内容模型管理" iconUrl="menu/database.gif" href="cms/pageContentModel.aspx" keepQueryString="true" target="right" />
            <Tab text="联动字段管理" iconUrl="menu/relatedField.gif" href="cms/pageRelatedField.aspx" keepQueryString="true" target="right"/>
            <Tab text="内容字段管理" iconUrl="menu/form.gif" href="cms/pageTableStyleContent.aspx" keepQueryString="true" target="right"/>
            <Tab text="栏目字段管理" iconUrl="menu/form.gif" href="cms/pageTableStyleChannel.aspx" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab text="组别及标签设置" iconUrl="menu/group.gif">
          <SubTabs>
            <Tab text="栏目组管理" href="cms/pageNodeGroup.aspx" keepQueryString="true" target="right" />
            <Tab text="内容组管理" href="cms/pageContentGroup.aspx" keepQueryString="true" target="right" />
            <Tab text="内容标签管理" href="cms/pageContentTags.aspx" iconUrl="menu/tags.gif" keepQueryString="true" target="right" />
          </SubTabs>
        </Tab>
        <Tab id="ConfigurationStorage" text="上传设置" iconUrl="menu/machine.gif">
          <SubTabs>
            <Tab text="图片上传设置" href="cms/pageConfigurationUploadImage.aspx" keepQueryString="true" target="right"/>
            <Tab text="视频上传设置" href="cms/pageConfigurationUploadVideo.aspx" keepQueryString="true" target="right"/>
            <Tab text="附件上传设置" href="cms/pageConfigurationUploadFile.aspx" keepQueryString="true" target="right"/>
            <Tab text="图片水印设置" href="cms/pageConfigurationWaterMark.aspx" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
        <Tab id="ConfigurationTask" text="定时任务管理" iconUrl="menu/task.gif">
          <SubTabs>
            <Tab text="定时生成任务" href="cms/pageTask.aspx?ServiceType=Create" keepQueryString="true" target="right"/>
            <Tab text="定时采集任务" href="cms/pageTask.aspx?ServiceType=Gather" keepQueryString="true" target="right"/>
            <Tab text="定时备份任务" href="cms/pageTask.aspx?ServiceType=Backup" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
      </SubTabs>
    </Tab>
    <Tab id="Create" text="生成管理" permissions="cms_create" iconUrl="menu/create.gif" href="service/pageCreateStatus.aspx" keepQueryString="true" target="right">
      <SubTabs>
        <Tab text="生成首页" href="cms/pageCreateIndex.aspx" keepQueryString="true" target="right"/>
        <Tab text="生成栏目页" href="cms/pageCreateChannel.aspx" keepQueryString="true" target="right"/>
        <Tab text="生成内容页" href="cms/pageCreateContent.aspx" keepQueryString="true" target="right"/>
        <Tab text="生成文件页" href="cms/pageCreateFile.aspx" keepQueryString="true" target="right"/>
        <Tab text="一键生成" href="cms/pageCreateAll.aspx" keepQueryString="true" target="right"/>
        <Tab text="生成进度查看" href="service/pageCreateStatus.aspx" keepQueryString="true" target="right"/>
        <Tab id="ConfigurationCreate" text="页面生成设置" iconUrl="menu/configuration.gif" href="cms/pageConfigurationCreate.aspx" keepQueryString="true" target="right">
          <SubTabs>
            <Tab text="页面生成设置" href="cms/pageConfigurationCreate.aspx" keepQueryString="true" target="right"/>
            <Tab text="页面命名规则" href="cms/pageTemplateFilePathRule.aspx" keepQueryString="true" target="right"/>
            <Tab text="页面生成触发器" href="cms/pageConfigurationCreateTrigger.aspx" keepQueryString="true" target="right"/>
          </SubTabs>
        </Tab>
      </SubTabs>
    </Tab>
  </Tabs>
</TabCollection>
