<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="DatabaseType" value="SqlServer" />
    <add key="ConnectionString" value="Server=dev.siteserver.cn;Uid=sa;Pwd=Brtech88;Database=cms_test;" />-->

    <add key="DatabaseType" value="SQLite" />
    <add key="ConnectionString" value="Data Source=D:\z\SQLite\SQLITEDB1.sqlite;Version=3;" />

  </appSettings>
</configuration>
