@page
@{ Layout = "_Layout"; }
@section Styles{
  <link rel="stylesheet" href="/sitefiles/assets/lib/ueditor/third-party/xiumi/xiumi-ue-v5.css">
  <style>
    html, body {
      height: 100%;
      overflow: hidden;
    }
    .el-tag {
      height: auto;
      white-space: inherit;
      margin-bottom: 5px;
      margin-right: 5px;
    }
    .avatar-uploader .el-upload {
      border: 1px dashed #d9d9d9;
      border-radius: 6px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
      width: 235px;
    }
    .avatar-uploader .el-upload:hover {
      border-color: #409EFF;
    }
    .avatar-uploader-icon {
      font-size: 28px;
      color: #8c939d;
      width: 235px;
      height: 235px;
      line-height: 235px;
      text-align: center;
    }
    .avatar {
      width: 235px;
      height: 235px;
      display: block;
    }
    .el-icon-picture-outline {
      font-size: 22px;
      margin: 100px 0;
      color: #c0c4cc;
    }
  </style>
}

<el-row>
  <el-col :span="12">
    <el-button size="small" v-on:click="getWordSpliter();return false;">提取标签</el-button>
    <el-button size="small" v-on:click="detection_Content();return false;">敏感词检测</el-button>
    
  </el-col>
  <el-col align="right" :span="12">
    <el-button size="small" v-on:click="btnSaveClick" type="primary">保 存</el-button>
    <el-button size="small" v-on:click="btnPreviewClick" type="info">预 览</el-button>
    <el-button size="small" icon="el-icon-setting" circle :type="isSettings ? 'info' : ''" v-on:click="isSettings = !isSettings"></el-button>
  </el-col>
</el-row>

<el-divider></el-divider>

<el-container style="padding-top: 0; padding-bottom: 0; overflow:hidden;" :style="{height: mainHeight}">
  <el-main style="padding: 0; margin: 0">
    <el-scrollbar class="scrollbar" :style="{height: mainHeight}">

      <el-form style="margin: 10px 20px 20px 10px" ref="form" :model="form" size="small" status-icon label-width="80px">
        <el-form-item label="标题" prop="title" :rules="{ required: true, message: '请输入标题' }">
          <el-input
            v-model="form.title"
            size="small"
            placeholder="请输入标题">
          </el-input>
        </el-form-item>
        <el-form-item label="正文" prop="body" :rules="{ required: true, message: '请输入正文' }">
          <el-button-group style="margin-bottom: 2px;">
            <el-button size="mini" type="info" plain v-on:click="btnLayerClick({title: '导入Word', name: 'editorLayerWord', attributeName: style.attributeName})">
              导入Word
            </el-button>
            <el-button size="mini" type="info" plain v-on:click="btnLayerClick({title: '插入图片', name: 'editorLayerImage', attributeName: style.attributeName})">
              插入图片
            </el-button>
            <el-button size="mini" type="info" plain v-on:click="btnLayerClick({title: '插入视频', name: 'editorLayerVideo', attributeName: style.attributeName})">
              插入视频
            </el-button>
            <el-button size="mini" type="info" plain v-on:click="btnLayerClick({title: '插入音频', name: 'editorLayerAudio', attributeName: style.attributeName})">
              插入音频
            </el-button>
            <el-button size="mini" type="info" plain v-on:click="btnLayerClick({title: '插入附件', name: 'editorLayerFile', attributeName: style.attributeName})">
              插入附件
            </el-button>
          </el-button-group>
          <textarea
            id="body"
            name="body"
            v-html="form.body"
            style="width: 100%;">
          </textarea>
        </el-form-item>
      </el-form>

    </el-scrollbar>
  </el-main>
  <el-aside v-if="isSettings" width="280px">
    <el-tabs type="border-card">
      <el-tab-pane label="设置">
        <el-collapse v-model="activeNames">
          <el-collapse-item title="封面图片" name="0">
            <el-upload
              class="avatar-uploader"
              :action="$urlUpload"
              :show-file-list="false"
              :headers="{Authorization: 'Bearer ' + $token}"
              :before-upload="uploadBefore"
              :before-upload="uploadBefore"
              :on-progress="uploadProgress"
              :on-success="uploadSuccess"
              :on-error="uploadError">
              <el-image 
                class="avatar"
                :src="form.imageUrl">
                <div slot="error" class="image-slot">
                  <i class="el-icon-picture-outline"></i>
                </div>
              </el-image>

              <i v-else class="el-icon-plus avatar-uploader-icon"></i>
            </el-upload>
          </el-collapse-item>
          <el-collapse-item title="内容摘要" name="1">
            <el-input
              type="textarea"
              :rows="5"
              placeholder="请输入内容"
              v-model="form.summary">
            </el-input>
          </el-collapse-item>
        </el-collapse>
      </el-tab-pane>
    </el-tabs>
  </el-aside>
</el-container>

@section Scripts{
  <script src="/sitefiles/assets/lib/ueditor/editor_config.js" type="text/javascript" ></script>
  <script src="/sitefiles/assets/lib/ueditor/ueditor.all.js" type="text/javascript"></script>
  <script src="/sitefiles/assets/lib/ueditor/third-party/xiumi/xiumi-ue-dialog-v5.js" type="text/javascript"></script>
  <script src="/sitefiles/assets/js/admin/cms/libraryEditor.js" type="text/javascript"></script>
}