@page
@{ Layout = "_Layout"; }
@section Styles{
  <link rel="stylesheet" href="/sitefiles/assets/lib/ueditor/third-party/xiumi/xiumi-ue-v5.css">
  <style>
    .el-upload, .el-upload-dragger {width: 100%;}
    .videojs {
      width: 100% !important;
      min-height: 300px;
    }
  </style>
}

<div style="height: 10px"></div>
<el-form size="small" ref="form" :model="form" label-width="160px">
  <el-form-item label="站点名称" prop="siteName" :rules="{ required: true, message: '请输入站点名称' }">
    <el-input v-model="form.siteName" placeholder="请输入站点名称"></el-input>
  </el-form-item>
  <el-form-item label="站点图片">
    <el-button-group>
      <el-button size="mini" type="info" plain v-on:click="btnLayerClick({title: '上传图片', name: 'formLayerImageUpload', attributeName: 'imageUrl', no: 0})">
        上传
      </el-button>
      <el-button size="mini" type="info" plain v-on:click="btnLayerClick({title: '选择图片素材', name: 'libraryLayerImageSelect', attributeName: 'imageUrl', no: 0, full: true})">
        选择
      </el-button>
      <el-button size="mini" type="info" plain v-if="form.imageUrl" v-on:click="btnPreviewClick('imageUrl')">
        预览
      </el-button>
    </el-button-group>
    <el-input v-model="form.imageUrl" placeholder="站点图片地址"></el-input>
  </el-form-item>
  <el-form-item label="站点关键字">
    <el-input v-model="form.keywords"></el-input>
  </el-form-item>
  <el-form-item label="站点描述">
    <el-input type="textarea" v-model="form.description"></el-input>
  </el-form-item>

  @await Html.PartialAsync("_PartialForm")
  
  <el-divider></el-divider>
  <div style="height: 10px"></div>
  <el-form-item>
    <el-button type="primary" v-on:click="btnSubmitClick" size="small">确 定</el-button>
    <el-button style="float: right;" size="small" icon="el-icon-config" v-on:click="btnSiteStylesClick">站点字段管理</el-button>
  </el-form-item>
</el-form>

@section Scripts{
  <script src="/sitefiles/assets/lib/ueditor/editor_config.js" type="text/javascript" ></script>
  <script src="/sitefiles/assets/lib/ueditor/ueditor.all.js" type="text/javascript"></script>
<script src="/sitefiles/assets/lib/ueditor/third-party/xiumi/xiumi-ue-dialog-v5.js" type="text/javascript" ></script>
<script src="/sitefiles/assets/js/admin/cms/settingsSite.js" type="text/javascript"></script> }