<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <websitePermissions>
    <add name="cms_contentTrash" text="内容回收站" />
    <add name="cms_siteAnalysis" text="站点数据统计" />
    <add name="cms_input" text="提交表单管理" />
    <add name="cms_gather" text="信息采集管理" />
    <add name="cms_advertisement" text="广告管理" />
    <add name="cms_seo" text="搜索引擎优化" />
    <add name="cms_tracking" text="流量统计管理" />
    <add name="cms_innerLink" text="站内链接管理" />
    <add name="cms_backup" text="数据备份恢复" />
    <add name="cms_archive" text="归档内容管理" />
    <add name="cms_template" text="显示管理" />
    <add name="cms_configration" text="设置管理" />
    <add name="cms_create" text="生成管理" />

    <add name="wcm_govPublicContent" text="主动信息公开" />
    <add name="wcm_govPublicApply" text="依申请公开" />
    <add name="wcm_govPublicContentConfiguration" text="主动信息公开设置" />
    <add name="wcm_govPublicApplyConfiguration" text="依申请公开设置" />
    <add name="wcm_govPublicAnalysis" text="信息公开统计" />
    <add name="wcm_govInteract" text="互动交流管理" />
    <add name="wcm_govInteractConfiguration" text="互动交流设置" />
    <add name="wcm_govInteractAnalysis" text="互动交流统计" />
  </websitePermissions>
  <channelPermissions>
    <add name="cms_contentView" text="浏览内容" />
    <add name="cms_contentAdd" text="添加内容" />
    <add name="cms_contentEdit" text="修改内容" />
    <add name="cms_contentDelete" text="删除内容" />
    <add name="cms_contentTranslate" text="转移内容" />
    <add name="cms_contentArchive" text="内容归档" />
    <add name="cms_contentOrder" text="整理内容"/>
    <add name="cms_channelAdd" text="添加栏目" />
    <add name="cms_channelEdit" text="修改栏目" />
    <add name="cms_channelDelete" text="删除栏目" />
    <add name="cms_channelTranslate" text="转移栏目" />
    <add name="cms_commentCheck" text="审核内容评论" />
    <add name="cms_commentDelete" text="删除内容评论" />
    <add name="cms_createPage" text="生成页面" />
    <add name="cms_contentCheck" text="审核内容" />
    <add name="cms_contentCheckLevel1" text="一级内容审核权" />
    <add name="cms_contentCheckLevel2" text="二级内容审核权" />
    <add name="cms_contentCheckLevel3" text="三级内容审核权" />
    <add name="cms_contentCheckLevel4" text="四级内容审核权" />
    <add name="cms_contentCheckLevel5" text="五级内容审核权" />
  </channelPermissions>
  <govInteractPermissions>
    <add name="wcm_govInteractView" text="浏览办件" />
    <add name="wcm_govInteractAdd" text="新增办件" />
    <add name="wcm_govInteractEdit" text="编辑办件" />
    <add name="wcm_govInteractDelete" text="删除办件" />
    <add name="wcm_govInteractSwitchToTranslate" text="转办转移" />
    <add name="wcm_govInteractComment" text="批示办件" />
    <add name="wcm_govInteractAccept" text="受理办件" />
    <add name="wcm_govInteractReply" text="办理办件" />
    <add name="wcm_govInteractCheck" text="审核办件" />
  </govInteractPermissions>
</Config>
