@{ Layout = "../Shared/_Layout.cshtml"; }
@section Styles{
  <style>
    body {
      height: 100%;
      overflow: hidden;
      margin: 0;
    }
    .el-main {
      padding: 5px 5px 20px 5px;
      overflow: hidden;
    }
    .table-expand-form {
      font-size: 0;
    }
    .table-expand-form label {
      width: 90px;
      color: #99a9bf;
    }
    .table-expand-form .el-form-item {
      margin-right: 0;
      margin-bottom: 0;
      width: 50%;
    }
    #commands .el-button {
      margin-bottom: 5px;
    }
    #search .el-select .el-input {
      width: 100px;
    }
    .el-table--medium td, .el-table--medium th{
      padding: 5px 0;
    }
    .el-button+.el-button {
      margin-left: 0;
    }
    .input-with-select .el-input-group__prepend {
      background-color: #fff;
    }
    .el-input-group {
      width: 350px;
    }
  </style>
}

<el-container>
  <el-scrollbar class="scrollbar" style="padding-top: 5px; padding-left: 5px; width: 200px;" :style="{height: asideHeight + 'px'}">

    <el-input
      placeholder="输入栏目名称进行过滤"
      size="mini"
      suffix-icon="el-icon-search"
      v-model="filterText">
    </el-input>

    <div style="height: 5px"></div>

    <el-tree
      ref="tree"
      class="leftTree"
      :data="[root]"
      node-key="value"
      :default-expanded-keys="expendedChannelIds"
      :highlight-current="true"
      :filter-node-method="filterNode"
      :expand-on-click-node="false"
      v-on:node-click="handleNodeClick">
      <span slot-scope="{ node, data }">
        <el-link :underline="false" :href="getChannelUrl(data)" v-on:click.stop.native target="_blank"><i class="el-icon-link"></i></el-link>
        {{ node.label }} ({{ data.count }})
      </span>
    </el-tree>

  </el-scrollbar>
  
  <el-container v-if="permissions">
    <el-main>
      <el-row id="commands">
        <el-col :span="24">
          <el-dropdown size="mini" v-on:command="btnAddClick">
            <el-button size="mini" :disabled="!permissions.isAdd" v-on:click="btnAddClick">
              新建<i class="el-icon-arrow-down el-icon--right"></i>
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item command="Add"><i class="el-icon-circle-plus-outline"></i>添加内容</el-dropdown-item>
              <el-dropdown-item command="Word"><i class="fa fa-wikipedia-w"></i>导入Word</el-dropdown-item>
              <el-dropdown-item command="Import"><i class="el-icon-upload2"></i>批量导入</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>

          <el-button size="mini" icon="el-icon-star-off" :disabled="total === 0 || !permissions.isEdit || !isContentChecked"
            v-on:click="btnLayerClick({title: '批量设置属性', name: 'Attributes', width: 500, height: 320, withContents: true})">
            属性
          </el-button>

          <el-button size="mini" icon="el-icon-files" :disabled="total === 0 || !permissions.isEdit || !isContentChecked"
            v-on:click="btnLayerClick({title: '批量设置内容组', name: 'Group', width: 700, height: 400, withContents: true})">
            内容组
          </el-button>

          <el-button size="mini" icon="el-icon-right" :disabled="total === 0 || !permissions.isTranslate || !isContentChecked"
            v-on:click="btnLayerClick({title: '批量转移', name: 'Translate', withContents: true})">
            转移
          </el-button>

          <el-button size="mini" icon="el-icon-copy-document" :disabled="total === 0 || !permissions.isTranslate || !isContentChecked"
            v-on:click="btnLayerClick({title: '批量复制', name: 'Copy', withContents: true})">
            复制
          </el-button>

          <el-button size="mini" icon="el-icon-sort" :disabled="total === 0 || !permissions.isEdit || !isContentChecked"
            v-on:click="btnLayerClick({title: '批量排序', name: 'Taxis', width: 450, height: 280, withContents: true})">
            排序
          </el-button>

          <el-button size="mini" icon="el-icon-delete" :disabled="total === 0 || !permissions.isDelete || !isContentChecked" 
            v-on:click="btnLayerClick({title: '批量删除', name: 'Delete', full: true, withContents: true})">
            删除
          </el-button>
          <el-button size="mini" icon="el-icon-circle-check" :disabled="total === 0 || !permissions.isCheck || !isContentChecked" 
            v-on:click="btnLayerClick({title: '批量审核', name: 'Check', full: true, withContents: true})">
            审核
          </el-button>
          <el-button size="mini" icon="el-icon-magic-stick" :disabled="total === 0 || !permissions.isCreate || !isContentChecked"
            v-on:click="btnCreateClick">
            生成
          </el-button>

          <el-dropdown size="mini" v-on:command="btnMoreClick">
            <el-button size="mini" :disabled="total === 0">
              更多<i class="el-icon-arrow-down el-icon--right"></i>
            </el-button>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item command="ExportAll"><i class="el-icon-download"></i>导出全部</el-dropdown-item>
              <el-dropdown-item command="ExportSelected" :disabled="!isContentChecked"><i class="el-icon-download"></i>导出选中</el-dropdown-item>
              <el-dropdown-item command="Arrange" :disabled="!permissions.isArrange"><i class="el-icon-sort"></i>整理排序</el-dropdown-item>
              <el-dropdown-item command="Hits" :disabled="!permissions.isEdit || !isContentChecked"><i class="el-icon-mouse"></i>设置点击量</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
            
          </el-button>
        </el-col>
      </el-row>

      <div style="height: 3px;"></div>
      
      <el-row id="search">
        <el-col :span="16">
          <el-input v-model="searchForm.searchText" v-on:change="btnSearchClick" suffix-icon="el-icon-search" size="mini" placeholder="搜索关键词" class="input-with-select">
            <el-select v-model="searchForm.searchType" v-on:change="btnSearchClick" slot="prepend" placeholder="请选择">
              <el-option v-for="column in columns" v-if="!column.isCalculate" :label="column.displayName" :value="column.attributeName"></el-option>
            </el-select>
          </el-input>
          <span style="width: 5px">&nbsp;</span>
          <el-checkbox v-model="searchForm.isAllContents" v-on:change="btnSearchClick" label="包含子栏目"></el-checkbox>
          <span style="width: 5px">&nbsp;</span>
          <el-popover
            placement="top"
            width="580"
            v-model="isAdvancedForm"
            trigger="click">
            <el-form size="mini" ref="advancedForm" :model="advancedForm" class="advancedForm" style="margin-top: 10px;" label-width="80px">
              <el-form-item label="审核状态" prop="checkedLevels" :rules="{ required: true, message: '请选择审核状态' }">
                <el-checkbox-group v-model="advancedForm.checkedLevels">
                  <el-checkbox v-for="level in checkedLevels" v-key="level.label" :label="level.label">{{level.text}}</el-checkbox>
                </el-checkbox-group>
              </el-form-item>
              <el-form-item label="内容属性">
                <el-checkbox label="置顶" v-model="advancedForm.isTop"></el-checkbox>
                <el-checkbox label="推荐" v-model="advancedForm.isRecommend"></el-checkbox>
                <el-checkbox label="热点" v-model="advancedForm.isHot"></el-checkbox>
                <el-checkbox label="醒目" v-model="advancedForm.isColor"></el-checkbox>
              </el-form-item>
              <el-form-item label="内容组" v-if="groupNames && groupNames.length > 0">
                <el-checkbox-group v-model="advancedForm.groupNames">
                  <el-checkbox v-for="groupName in groupNames" v-key="groupName" :label="groupName">{{groupName}}</el-checkbox>
                </el-checkbox-group>
              </el-form-item>
              <el-form-item label="内容标签" v-if="tagNames && tagNames.length > 0">
                <el-select
                  v-model="advancedForm.tagNames"
                  multiple
                  filterable
                  style="width: 100%;"
                  placeholder="请选择内容标签">
                  <el-option
                    v-for="tagName in tagNames"
                    :key="tagName"
                    :label="tagName"
                    :value="tagName">
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="添加时间">
                <el-col :span="11">
                  <el-date-picker
                    v-model="advancedForm.startDate"
                    type="datetime"
                    v-on:click="setTimeout(function() {isAdvancedForm = true;}, 100)"
                    placeholder="选择开始时间">
                  </el-date-picker>
                </el-col>
                <el-col class="line" align="center" :span="2">-</el-col>
                <el-col :span="11">
                  <el-date-picker
                    v-model="advancedForm.endDate"
                    type="datetime"
                    placeholder="选择结束时间">
                </el-col>
              </el-form-item>
              <el-form-item label="活动名称">
                <el-input v-model="advancedForm.name"></el-input>
              </el-form-item>
              <el-form-item>
                <el-button type="primary" v-on:click="btnAdvancedSubmitClick">搜索</el-button>
                <el-button v-on:click="btnAdvancedCancelClick">取消</el-button>
              </el-form-item>
            </el-form>
            <div slot="reference" class="el-dropdown">
              <span style="cursor: pointer;">
                高级<i class="el-icon-arrow-down el-icon--right"></i>
              </span>
            </div>
          </el-popover>
        </el-col>
        <el-col :span="8" align="right">
          <el-dropdown trigger="click">
            <span style="cursor: pointer">
              排序<i class="el-icon-arrow-down el-icon--right"></i>
            </span>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item>黄金糕</el-dropdown-item>
              <el-dropdown-item>狮子头</el-dropdown-item>
              <el-dropdown-item>螺蛳粉</el-dropdown-item>
              <el-dropdown-item disabled>双皮奶</el-dropdown-item>
              <el-dropdown-item divided>蚵仔煎</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
          <span style="width: 5px">&nbsp;</span>
          <el-popover
            placement="top"
            width="280"
            trigger="click">
            <div>
              设置显示列（拖动选项排序）
            </div>
            <!-- https://github.com/sindu12jun/table-dragger -->
            <el-table
              :data="columns"
              size="mini"
              style="width: 100%; overflow: auto; max-height: 500px !important">
              <el-table-column width="50">
                <template slot-scope="scope">
                  <i style="cursor: move;" class="fa fa-bars"></i>
                </template>
              </el-table-column>
              <el-table-column prop="displayName"></el-table-column>
              <el-table-column align="right">
                <template slot-scope="scope">
                  <el-switch
                    v-model="scope.row.isList"
                    :disabled="scope.row.attributeName === 'Title'"
                    v-on:change="handleColumnsChange"
                    size="mini">
                  </el-switch>
                </template>
              </el-table-column>
            </el-table>
            <div slot="reference" class="el-dropdown">
              <span style="cursor: pointer;">
                显示列<i class="el-icon-arrow-down el-icon--right"></i>
              </span>
            </div>
          </el-popover>
          <span style="width: 20px">&nbsp;</span>
        </el-col>
      </el-row>

      <div style="height: 10px;"></div>

      <el-scrollbar id="contents" class="scrollbar" :style="{height: tableMaxHeight + 'px'}">
        <el-table
          :data="pageContents"
          border
          ref="multipleTable"
          style="width: 100%;"
          size="medium"
          row-key="id"
          stripe
          :row-class-name="tableRowClassName"
          v-on:selection-change="handleSelectionChange"
          v-on:row-click="toggleSelection">
          <el-table-column type="expand" width="25" align="right">
            <template slot-scope="props">
              <el-form size="mini" label-position="left" inline class="table-expand-form">
                <el-form-item
                  v-for="column in columns"
                  v-if="column.inputType !== 'TextEditor'"
                  :key="column.attributeName"
                  :label="column.displayName">
                  <span v-html="props.row.getValue(column.attributeName)"></span>
                </el-form-item>
              </el-form>
            </template>
          </el-table-column>
          <el-table-column type="selection" width="45" align="center"></el-table-column>

          <el-table-column
            v-for="column in columns"
            v-if="column.isList"
            :key="column.attributeName"
            :label="column.displayName"
            :width="getColumnWidth(column)"
            :min-width="getColumnMinWidth(column)"
            show-overflow-tooltip
            resizable>
            <template slot-scope="scope">

              <!-- Title -->
              <template v-if="column.attributeName === 'Title'">
                <el-link type="primary" :underline="false" :href="getContentUrl(scope.row)" v-html="scope.row.title" target="_blank" v-on:click.stop.native></el-link>
                <!-- top -->
                <el-tooltip v-if="scope.row.top" effect="light" content="置顶" placement="top">
                  <el-link size="mini" :underline="false" type="danger"><i class="el-icon-top"></i></el-link>
                </el-tooltip>
                <!-- recommend -->
                <el-tooltip v-if="scope.row.recommend" effect="light" content="推荐" placement="top">
                  <i class="el-icon-star-off"></i>
                </el-tooltip>
                <!-- hot -->
                <el-tooltip v-if="scope.row.hot" effect="light" content="热点" placement="top">
                  <i class="el-icon-news"></i>
                </el-tooltip>
                <!-- color -->
                <el-tooltip v-if="scope.row.color" effect="light" content="醒目" placement="top">
                  <i class="el-icon-view"></i>
                </el-tooltip>
                <!-- imageUrl -->
                <el-tooltip v-if="scope.row.imageUrl" effect="light" content="图片" placement="top">
                  <el-popover
                    v-if="scope.row.imageUrl"
                    width="400"
                    trigger="hover">
                    <el-image :src="getUrl(scope.row.imageUrl)"></el-image>
                    <el-link slot="reference" :underline="false">
                      <i class="el-icon-picture-outline"></i>
                    </el-link>
                  </el-popover>
                </el-tooltip>
                <!-- video -->
                <el-tooltip v-if="scope.row.videoUrl" effect="light" content="视频" placement="top">
                  <el-link :underline="false" :href="getUrl(scope.row.videoUrl)" target="_blank" v-on:click.stop>
                    <i class="el-icon-video-play"></i>
                  </el-link>
                </el-tooltip>
                <!-- fileUrl -->
                <el-tooltip v-if="scope.row.fileUrl" effect="light" content="附件" placement="top">
                  <el-link :underline="false" :href="getUrl(scope.row.fileUrl)" target="_blank" v-on:click.stop>
                    <i class="el-icon-document"></i>
                  </el-link>
                </el-tooltip>
                <!-- linkUrl -->
                <el-tooltip v-if="scope.row.linkUrl" effect="light" content="外部链接" placement="top">
                  <el-link :underline="false" :href="scope.row.linkUrl" target="_blank" v-on:click.stop.native title="外部链接">
                    <i class="el-icon-link"></i>
                  </el-link>
                </el-tooltip>
              </template>
              <!-- GroupNames -->
              <template v-else-if="column.attributeName === 'GroupNames'">
                <template v-if="scope.row.groupNames && groupNames" v-for="groupName in scope.row.groupNames">
                  <el-tag v-if="groupNames.indexOf(groupName) !== -1" :key="groupName" size="mini" type="info">
                    {{ groupName }}
                  </el-tag>
                </template>
              </template>
              <!-- Others -->
              <template v-else>
                <span v-html="scope.row.getValue(column.attributeName)"></span>
              </template>

            </template>
          </el-table-column>

          <el-table-column
            v-if="searchForm.isAllContents"
            prop="channelName"
            width="120"
            show-overflow-tooltip
            label="栏目">
          </el-table-column>

          <el-table-column prop="addDate" label="添加时间"  width="160"></el-table-column>

          <el-table-column
            fixed="right"
            width="70"
            align="center"
            show-overflow-tooltip
            label="状态">
            <template slot-scope="scope">
              <el-link size="mini" :underline="false" v-on:click="btnContentStateClick(scope.row.id)" :type="(scope.row.checked ? 'primary' : 'danger')">
                {{ scope.row.checked ? '已审核' : '待审核' }}
              </el-link>
            </template>
          </el-table-column>

          <el-table-column
            fixed="right"
            align="center"
            label="操作"
            show-overflow-tooltip
            width="70">
            <template slot-scope="scope">
              <el-link size="mini" :underline="false" v-for="pluginMenu in scope.row.pluginMenus" :target="pluginMenu.target" :href="(pluginMenu.target === '_layer' ? 'javascript:;' : getPluginMenuUrl(pluginMenu))"
                  v-on:click="btnPluginMenuClick(pluginMenu)" class="mr-2" v-html="pluginMenu.text"></el-link>
              <el-link size="mini" :underline="false" v-on:click.stop="btnEditClick(scope.row)" type="primary">编辑</el-link>
            </template>
          </el-table-column>
        </el-table>
      </el-scrollbar>

      <el-row style="margin-top: 7px;">
        <el-col :span="24" align="center">
          <el-pagination
            size="mini"
            background
            v-on:current-change="handleCurrentChange"
            :current-page="page"
            :page-size="pageSize"
            layout="total, prev, pager, next, jumper"
            :total="total">
          </el-pagination>
        </el-col>
      </el-row>
    </el-main>
  </el-container>
</el-container>

@section Scripts{
<script src="contentsSearch.js" type="text/javascript"></script> }
