@{ Layout = "../Shared/_LayoutLayer.cshtml"; }

<ul class="nav nav-tabs tabs-bordered nav-justified">
  <li class="nav-item">
    <a href="javascript:;" v-on:click="pageType = 'setAttributes'" class="nav-link" :class="{active: pageType === 'setAttributes'}">
      设置属性
    </a>
  </li>
  <li class="nav-item">
    <a href="javascript:;" v-on:click="pageType = 'cancelAttributes'" class="nav-link" :class="{active: pageType === 'cancelAttributes'}">
      取消属性
    </a>
  </li>
  <li class="nav-item">
    <a href="javascript:;" v-on:click="pageType = 'setHits'" class="nav-link" :class="{active: pageType === 'setHits'}">
      设置点击量
    </a>
  </li>
</ul>
<div class="pt-4">
  <template v-if="pageType === 'setHits'">

    <div class="form-group">
      <label>点击量</label>
      <input v-model.number="hits" type="number" class="form-control form-control-sm">
    </div>

  </template>
  <template v-else>

    <div class="row">
      <label class="col-2 text-right col-form-label col-form-label-sm"></label>
      <div class="col-9">
        <div class="checkbox checkbox-primary">
          <input id="isRecommend" type="checkbox" v-model="isRecommend" />
          <label for="isRecommend" class="mr-2">推荐</label>
          <input id="isHot" type="checkbox" v-model="isHot" />
          <label for="isHot" class="mr-2">热点</label>
          <input id="isColor" type="checkbox" v-model="isColor" />
          <label for="isColor" class="mr-2">醒目</label>
          <input id="isTop" type="checkbox" v-model="isTop" />
          <label for="isTop" class="mr-2">置顶</label>
        </div>
      </div>
      <div class="col-1 help-block"></div>
    </div>

  </template>
</div>

<hr />

<div class="text-right mr-1">
  <button v-on:click="btnSubmitClick" type="button" class="btn btn-primary m-l-5">确 定</button>
  <button type="button" class="btn btn-default m-l-5" onclick="window.parent.layer.closeAll()">取 消</button>
</div>

@section Scripts{
<script src="contentsLayerAttributes.js" type="text/javascript"></script> }