@{ Layout = "../Shared/_LayoutLayer.cshtml"; }

<el-upload
  :action="$urlUpload"
  :with-credentials="true"
  list-type="picture-card"
  :before-upload="uploadBefore"
  :on-preview="uploadPictureCardPreview"
  :before-upload="uploadBefore"
  :on-progress="uploadProgress"
  :on-success="uploadSuccess"
  :on-error="uploadError"
  :on-remove="uploadRemove"
  :multiple="true">
  <i class="el-icon-plus"></i>
</el-upload>

<el-dialog :visible.sync="dialogVisible">
  <img width="100%" :src="dialogImageUrl" alt="">
</el-dialog>

<hr />

<div class="text-right mr-1 mb-3">
  <el-button size="small" type="primary" v-on:click="btnSubmitClick">确 定</el-button>
  <el-button size="small" v-on:click="btnCancelClick">取 消</el-button>
</div>

@section Scripts{
  <script src="libraryLayerImage.js" type="text/javascript"></script>
}