@page
@{ Layout = "../shared/_layout"; }
@section Styles{
  <style>
    .el-badge__content.is-fixed {
      top: 16px;
      right: 4px;
      border: 0;
    }
  </style>
}

<el-menu :default-active="pageType" mode="horizontal"
  background-color="#545c64"
  text-color="#fff"
  active-text-color="#ffd04b"
  v-on:select="handleSelect">
  <el-menu-item index="1">
      <el-link :underline="false">
        <el-badge type="primary" :value="enabledPackages.length">已启用</el-badge>
      </el-link>
  </el-menu-item>
  <el-menu-item index="2">
    <el-link :underline="false">
      <el-badge type="warning" :value="disabledPackages.length">已禁用</el-badge>
    </el-link>
  </el-menu-item>
  <el-menu-item index="3" v-if="errorPackages.length > 0">
    <el-link :underline="false">
      <el-badge :value="errorPackages.length">运行错误</el-badge>
    </el-link>
  </el-menu-item>
  <el-menu-item index="4" v-if="updatePackages.length > 0">
    <el-link :underline="false">
      <el-badge type="warning" :value="updatePackages.length">发现新版本</el-badge>
    </el-link>
  </el-menu-item>
</el-menu>

<el-card class="box-card">

  <div slot="header" class="clearfix">
    <span>管理插件</span>
    <el-button style="float: right; padding: 10px; margin-top: -8px;" type="warning" icon="el-icon-refresh" v-on:click="btnReload">重新加载所有插件</el-button>
  </div>

  <div v-if="pageType === '4'" style="margin-bottom: 10px;">
    <el-alert type="warning">
      发现以下插件发布了新版本，请点击升级插件按钮开始升级
    </el-alert>
  </div>
  

  <el-table v-if="pageType == '1'" :data="enabledPackages" style="width: 100%">
    <el-table-column label="LOGO" width="80" align="center">
      <template slot-scope="scope">
        <img :src="scope.row.iconUrl || utils.getAssetsUrl('images/favicon.png')" width="48" height="48">
      </template>
    </el-table-column>
    <el-table-column label="插件Id">
      <template slot-scope="scope">
        <el-link :underline="false" type="primary" :href="utils.getPluginsUrl('view', {pluginId: scope.row.pluginId, returnUrl: location.href})">{{ scope.row.pluginId }}</el-link>
      </template>
    </el-table-column>
    <el-table-column label="插件名称">
      <template slot-scope="scope">
        {{ scope.row.name }}
      </template>
    </el-table-column>
    <el-table-column label="版本号">
      <template slot-scope="scope">
        {{ scope.row.version }}
      </template>
    </el-table-column>
    <el-table-column label="作者">
      <template slot-scope="scope">
        {{ scope.row.authors }}
      </template>
    </el-table-column>
    <el-table-column label="插件介绍">
      <template slot-scope="scope">
        {{ scope.row.description }}
      </template>
    </el-table-column>
    <el-table-column label="操作" width="100">
      <template slot-scope="scope">
        <el-link
          :underline="false"
          v-on:click="enablePackage(scope.row)"
          type="primary">
          {{ scope.row.isDisabled ? '启用' : '禁用' }}
        </el-link>
        <el-link
          :underline="false"
          type="danger"
          v-on:click="deletePackage(scope.row)">
          删除插件
        </el-link>
      </template>
    </el-table-column>
  </el-table>

  <el-table v-else-if="pageType == '2'" :data="disabledPackages" style="width: 100%">
    <el-table-column label="LOGO" width="80" align="center">
      <template slot-scope="scope">
        <img :src="scope.row.metadata.iconUrl || utils.getAssetsUrl('images/favicon.png')" width="48" height="48">
      </template>
    </el-table-column>
    <el-table-column label="插件Id">
      <template slot-scope="scope">
        <el-link :underline="false" type="primary" :href="utils.getPluginsUrl('view', {pluginId: scope.row.id, returnUrl: location.href})">{{ scope.row.id }}</el-link>
      </template>
    </el-table-column>
    <el-table-column label="插件名称">
      <template slot-scope="scope">
        {{ scope.row.metadata.title }}
      </template>
    </el-table-column>
    <el-table-column label="版本号">
      <template slot-scope="scope">
        {{ scope.row.metadata.version }}
      </template>
    </el-table-column>
    <el-table-column label="作者">
      <template slot-scope="scope">
        {{ scope.row.metadata.owners }}
      </template>
    </el-table-column>
    <el-table-column label="插件介绍">
      <template slot-scope="scope">
        {{ scope.row.metadata.description }}
      </template>
    </el-table-column>
    <el-table-column label="操作" width="100">
      <template slot-scope="scope">
        <el-link
          :underline="false"
          v-on:click="enablePackage(scope.row)"
          type="primary">
          {{ scope.row.isDisabled ? '启用' : '禁用' }}
        </el-link>
        <el-link
          :underline="false"
          type="danger"
          v-on:click="deletePackage(scope.row)">
          删除插件
        </el-link>
      </template>
    </el-table-column>
  </el-table>

  <el-table v-else-if="pageType == '3'" :data="errorPackages" style="width: 100%">
    <el-table-column label="插件Id" width="200">
      <template slot-scope="scope">
        <el-link :underline="false" type="primary" :href="utils.getPluginsUrl('view', {pluginId: scope.row.id, returnUrl: location.href})">{{ scope.row.id }}</el-link>
      </template>
    </el-table-column>
    <el-table-column prop="errorMessage" label="错误详情"></el-table-column>
    <el-table-column label="操作" width="100">
      <template slot-scope="scope">
        <el-link
          :underline="false"
          type="danger"
          v-on:click="deletePackage(scope.row)">
          删除插件
        </el-link>
      </template>
    </el-table-column>
  </el-table>

  <el-table v-else-if="pageType == '4'" :data="updatePackages" style="width: 100%">
    <el-table-column label="LOGO" width="80" align="center">
      <template slot-scope="scope">
        <img :src="scope.row.metadata.iconUrl || utils.getAssetsUrl('images/favicon.png')" width="48" height="48">
      </template>
    </el-table-column>
    <el-table-column label="插件Id">
      <template slot-scope="scope">
        <el-link :underline="false" type="primary" :href="utils.getPluginsUrl('view', {pluginId: scope.row.updatePackage.pluginId, returnUrl: location.href})">{{ scope.row.updatePackage.pluginId }}</el-link>
      </template>
    </el-table-column>
    <el-table-column label="插件名称">
      <template slot-scope="scope">
        {{ scope.row.metadata.title }}
      </template>
    </el-table-column>
    <el-table-column label="已安装版本">
      <template slot-scope="scope">
        {{ scope.row.metadata ? scope.row.metadata.version : '' }}
      </template>
    </el-table-column>
    <el-table-column label="新版本">
      <template slot-scope="scope">
        {{ scope.row.updatePackage.version }}
      </template>
    </el-table-column>
    <el-table-column label="更新说明">
      <template slot-scope="scope">
        {{ scope.row.updatePackage.releaseNotes }}
      </template>
    </el-table-column>
    <el-table-column label="发布时间">
      <template slot-scope="scope">
        {{ scope.row.updatePackage.published }}
      </template>
    </el-table-column>
    <el-table-column label="操作" width="100">
      <template slot-scope="scope">
        <el-link
          :underline="false"
          type="warning"
          :href="utils.getPluginsUrl('install', {isUpdate: true, pluginIds: package.id})">
          插件升级
        </el-link>
      </template>
    </el-table-column>
  </el-table>
  
  <div v-if="pageType === '4'">
    <div style="height: 10px"></div>
    <el-divider></el-divider>
    <div style="height: 10px"></div>

    <el-button
      size="small"
      type="warning"
      v-on:click="location.href = utils.getPluginsUrl('install', {isUpdate: true, pluginIds: updatePackageIds.join(',')})">
      一键升级所有插件
    </el-button>
  </div>

</el-card>

@section Scripts{
<script src="/admin/assets/js/plugins/manage.js" type="text/javascript"></script>
}
