@page
@{ Layout = "_Layout"; }

<div style="height: 10px"></div>
<el-form :inline="true" :model="formInline" size="mini">
  <el-form-item label="站点">
    <el-cascader
    ref="sites"
    :options="siteOptions"
    :props="{ multiple: true, checkStrictly: true }"
    clearable></el-cascader>
  </el-form-item>
  <el-form-item label="类型">
    <el-select v-model="formInline.logType" placeholder="请选择">
      <el-option label="<全部>" value=""></el-option>
      <el-option label="栏目相关记录" value="Channel"></el-option>
      <el-option label="内容相关记录" value="Content"></el-option>
    </el-select>
  </el-form-item>
  <el-form-item label="时间：从">
    <el-date-picker
      v-model="formInline.dateFrom"
      type="date"
      placeholder="选择开始日期">
    </el-date-picker>
  </el-form-item>
  <el-form-item label="到">
    <el-date-picker
      v-model="formInline.dateTo"
      type="date"
      placeholder="选择结束日期">
    </el-date-picker>
  </el-form-item>
  <el-form-item label="管理员">
    <el-input v-model="formInline.userName" placeholder="管理员"></el-input>
  </el-form-item>
  <el-form-item label="关键字">
    <el-input v-model="formInline.keyword" placeholder="关键字"></el-input>
  </el-form-item>
  
  <el-form-item>
    <el-button type="primary" v-on:click="btnSearchClick">查询</el-button>
  </el-form-item>
</el-form>

<el-table
  :data="items"
  style="width: 100%">
  <el-table-column
    label="站点名称">
    <template slot-scope="scope">
      <el-link :underline="false" type="primary" :href="scope.row.webUrl" target="_blank">{{scope.row.siteName}}</el-link>
    </template>
  </el-table-column>
  <el-table-column
    label="管理员">
    <template slot-scope="scope">
      <el-link
        :underline="false"
        v-on:click="btnAdminClick(scope.row.adminName)"
        type="primary">
        {{ scope.row.adminName }}
      </el-link>
    </template>
  </el-table-column>
  <el-table-column
    prop="ipAddress"
    label="IP地址">
  </el-table-column>
  <el-table-column
    prop="createdDate"
    width="180"
    label="日期">
  </el-table-column>
  <el-table-column
    prop="action"
    label="动作">
  </el-table-column>
  <el-table-column
    prop="summary"
    label="描述">
  </el-table-column>
</el-table>

<el-row style="margin: 10px">
  <el-col :span="24" align="center">
    <el-pagination
      v-on:current-change="handleCurrentChange"
      :current-page="formInline.currentPage"
      :page-size="formInline.limit"
      layout="total, prev, pager, next, jumper"
      :total="count">
    </el-pagination>
  </el-col>
</el-row>

<el-row>
  <el-divider></el-divider>
  <div style="height: 10px"></div>

  <el-button type="primary" size="small" v-on:click="btnDeleteClick">清空日志</el-button>
</el-row>

@section Scripts{
<script src="/sitefiles/assets/js/admin/settings/logsSite.js" type="text/javascript"></script> }