@page
@{ Layout = "_Layout"; }

<el-card class="box-card">
  <div slot="header" class="clearfix">
    <span>环境信息</span>
  </div>
  <div class="text item">
    <el-table
      class="headerless"
      :data="environments"
      style="width: 100%">
      <el-table-column
        width="280">
        <template slot-scope="scope">
          <strong>{{scope.row.key}}</strong>
        </template>
      </el-table-column>
      <el-table-column>
        <template slot-scope="scope">
          {{scope.row.value}}
        </template>
      </el-table-column>
    </el-table>
  </div>
</el-card>

<div style="height: 10px;"></div>

<el-card class="box-card">
  <div slot="header" class="clearfix">
    <span>配置信息</span>
  </div>
  <div class="text item">
    <el-table
      class="headerless"
      :data="settings"
      style="width: 100%">
      <el-table-column
        width="280">
        <template slot-scope="scope">
          <strong>{{scope.row.key}}</strong>
        </template>
      </el-table-column>
      <el-table-column>
        <template slot-scope="scope">
          {{scope.row.value}}
        </template>
      </el-table-column>
    </el-table>
  </div>
</el-card>

@section Scripts{ <script src="/sitefiles/assets/js/admin/settings/utilitiesParameters.js" type="text/javascript"></script> }