<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>SiteServer CMS - 用户中心</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta content="SiteServer CMS 用户中心" name="description" />
  <meta content="SiteServer CMS" name="author" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="shortcut icon" href="assets/images/favicon.ico">
  <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/font-awesome-4.7.0.min.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/ionicons-2.0.0.min.css" rel="stylesheet" type="text/css" />
  <link href="assets/css/siteserver.min.css" rel="stylesheet" type="text/css" />
  <script src="assets/lib/modernizr.min.js"></script>
</head>

<body class="p-0">

  <div id="main">

    <template v-if="pageConfig">

      <header id="topnav" style="position: absolute;">
        <div class="topbar-main">
          <div class="container-fluid">

            <div class="logo">
              <a v-if="pageConfig.isHomeLogo" href="index.html" class="logo">
                <img :src="pageConfig.homeLogoUrl" style="max-height: 50px;">
              </a>
              <a v-else href="index.html" class="logo">
                <span class="logo-small" style="font-size: 14px;">{{ pageConfig.homeTitle }}</span>
                <span class="logo-large">{{ pageConfig.homeTitle }}</span>
              </a>
            </div>

            <div class="menu-extras topbar-custom">
              <ul class="list-inline float-right mb-0">
                <li class="menu-item list-inline-item">
                  <a class="navbar-toggle nav-link">
                    <div class="lines">
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                  </a>
                </li>

                <!-- <li class="list-inline-item dropdown notification-list">
                  <a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href="#" role="button"
                    aria-haspopup="false" aria-expanded="false">
                    <i class="mdi mdi-bell noti-icon"></i>
                    <span class="badge badge-pink noti-icon-badge">4</span>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg" aria-labelledby="Preview">
                    <div class="dropdown-item noti-title">
                      <h5 class="font-16"><span class="badge badge-danger float-right">5</span>Notification</h5>
                    </div>

                    <a href="javascript:;" class="dropdown-item notify-item">
                      <div class="notify-icon bg-success"><i class="mdi mdi-comment-account"></i></div>
                      <p class="notify-details">Robert S. Taylor commented on Admin<small class="text-muted">1 min ago</small></p>
                    </a>

                    <a href="javascript:;" class="dropdown-item notify-item">
                      <div class="notify-icon bg-info"><i class="mdi mdi-account"></i></div>
                      <p class="notify-details">New user registered.<small class="text-muted">1 min ago</small></p>
                    </a>

                    <a href="javascript:;" class="dropdown-item notify-item">
                      <div class="notify-icon bg-danger"><i class="mdi mdi-airplane"></i></div>
                      <p class="notify-details">Carlos Crouch liked <b>Admin</b><small class="text-muted">1 min ago</small></p>
                    </a>

                    <a href="javascript:;" class="dropdown-item notify-item notify-all">
                      View All
                    </a>
                  </div>
                </li> -->

                <li class="list-inline-item dropdown notification-list">
                  <a class="nav-link dropdown-toggle nav-user" data-toggle="dropdown" href="#" role="button"
                    aria-haspopup="false" aria-expanded="false">
                    <img :src="avatarUrl" class="rounded-circle">
                  </a>
                  <div class="dropdown-menu dropdown-menu-right profile-dropdown " aria-labelledby="Preview">
                    <div class="dropdown-item noti-title">
                      <h5 class="text-overflow">
                        <small class="text-white">欢迎！{{ pageUser.displayName || pageUser.userName }}</small>
                      </h5>
                    </div>
                    <a href="#pages/profile.html" class="dropdown-item notify-item">
                      <i class="mdi mdi-account"></i> <span>个人资料</span>
                    </a>
                    <a href="#pages/settings.html" class="dropdown-item notify-item">
                      <i class="mdi mdi-settings"></i> <span>账户设置</span>
                    </a>
                    <a href="pages/logout.html" class="dropdown-item notify-item">
                      <i class="mdi mdi-logout"></i> <span>退出登录</span>
                    </a>
                  </div>
                </li>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>

        <div class="navbar-custom" v-if="pageMenus && pageMenus.length > 0">
          <div class="container-fluid">
            <div id="navigation">
              <ul class="navigation-menu">

                <li v-for="menu in pageMenus" class="has-submenu">
                  <a :href="(menu.menus && menu.menus.length > 0 ? 'javascript:;' : ((!menu.target || menu.target === '_self') ? '#' + menu.href : menu.href))"
                    :target="(menu.menus && menu.menus.length > 0 ? '' : menu.target)">
                    <i v-if="menu.iconClass" :class="menu.iconClass"></i>
                    {{ menu.text }}
                  </a>
                  <ul v-if="menu.menus && menu.menus.length > 0" class="submenu">
                    <li v-for="child in menu.menus">
                      <a :href="(!child.target || child.target === '_self') ? '#' + child.href : child.href" :target="child.target">
                        <i v-if="child.iconClass" :class="child.iconClass" style="color: rgba(42,49,66,.7);margin-right:5px"></i>
                        {{ child.text }}
                      </a>
                    </li>
                  </ul>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </header>

      <iframe id="frmMain" name="frmMain" frameborder="0" :src="pageUrl" style="width: 100%; position: absolute;display: none"></iframe>

    </template>
    <template v-else>
      <div class="text-center" style="margin-top: 100px">
        <img class="mt-3" src="assets/images/loading.gif" />
        <p class="lead mt-3 text-nowrap">载入中，请稍后...</p>
      </div>
    </template>

  </div>

</body>

</html>

<script src="assets/lib/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="assets/lib/iframe-resizer-3.6.2/iframeResizer.min.js" type="text/javascript"></script>
<script src="assets/lib/popper.min.js"></script>
<script src="assets/lib/bootstrap.min.js"></script>
<script src="assets/lib/lodash-4.17.10.min.js" type="text/javascript"></script>
<script src="assets/lib/layer-3.1.1/layer.js" type="text/javascript"></script>
<script src="assets/lib/sweetalert2-7.28.4.all.min.js" type="text/javascript"></script>
<script src="assets/lib/vue-2.5.16.min.js" type="text/javascript"></script>
<script src="assets/lib/vee-validate-2.1.0.js"></script>
<script src="assets/lib/vee-validate-locale-zh_CN-2.1.0.js"></script>
<script src="assets/lib/js.cookie-2.2.0.js"></script>
<script src="assets/js/utils.js" type="text/javascript"></script>
<script src="config.js" type="text/javascript"></script>

<script src="assets/js/index.js" type="text/javascript"></script>