// Color variables
$white: #ffffff;
$primary: #00b19d;
$success: #3bafda;
$info: #3ddcf7;
$warning: #ffaa00;
$danger: #ef5350;
$dark: #2a3142;
$inverse: #4c5667;
$pink: #f76397;
$purple: #7266ba;
$muted: #98a6ad;
$lightgray: #dddddd;
$light: #eeeeee;
$lightdark3: #333333;
$lightdark4: #444444;
$lightdark5: #555555;
$light5: #f5f5f5;
$light3: #f3f3f3;
$light9: #f9f9f9;
$light-alt: #fafafa;
$lightdark7: #797979;
$lightdark-alt: #cccccc;
// Width variables
$width: 100%;
// Height variables
$height: 100%;
// Fonts
$font-primary: "Microsoft YaHei", "Arial", sans-serif;