@page
@{ Layout = "./Shared/_LayoutRoot.cshtml"; }

<div class="card" v-bind:style="{ display: message ? '' : 'none' }" style="display: none">
  <div class="card-header" style="border-top: 3px solid #ef5350 !important;border-radius: 3px;">
    <strong>错误信息</strong>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p style="word-wrap: break-word;" v-html="message" v-show="message"></p>
      <p style="word-wrap: break-word;" v-html="stacktrace" v-show="stacktrace"></p>
      <p style="word-wrap: break-word;" v-html="addDate" v-show="addDate"></p>
    </blockquote>
  </div>
  <div class="card-footer text-muted">
    <span class="m-r-5">如需帮助，请点击链接向 SiteServer CMS 官方 <a target="_blank" v-bind:href="'https://github.com/siteserver/cms/issues/new?title=' + message + '&body=' + stacktrace">提交问题</a></span>
  </div>
</div>

@section Scripts{
  <script src="error.js" type="text/javascript"></script> }