@page
@{ Layout = "./Shared/_LayoutRoot.cshtml"; }

<div v-if="forbidden">
  <el-alert
    title="错误提示"
    type="error"
    description="系统已安装，安装向导被禁用！"
    :closable="false"
    show-icon>
  </el-alert>
</div>

<el-card v-else class="box-card">
  <div slot="header" class="clearfix">
    <span>SiteServer CMS 安装向导</span>
  </div>

  <el-steps :active="pageIndex" class="mb-3" finish-status="success">
    <el-step title="许可协议"></el-step>
    <el-step title="环境检测"></el-step>
    <el-step title="数据库设置"></el-step>
    <el-step title="缓存设置"></el-step>
    <el-step title="安装产品"></el-step>
    <el-step title="安装完成"></el-step>
  </el-steps>

  <div v-if="pageIndex === 0">
    <div class="form-group">
      <label class="col-form-label">
        SiteServer CMS 开源协议（GPL-3.0）
        <img src="assets/images/printerIcon.gif">
        <a href="eula.html" target="new"> 可打印版本</a>
      </label>
    </div>
    <iframe style="border-color:#F5F5F5; border-width:1px;" scrolling="yes" src="eula.html" height="320" width="100%"></iframe>
    <hr />

    <div class="text-center">
      <div>
        <el-checkbox v-model="agreement">我已经阅读并同意此协议</el-checkbox>
      </div>
      
      <el-button :disabled="!agreement" v-on:click="btnNextClick" type="primary">下一步</el-button>
    </div>
  </div>

  <div v-if="pageIndex === 1">
    <div class="form-group">
      <label class="col-form-label">
        服务器信息
      </label>
      <small class="form-text text-muted">下表显示当前服务器环境</small>
    </div>

    <div class="panel panel-default">
      <div class="panel-body p-0">
        <div class="table-responsive">
          <table class="tablesaw table table-hover m-b-0 tablesaw-stack">
            <thead>
              <tr>
                <th>参数</th>
                <th>值</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>服务器域名</td>
                <td>
                  {{ location.host }}
                </td>
              </tr>
              <tr>
                <td>SiteServer 版本</td>
                <td>
                  {{ productVersion }}
                </td>
              </tr>
              <tr>
                <td>.NET版本</td>
                <td>
                  {{ netVersion }}
                </td>
              </tr>
              <tr>
                <td>系统根目录</td>
                <td>
                  {{ contentRootPath }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-form-label">
        目录权限检测
      </label>
      <small class="form-text text-muted">
        系统要求必须满足下列所有的目录权限全部可读写的需求才能使用，如果没有相关权限请添加。
      </small>
    </div>

    <div class="panel panel-default">
      <div class="panel-body p-0">
        <div class="table-responsive">
          <el-alert v-if="!rootWritable || !siteFilesWritable" show-icon :closable="false" class="mb-2" title="系统检测到文件夹权限不足，您需要赋予根目录 NETWORK SERVICE 以及 IIS_IUSRS 读写权限" type="error"></el-alert>
          <table class="tablesaw table table-hover m-b-0 tablesaw-stack">
            <thead>
              <tr>
                <th>目录名</th>
                <th>读写权限</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>/*</td>
                <td>
                  <span v-if="rootWritable" style="color: green">[√]</span>
                  <span v-else style="color: red">[×]</span>
                </td>
              </tr>
              <tr>
                <td>/SiteFiles/*</td>
                <td>
                  <span v-if="siteFilesWritable" style="color: green">[√]</span>
                  <span v-else style="color: red">[×]</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <hr />

    <div class="text-center">
      <el-button v-on:click="btnPreviousClick">上一步</el-button>
      <el-button :disabled="!rootWritable || !siteFilesWritable" v-on:click="btnNextClick" type="primary">下一步</el-button>
    </div>
  </div>

  <div v-if="pageIndex === 2">

    <el-alert v-if="connectErrorMessage" show-icon :closable="false" class="mb-2" :title="connectErrorMessage" type="error"></el-alert>

    <el-form ref="form" size="medium" :model="form" label-width="120px">
      <el-form-item label="数据库类型">
        <el-radio v-model="form.databaseType" v-for="databaseType in databaseTypes" :label="databaseType.value">{{ databaseType.label }}</el-radio>
      </el-form-item>

      <template v-if="!databaseNames">
        <el-form-item label="数据库主机">
          <el-input v-model="form.server" placeholder="请填写数据库的IP地址或域名地址"></el-input>
        </el-form-item>
        <el-form-item label="数据库端口">
          <el-radio v-model="form.isDefaultPort" :label="true">默认数据库端口</el-radio>
          <el-radio v-model="form.isDefaultPort" :label="false">自定义数据库端口</el-radio>
        </el-form-item>
        <el-form-item v-if="!form.isDefaultPort" label="自定义端口">
          <el-input v-model="form.port" placeholder="连接数据库的端口"></el-input>
        </el-form-item>
        <el-form-item label="数据库用户名">
          <el-input v-model="form.userName" placeholder="连接数据库的用户名"></el-input>
        </el-form-item>
        <el-form-item label="数据库密码">
          <el-input v-model="form.password" placeholder="连接数据库的密码"></el-input>
        </el-form-item>
        <el-form-item v-if="form.databaseType === 'Oracle'" label="连接为">
          <el-radio v-model="form.oraclePrivilege" v-for="oraclePrivilege in oraclePrivileges" :label="oraclePrivilege.value">{{ oraclePrivilege.label }}</el-radio>
        </el-form-item>
        <el-form-item v-if="form.databaseType === 'Oracle'" label="数据库实例">
          <el-radio v-model="form.oracleIsSid" :label="true">SID</el-radio>
          <el-radio v-model="form.oracleIsSid" :label="false">Service name</el-radio>
        </el-form-item>
        <el-form-item v-if="form.databaseType === 'Oracle'" label="实例名称">
          <el-input v-model="form.oracleDatabase" placeholder="指定需要安装的Oracle数据库实例名称"></el-input>
        </el-form-item>
      </template>
      <template v-else>
        <el-form-item label="选择数据库">
          <el-select v-model="form.databaseName" placeholder="请选择需要安装的数据库实例">
            <el-option  v-for="databaseName in databaseNames" :label="databaseName.value">{{ databaseName.label }}</el-option>
          </el-select>
        </el-form-item>
      </template>
      
    </el-form>

    <hr />

    <div class="text-center">
      <el-button v-on:click="btnPreviousClick">上一步</el-button>
      <el-button v-on:click="btnConnectClick" type="primary">下一步</el-button>
    </div>
  </div>

</el-card>



@section Scripts{
<script src="install.js" type="text/javascript"></script> }