<!DOCTYPE html>
<html> 
<head> 
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>{title}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="{serviceUrl}/style/page.css"/>
    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="{serviceUrl}/style/pc-page.css"/>
    <![endif]-->
    <link media="screen and (min-width:1000px)" rel="stylesheet" type="text/css" href="{serviceUrl}/style/pc-page.css"/>
    <style>
        body{ -webkit-touch-callout: none; -webkit-text-size-adjust: none; }
    </style>
    <style>
        #nickname{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;max-width:90%;}
        ol,ul{list-style-position:inside;}
        #activity-detail .page-content .text{font-size:16px;}
     </style>
</head> 

<body id="activity-detail">
            <img width="12px" style="position: absolute;top:-1000px;" src="{serviceUrl}/images/ico_loading.gif">
        
        <div class="page-bizinfo">
            <div class="header">
            <h1 id="activity-name">{title}</h1>
            <p class="activity-info">
                <span id="post-date" class="activity-meta no-extra">{addDate}</span>
                <a href="javascript:viewProfile();" id="post-user" class="activity-meta">
                    <span class="text-ellipsis">{weixinName}</span><i class="icon_link_arrow"></i>
                </a>
            </p>
            </div>
        </div>
        
        <div id="page-content" class="page-content">
                                    
            <div class="media" id="media">
              {image}
            </div>
            <div class="text">
              {content}
            </div>
            <p class="page-toolbar" style="text-align:right">
                <!--<a href="http://www.gexia.com" class="page-imform">{poweredBy}</a>-->
                {poweredBy}
            </p>
        </div>

</body>
</html>

