<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
    <Tab id="Plugins" text="插件管理" permissions="plugins_add,plugins_management" />
    <Tab id="Settings" text="系统管理" permissions="settings_siteAdd,settings_site,settings_admin,settings_user,settings_chart,settings_log,settings_utility" />
  </Tabs>
</TabCollection>
