<!DOCTYPE html>
<html lang="zh-CN">
  <stl:include file="/include/head1.html"></stl:include>
  <body>
    <stl:include file="/include/header.html"></stl:include>
    <div class="clearfix"></div>
    <div class="maincon">
      <stl:include file="/include/banner.html"></stl:include>
      <div class="container neicon">
        <div class="row">
          <stl:include file="/include/left.html"></stl:include>
          <div class="col-md-9">
            <div class="listcon">
              <stl:include file="/include/location.html"></stl:include>
              <div class="pagecon">
                <h1 class="pagetit text-center">
                  <stl:content type="Title"></stl:content>
                </h1>
                <div class="pagecontent">
                  <stl:contents totalNum="1">
                    <stl:content type="Content"></stl:content>
                  </stl:contents>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>  
    <stl:include file="/include/footer.html"></stl:include>
    <stl:include file="/include/right_bar.html"></stl:include>
    <stl:include file="/include/foot_js.html"></stl:include>
    
  </body>
</html>
