<!DOCTYPE html>
<html lang="zh-CN">
  <stl:include file="/include/head1.html"></stl:include>
  <body>
    <stl:include file="/include/header.html"></stl:include>
    <div class="clearfix"></div>
    <div class="maincon">
      <stl:include file="/include/banner.html"></stl:include>
      <div class="container neicon">
        <div class="row">
          <stl:include file="/include/left.html"></stl:include>
          <div class="col-md-9">
            <div class="listcon">
              <stl:include file="/include/location.html"></stl:include>
              <div class="newsneilist">
                <stl:pageContents pageNum="5" order="AddDate">
                  <div class="newslistpart">
                    <div class="row">
                      <div class="col-md-4">
                        <stl:a>
                          <img width="270" height="200" src="{Content.ImageUrl}" class="attachment-newslist-thumb size-newslist-thumb wp-post-image" alt="{Content.Title}"/>      </stl:a>
                      </div>
                      <div class="col-md-8">
                        <h1 class="casetitle">
                          <stl:a>
                            <stl:content type="Title" wordNum="45" ellipsis="..."></stl:content>                      
                          </stl:a>
                        </h1>
                        <div class="newstag">
                          <span>发布时间：<stl:content type="AddDate" formatString="yyyy-MM-dd"></stl:content></span>
                        </div>
                        <p class="newszy"><stl:content type="Summary" wordNum="140" ellipsis="..."></stl:content></p>
                      </div>
                    </div>
                  </div>
                </stl:pageContents>
              </div>
              <div class="page_navi text-center">
                <stl:pageItems autoHide="true">
                  <stl:pageItem type="PreviousPage">
                    <stl:yes>
                      <a href="{Current.Url}" class="prev">« 上一页</a>
                    </stl:yes>
                    <stl:no>
                      <a href="javascript:;" class="prev">« 上一页</a>
                    </stl:no>
                  </stl:pageItem>
                  
                  <stl:pageItem type="PageNavigation" listNum="5">
                    <stl:yes>
                      <a href="{Current.Url}">{Current.Num}</a>
                    </stl:yes>
                    <stl:no>
                      <a href="javascript:;" class="current">{Current.Num}</a>
                    </stl:no>
                  </stl:pageItem>
                  
                  <stl:pageItem type="NextPage">
                    <stl:yes>
                      <a href="{Current.Url}" class="next">下一页 »</a>
                    </stl:yes>
                    <stl:no>
                      <a href="javascript:;" class="next">下一页 »</a>
                    </stl:no>
                  </stl:pageItem>
                </stl:pageItems>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
    <stl:include file="/include/footer.html"></stl:include>
    <stl:include file="/include/right_bar.html"></stl:include>
    <stl:include file="/include/foot_js.html"></stl:include>
  </body>
</html>
