*{font:12px/1.5 'Microsoft Yahei','Tahoma','Simsun';color:#333333;}
input,button,select,textarea{font-family:"Microsoft Yahei",'Tahoma','Simsun';}
body{padding:0;margin:0;background:white;color:#333333;margin-top:5px; margin-bottom:5px;text-align:left}
img{border:0;}
form{padding:0;margin:0;}
td{vertical-align:middle;}
a, a:link, a:visited, a:hover, a:active{font-weight:normal;font-size:12px;line-height:18px;text-decoration:none}
.reverse a:link, .reverse a:visited, .reverse a:active{text-decoration:none;}
.reverse:hover{color:white;text-decoration:none;}
.emphasize{font-weight:bold;}
.clearer{font-size:0px;line-height:0px;margin:0;padding:0;clear:both;display:block;height:0;}
.colordiv{line-height:25px;text-align:left;}
.grey{color:#999;}
.toptitle, .toptitle a:link, .toptitle a:hover, .toptitle a:visited{height:29px;line-height:29px;color:#FFFFFF;font-size:14px;padding:0 7px;text-decoration:none;}
.toptitle_r, .toptitle_r a:link, .toptitle_r a:hover, .toptitle_r a:visited{height:29px;line-height:29px;color:#FFFFFF;font-size:12px;padding:0 4px;text-decoration:none;}
.topline{HEIGHT:1px;}
.lefttab{margin:0;padding:0;line-height:33px;height:33px;width:100%;text-align:center;font-weight:bold;}
.lefttab A:link, .lefttab A:visited, .lefttab A:hover, .lefttab A:active{font-weight:bold;}
.lefttab2{margin:0;padding:0;line-height:25px;height:25px;width:100%;border:1px #FFF solid;text-align:center;font-weight:bold;}
.lefttab2 A:link, .lefttab A:visited, .lefttab A:hover, .lefttab A:active{font-weight:bold;}
.tab{margin-top:0px;margin-bottom:0px;width:95%;text-align:left;}
.tab, .tab A:link, .tab A:visited, .tab A:hover, .tab A:active{line-height:28px;}
.tabOn{FONT-WEIGHT:900;width:70px;text-align:center;float:left;margin-right:1px;cursor:pointer}
.tabOff{width:70px;text-align:center;float:left;margin-right:1px;cursor:pointer}
.tabOn6{FONT-WEIGHT:900;width:120px;text-align:center;float:left;margin-right:1px;cursor:pointer}
.tabOff6{width:120px;text-align:center;float:left;margin-right:1px;cursor:pointer}
.column{line-height:18px;margin-top:5px;width:95%;margin-bottom:15px;margin-left:auto;margin-right:auto;}
.columntab{line-height:18px;margin-top:5px;width:95%;margin-bottom:15px;margin-left:auto;margin-right:auto;}
.columntitle{margin:0;padding:3px;line-height:24px;font-size:14px;padding-left:17px;color:#000000;text-align:left;}
.columntitle span{font-size:14px;color:#000000;}
.columntitle A:link, .columntitle A:visited, .columntitle A:hover, .columntitle A:active{font-size:14px;}
.columnsubtitle{line-height:25px;text-align:left;padding-left:10px;padding-right:10px;}
.columncontent{padding:10px 5px;margin:0px;text-align:left;}
.windowcontent{padding:0 10px;margin:0px;text-align:left;}
.colorfocus{border:1px #86a1ba double;background-color:#fff8e6;line-height:20px;font-weight:lighter;padding-left:2px;color:#333333;}
.colorblur, .input_text{border:1px #86a1ba double;background-color:#ffffff;line-height:20px;font-weight:lighter;padding-left:2px;color:#333333;}
input.colorblur, input.colorfocus, .input_text{height:24px;}
select{line-height:22px;font-size:14px;}
.button{padding:0px 15px;height:24px;color:#333;cursor:pointer;}
.summary-title{line-height:26px;height:26px;}
.tdbg{line-height:120%}
.tdbg-dark{line-height:120%}
.gray{color:#999;}
#progressBar{margin:1em 2em 2em 2em;}
#progressBarText{font-weight:bold;padding:5px;}
#progressBarBox{width:350px;height:20px;border:1px inset;background:#eee;}
#progressBarBoxContent{width:0;height:20px;background:#9ACB34;}
#processBar{font-weight:bold;margin-left:2em;}
#uploadWarning{position:relative;margin:2em;}
#uploadWarning p{padding-left:25px;padding-bottom:5px;text-align:left;vertical-align:middle;}
.preview{width:88px;height:80px;border:1px solid #eeeeee;}
.help{border-right:black 1px solid;padding-right:2px;border-top:black 1px solid;padding-left:2px;font-weight:normal;font-size:11px;padding-bottom:2px;border-left:black 1px solid;color:black;padding-top:2px;border-bottom:black 1px solid;background-color:#ffff99;}
.tips{background:url(../pic/tips.gif) no-repeat;background-position:4px 8px;line-height:26px;margin:2px 2px;padding-right:2px;padding-left:18px;padding-bottom:2px;padding-top:2px;text-align:left;border:1px dotted #999999;background-color:#FFFFCC;}
.loading{padding:5px;padding-left:15px;text-align:left;background-color:#FFFFCC;}
.msg_succeed, .msg_failed, .msg_info{text-align:left;width:95%;padding:7px 10px 7px 0;text-indent:32px;border:1px solid #ccc;background-color:#ffc;background-repeat:no-repeat;line-height:24px;}
.msg_succeed{background-image:url(../pic/ico_succeed.gif);background-position:8px 10px;}
.msg_failed{background-image:url(../pic/ico_error.gif);background-position:8px 10px;}
.msg_info{background-image:url(../pic/ico_info.gif);background-position:8px 10px;}
.btn{font-size:12px;}
.btn_empty, .btn_word, .btn_video, .btn_audio, .btn_keywords, .btn_detection, .btn_select{border-style:solid;background-position:5px 5px;background-repeat:no-repeat;text-indent:20px;color:#333;position:relative;cursor:pointer;color:#000000;border-color:#d3d3d3;border-width:1px;background-color:rgb(252, 251, 251);overflow:hidden;padding:0 5px;margin-right:10px;float:left;display:inline-block;height:24px;line-height:24px;}
.btn_empty{text-indent:0px;}
.btn_word{background-image:url("../pic/btn_word.png");}
.btn_video{background-image:url("../pic/btn_video.png");}
.btn_audio{background-image:url("../pic/btn_audio.png");}
.btn_keywords{background-image:url("../pic/btn_keywords.png");}
.btn_detection{background-image:url("../pic/btn_detection.png");}
.btn_select{background-image:url("../pic/btn_select.png");}
.btn_pencil{border-style:solid;position:relative;cursor:pointer;color:#000000;border-color:#d3d3d3;border-width:1px;background-color:rgb(252, 251, 251);overflow:hidden;padding-right:15px;margin-left:5px;float:left;display:inline-block;height:24px;line-height:24px;}
.pencil{background-image:url("../pic/pencil.png");background-color:transparent;left:10px;top:3px;width:13px;height:16px;padding-top:3px;display:inline-block;position:relative;}
.fill_box .addr_base{padding-right:5px;padding-left:5px;margin-right:7px;margin-bottom:5px;float:left;background-color:rgb(229, 229, 229);height:24px;line-height:24px;}
.fill_box .addr_base .addr_del{width:13px;height:13px;overflow:hidden;margin-top:3px;float:left;display:inline-block;background-image:url("../pic/cancel.png");background-color:transparent;}
.fill_box .addr_base b{font-weight:normal;font-size:14px;float:left;display:inline-block;}
.inputTips{background-color:#FFF;width:392px;border:1px solid #817f82;display:none;position:absolute;padding:0;margin-top:0;z-index:9999999;}
.inputTips ul{padding:0;margin:0px;}
.inputTips li{margin:0px;padding:0;border:0 none;cursor:pointer;list-style-type:none;overflow:hidden;text-align:left}
.inputTips li:hover{background-color:rgb(235, 235, 235);}
.inputTips li a{height:25px;width:100%;color:#000;line-height:25px;text-decoration:none;padding-left:2px;font-family:arial;font-size:14px;text-align:left;}
.inputTips li a b{font-weight:bold;font-size:14px;}
.modal-footer{padding:14px 15px 15px;position:relative;top:-5px;}
.modal-header h3{font-weight:normal;}
label{display:inline;padding:0 5px;}
.breadcrumb{margin-bottom:10px;}
.breadcrumb-button{margin-top:10px;}
.nav{margin-bottom:10px;}
.table, .progress{margin-bottom:0;}
.table-noborder tr, .table-noborder td{border:none !important;padding:4px 4px;height:30px;line-height:30px;}
.table-pager{margin-top:10px;margin-bottom:5px;}
.table-pager td{padding:10px;border-width:0;}
.popover{z-index:100;}
.popover-static{display:block;position:relative;width:100%;margin-bottom:20px;box-shadow:none;z-index:100;}
.popover-static td{font-size:14px;}
.popover-static span{color:#999;}
.well{margin-bottom:10px;}
.btn{margin-right:5px;}
.btn-primary{margin-right:10px;}
.btn-group .btn{margin-right:0;}
.form-inline{padding:0 10px;margin:0px;}
.alert{margin-bottom:10px;}
.hidden{display:none}
.thead td{font-size:14px;text-align:center;}
.control-label{width:40px;}
.center, .align-center{text-align:center !important}
.align-right{text-align:right !important}
.noborder, .noborder td{border-width:0;}
.table-fixed{table-layout:fixed}
.input-xxlarge{width:350px;}
table.checkboxlist input, table.radiobuttonlist input{margin-bottom:0;margin-top:0;}
table.checkboxlist label, table.radiobuttonlist label{display:inline;margin-bottom:0;margin-left:5px;margin-top:10px;margin-right:5px;}
table.radiobuttonlist td{border:none;}

.right{text-align:right !important}
.popover {text-align: left !important;}
.specItem span, .specItem div { padding: 5px 10px; margin-right:5px; border-color: #999999; border-width: 1px; border-style: solid; background-color:#fff; display: block; float: left; }
.specItem div { cursor:pointer; margin-bottom: 5px; }
.specItem div.cur { padding: 4px 9px; margin-right:5px; border-color: #c60d0d; border-width: 2px; border-style: solid; background-color:#fff; position:relative; }
.choose { width:85px; display: block; border:1px solid #86A1BA; padding:5px; cursor:pointer; background-color: #fff; color: #999; }
.choose span { display:block; background:url(../pic/down.gif) no-repeat center; width:15px; height:17px; background-color:#E9E9E9; float:right; }
.validate_tr {border: 1px solid #db9a9a;background-color: #ffe8e8;}
.validate_span {float: none;color: #c00 !important;}
.attributeName {background-color: #d9edf7 !important; text-align: right !important; width: 100px;}
.gray, .gray p{color:#999; font-size: 14px; height: 22px; line-height: 20px; margin: 0;}
.table-bordered td{border-left:1px solid #dddddd;border-top:1px solid #dddddd;}
[class^="icon-"],[class*=" icon-"] {font-size: 14px; color: #444;}
