<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <websitePermissions>

    <add name="weixin_info" text="账户信息" />
    <add name="weixin_chart" text="运营图表" />
    <add name="weixin_menu" text="账户菜单" />
    <add name="weixin_textReply" text="文本回复" />
    <add name="weixin_imageReply" text="图文回复" />
    <add name="weixin_setReply" text="账户设置" />
    
    <add name="weixin_coupon" text="优惠券管理" />
    <add name="weixin_scratch" text="刮刮卡管理" />
    <add name="weixin_bigWheel" text="大转盘管理" />
    <add name="weixin_goldEgg" text="砸金蛋管理" />
    <add name="weixin_flap" text="大翻牌管理" />
    <add name="weixin_yaoYao" text="摇摇乐管理" />
    <add name="weixin_vote" text="微投票管理" />
    <add name="weixin_message" text="微留言管理" />
    <add name="weixin_appointment" text="微预约管理" />
    <add name="weixin_conference" text="微会议管理" />
    <add name="weixin_map" text="微导航管理" />
    <add name="weixin_view360" text="360全景管理" />
    <add name="weixin_album" text="微相册管理" />
    <add name="weixin_search" text="微搜索管理" />
    <add name="weixin_store" text="微门店管理" />
    <add name="weixin_wifi" text="微wifi管理" />
    <add name="weixin_card" text="微会员管理" />
    <add name="weixin_collect" text="微征集管理" />

  </websitePermissions>
</Config>
