<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
    <Tab text="创建新站点" href="settings/pageSiteAdd.aspx" permissions="settings_siteAdd" />
    <Tab text="站点管理" href="settings/pageSite.aspx" permissions="settings_site">
      <SubTabs>
        <Tab text="系统站点管理" href="settings/pageSite.aspx" />
        <Tab text="Web访问地址" href="settings/pageSiteUrlWeb.aspx" />
        <Tab text="资源文件访问地址" href="settings/pageSiteUrlAssets.aspx" />
        <Tab text="API访问地址" href="settings/pageSiteUrlApi.aspx" />
        <Tab text="内容表管理" href="settings/pageSiteAuxiliaryTable.aspx" />
        <Tab text="敏感词管理" href="settings/pageSiteKeyword.aspx" />
        <Tab text="站点模板管理" href="settings/pageSiteTemplate.aspx" />
        <Tab text="在线站点模板" href="settings/pageSiteTemplateOnline.aspx" />
      </SubTabs>
    </Tab>
    <Tab text="权限控制" href="settings/pageAdministrator.aspx" permissions="settings_admin">
      <SubTabs>
        <Tab text="管理员管理" href="settings/pageAdministrator.aspx" />
        <Tab text="角色管理" href="settings/pageAdminRole.aspx" />
        <Tab text="管理员设置" href="settings/pageAdminConfiguration.aspx" />
        <Tab text="所属部门管理" href="settings/pageAdminDepartment.aspx" />
        <Tab text="所在区域管理" href="settings/pageAdminArea.aspx" />
        <Tab text="API密钥管理" href="settings/pageAdminAccessTokens.cshtml" />
      </SubTabs>
    </Tab>
    <Tab text="用户管理" href="settings/pageUser.aspx" permissions="settings_user">
      <SubTabs>
        <Tab text="用户管理" href="settings/pageUser.aspx" />
        <Tab text="审核新用户" href="settings/pageUserCheck.aspx" />
        <Tab text="用户设置" href="settings/pageUserConfiguration.aspx" />
      </SubTabs>
    </Tab>
    <Tab text="统计图表" href="settings/pageAnalysisSite.aspx" permissions="settings_chart">
      <SubTabs>
        <Tab text="站点数据统计" href="settings/pageAnalysisSite.aspx" />
        <Tab text="管理员登录统计" href="settings/pageAnalysisAdminLogin.aspx" />
        <Tab text="管理员工作统计" href="settings/pageAnalysisAdminWork.aspx" />
        <Tab text="会员数据统计" href="settings/pageAnalysisUser.aspx" />
      </SubTabs>
    </Tab>
    <Tab text="运行日志" href="settings/pageLogSite.aspx" permissions="settings_log">
      <SubTabs>
        <Tab text="站点日志" href="settings/pageLogSite.aspx" />
        <Tab text="管理员日志" href="settings/pageLogAdmin.aspx" />
        <Tab text="用户日志" href="settings/pageLogUser.aspx" />
        <Tab text="系统错误日志" href="settings/pageLogError.aspx" />
        <Tab text="日志设置" href="settings/pageLogConfiguration.aspx" />
      </SubTabs>
    </Tab>
    <Tab text="实用工具" href="settings/pageUtilityCache.aspx" permissions="settings_utility">
      <SubTabs>
        <Tab text="系统缓存" href="settings/pageUtilityCache.aspx" />
        <Tab text="系统参数查看" href="settings/pageUtilityParameter.aspx" />
        <Tab text="加密字符串" href="settings/pageUtilityEncrypt.aspx" />
        <Tab text="JS脚本压缩" href="settings/pageUtilityJsMin.aspx" />
        <Tab text="清空数据库日志" href="settings/pageUtilityDbLogDelete.aspx" />
      </SubTabs>
    </Tab>
  </Tabs>
</TabCollection>
