<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
    <Tab text="创建新站点" permissions="settings_sitesAdd" iconClass="ion-plus-circled" href="settings/sitesAdd.cshtml" />
    <Tab text="站点管理" permissions="settings_sites,settings_sitesUrl,settings_sitesTables,settings_sitesTemplates,settings_sitesTemplatesOnline" iconClass="ion-earth">
      <SubTabs>
        <Tab text="站点管理" permissions="settings_sites" href="settings/sites.cshtml" />
        <Tab text="站点访问地址" permissions="settings_sitesUrl" href="settings/sitesUrl.cshtml" />
        <Tab text="站点内容表" permissions="settings_sitesTables" href="settings/sitesTables.cshtml" />
        <Tab text="站点模板管理" permissions="settings_sitesTemplates" href="settings/sitesTemplates.cshtml" />
        <Tab text="在线站点模板" permissions="settings_sitesTemplatesOnline" href="settings/sitesTemplatesOnline.cshtml" />
      </SubTabs>
    </Tab>
    <Tab text="管理员管理" permissions="settings_admin,settings_adminRole,settings_adminConfig,settings_adminAccessTokens" iconClass="ion-person">
      <SubTabs>
        <Tab text="管理员管理"  permissions="settings_admin" href="settings/admin.cshtml" />
        <Tab text="角色管理"  permissions="settings_adminRole" href="settings/adminRole.cshtml" />
        <Tab text="管理员设置"  permissions="settings_adminConfig" href="settings/adminConfig.cshtml" />
        <Tab text="API密钥管理"  permissions="settings_adminAccessTokens" href="settings/adminAccessTokens.cshtml" />
      </SubTabs>
    </Tab>
    <Tab text="用户管理" permissions="settings_user,settings_userGroup,settings_userStyle,settings_userConfig" iconClass="ion-android-contact">
      <SubTabs>
        <Tab text="用户管理"  permissions="settings_user" href="settings/user.cshtml" />
        <Tab text="用户组管理"  permissions="settings_userGroup" href="settings/userGroup.cshtml" />
        <Tab text="用户字段"  permissions="settings_userStyle" href="settings/userStyle.cshtml" />
        <Tab text="用户设置"  permissions="settings_userConfig" href="settings/userConfig.cshtml" />
      </SubTabs>
    </Tab>
    <Tab text="统计图表" permissions="settings_analysisSite,settings_analysisAdminLogin,settings_analysisAdminWork,settings_analysisUser" iconClass="ion-podium">
      <SubTabs>
        <Tab text="站点数据统计"  permissions="settings_analysisSite" href="settings/analysisSite.cshtml" />
        <Tab text="管理员登录统计"  permissions="settings_analysisAdminLogin" href="settings/analysisAdminLogin.cshtml" />
        <Tab text="管理员工作统计"  permissions="settings_analysisAdminWork" href="settings/analysisAdminWork.cshtml" />
        <Tab text="用户数据统计"  permissions="settings_analysisUser" href="settings/analysisUser.cshtml" />
      </SubTabs>
    </Tab>
    <Tab text="运行日志" permissions="settings_logSite,settings_logAdmin,settings_logUser,settings_logError,settings_logConfig" iconClass="ion-information-circled">
      <SubTabs>
        <Tab text="站点日志" permissions="settings_logSite" href="settings/logSite.cshtml" />
        <Tab text="管理员日志" permissions="settings_logAdmin" href="settings/logAdmin.cshtml" />
        <Tab text="用户日志" permissions="settings_logUser" href="settings/logUser.cshtml" />
        <Tab text="系统错误日志" permissions="settings_logError" href="settings/logError.cshtml" />
        <Tab text="日志设置" permissions="settings_logConfig" href="settings/logConfig.cshtml" />
      </SubTabs>
    </Tab>
    <Tab text="系统设置" permissions="settings_configAdmin,settings_configHome,settings_configHomeMenu" iconClass="ion-wrench">
      <SubTabs>
        <Tab text="管理后台设置" permissions="settings_configAdmin" href="settings/configAdmin.cshtml" />
        <Tab text="用户中心设置" permissions="settings_configHome" href="settings/configHome.cshtml" />
        <Tab text="用户中心菜单" permissions="settings_configHomeMenu" href="settings/configHomeMenu.cshtml" />
      </SubTabs>
    </Tab>
    <Tab text="实用工具" permissions="settings_utilityCache,settings_utilityParameters,settings_utilityEncrypt,settings_utilityDbLogDelete" iconClass="ion-briefcase">
      <SubTabs>
        <Tab text="系统缓存" permissions="settings_utilityCache" href="settings/utilityCache.cshtml" />
        <Tab text="系统参数" permissions="settings_utilityParameters" href="settings/utilityParameters.cshtml" />
        <Tab text="加密/解密字符串" permissions="settings_utilityEncrypt" href="settings/utilityEncrypt.cshtml" />
        <Tab text="清空数据库日志" permissions="settings_utilityDbLogDelete" href="settings/utilityDbLogDelete.cshtml" />
      </SubTabs>
    </Tab>
  </Tabs>
</TabCollection>
