<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
    <Tab text="创建新站点" href="settings/siteAdd.cshtml" permissions="settings_siteAdd" />
    <Tab text="站点管理" href="settings/site.cshtml" permissions="settings_site">
      <SubTabs>
        <Tab text="站点管理" href="settings/site.cshtml" />
        <Tab text="站点访问地址" href="settings/siteUrl.cshtml" />
        <Tab text="站点内容表" href="settings/siteTables.cshtml" />
        <Tab text="站点模板管理" href="settings/siteTemplates.cshtml" />
        <Tab text="在线站点模板" href="settings/siteTemplateOnline.cshtml" />
      </SubTabs>
    </Tab>
    <Tab text="权限控制" href="settings/admin.cshtml" permissions="settings_admin">
      <SubTabs>
        <Tab text="管理员管理" href="settings/admin.cshtml" />
        <Tab text="角色管理" href="settings/adminRole.cshtml" />
        <Tab text="管理员设置" href="settings/adminConfig.cshtml" />
        <Tab text="API密钥管理" href="settings/adminAccessTokens.cshtml" />
      </SubTabs>
    </Tab>
    <Tab text="用户管理" href="settings/user.cshtml" permissions="settings_user">
      <SubTabs>
        <Tab text="用户管理" href="settings/user.cshtml" />
        <Tab text="用户组管理" href="settings/userGroup.cshtml" />
        <Tab text="用户字段" href="settings/userStyle.cshtml" />
        <Tab text="用户设置" href="settings/userConfig.cshtml" />
      </SubTabs>
    </Tab>
    <Tab text="统计图表" href="settings/analysisSite.cshtml" permissions="settings_analysis">
      <SubTabs>
        <Tab text="站点数据统计" href="settings/analysisSite.cshtml" />
        <Tab text="管理员登录统计" href="settings/analysisAdminLogin.cshtml" />
        <Tab text="管理员工作统计" href="settings/analysisAdminWork.cshtml" />
        <Tab text="用户数据统计" href="settings/analysisUser.cshtml" />
      </SubTabs>
    </Tab>
    <Tab text="运行日志" href="settings/logSite.cshtml" permissions="settings_log">
      <SubTabs>
        <Tab text="站点日志" href="settings/logSite.cshtml" />
        <Tab text="管理员日志" href="settings/logAdmin.cshtml" />
        <Tab text="用户日志" href="settings/logUser.cshtml" />
        <Tab text="系统错误日志" href="settings/logError.cshtml" />
        <Tab text="日志设置" href="settings/logConfig.cshtml" />
      </SubTabs>
    </Tab>
    <Tab text="系统设置" href="settings/configAdmin.cshtml" permissions="settings_config">
      <SubTabs>
        <Tab text="管理后台设置" href="settings/configAdmin.cshtml" />
        <Tab text="用户中心设置" href="settings/configHome.cshtml" />
        <Tab text="用户中心菜单" href="settings/configHomeMenu.cshtml" />
      </SubTabs>
    </Tab>
    <Tab text="实用工具" href="settings/utilityCache.cshtml" permissions="settings_utility">
      <SubTabs>
        <Tab text="系统缓存" href="settings/utilityCache.cshtml" />
        <Tab text="系统参数" href="settings/utilityParameters.cshtml" />
        <Tab text="加密/解密字符串" href="settings/utilityEncrypt.cshtml" />
        <Tab text="清空数据库日志" href="settings/utilityDbLogDelete.cshtml" />
      </SubTabs>
    </Tab>
  </Tabs>
</TabCollection>
