<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
    <Tab id="Content" text="信息管理" permissions="cms_content,cms_contentView,cms_channelAdd,cms_channelEdit,cms_channelDelete,cms_channelTranslate,cms_createPage,cms_contentCheck,cms_contentModel,cms_category,cms_siteAnalysis,cms_contentTrash" iconClass="ion-compose" selected="true">
      <SubTabs>
        <Tab text="内容管理" permissions="cms_contentView,cms_contentAdd" href="cms/pageContentMain.aspx" />
        <Tab text="栏目管理" permissions="cms_channelAdd,cms_channelEdit,cms_channelDelete,cms_channelTranslate,cms_createPage" href="cms/pageChannel.aspx" />
        <Tab text="内容搜索" permissions="cms_contentView" href="cms/pageContentSearch.aspx" />
        <Tab text="投稿内容" permissions="cms_contentView" href="cms/pageContentSearch.aspx?isWritingOnly=true" />
        <Tab text="我的内容" permissions="cms_contentView" href="cms/pageContentSearch.aspx?isAdminOnly=true" />
        <Tab text="批量转移" permissions="cms_contentTranslate,cms_channelTranslate" href="cms/pageChannelTranslate.aspx" />
        <Tab text="内容审核" permissions="cms_contentCheck" href="cms/pageContentSearch.aspx?isCheckOnly=true" />
        <Tab text="内容回收站" permissions="cms_content" href="cms/pageContentSearch.aspx?isTrashOnly=true" />
      </SubTabs>
    </Tab>
    <Tab id="Template" text="显示管理" permissions="cms_template" iconClass="ion-tshirt-outline">
      <SubTabs>
        <Tab text="模板管理" href="cms/pageTemplateMain.aspx" />
        <Tab text="专题管理" href="cms/pageSpecial.aspx" />
        <Tab text="匹配模板" href="cms/pageTemplateMatch.aspx"/>
        <Tab text="包含文件管理" href="cms/pageTemplateAssets.aspx?type=include"/>
        <Tab text="样式文件管理" href="cms/pageTemplateAssets.aspx?type=css"/>
        <Tab text="脚本文件管理" href="cms/pageTemplateAssets.aspx?type=js"/>
        <Tab text="模板在线解析" href="cms/pageTemplatePreview.aspx"/>
      </SubTabs>
    </Tab>
    <Tab id="Configration" text="设置管理" permissions="cms_configration" iconClass="ion-wrench">
      <SubTabs>
        <Tab text="站点设置" href="cms/pageConfigurationSite.aspx"/>
        <Tab text="组别与标签设置" href="cms/pageNodeGroup.aspx" />
        <Tab text="字段设置" href="cms/pageTableStyleContent.aspx" />
        <Tab text="上传设置" href="cms/pageConfigurationUploadImage.aspx"/>
        <Tab text="跨站转发设置" href="cms/pageConfigurationCrossSiteTrans.aspx"/>
        <Tab text="静态页生成设置" href="cms/pageConfigurationCreateRule.aspx"/>
      </SubTabs>
    </Tab>
    <Tab id="Create" text="生成管理" permissions="cms_create" iconClass="ion-wand">
      <SubTabs>
        <Tab text="生成首页" href="cms/create.cshtml?type=index" />
        <Tab text="生成栏目页" href="cms/create.cshtml?type=channels" />
        <Tab text="生成内容页" href="cms/create.cshtml?type=contents" />
        <Tab text="生成文件页" href="cms/pageCreateFile.aspx"/>
        <Tab text="生成专题" href="cms/pageCreateSpecial.aspx"/>
        <Tab text="一键生成" href="cms/create.cshtml?type=all" />
        <Tab text="生成进度查看" href="cms/createStatus.cshtml"/>
      </SubTabs>
    </Tab>
  </Tabs>
</TabCollection>
