@{ Layout = "../Shared/_Layout.cshtml"; }
@section Navs{
<li class="nav-item">
  <a class="nav-link" href="logSite.cshtml">站点日志</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="logAdmin.cshtml">管理员日志</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="logUser.cshtml">用户日志</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="logError.cshtml">系统错误日志</a>
</li>
<li class="nav-item">
  <a class="nav-link active" href="logConfig.cshtml">日志设置</a>
</li>
}

<template v-if="pageType === 'list'">
  <p class="text-muted font-14">
    请点击链接更改日志设置
  </p>

  <table class="table table-bordered table-striped">
    <tbody>
      <tr>
        <td>自动删除日志</td>
        <td>
          <a href="javascript:;" v-on:click="pageType = 'isTimeThreshold'" class="editable">
            {{ config.isTimeThreshold ? '启用' : '禁用' }}
          </a>
        </td>
      </tr>
      <tr v-if="config.isTimeThreshold">
        <td>日志保留天数</td>
        <td>
          <a href="javascript:;" v-on:click="pageType = 'isTimeThreshold'" class="editable">
            {{ config.timeThreshold }} 天
          </a>
        </td>
      </tr>
      <tr>
        <td>站点日志</td>
        <td>
          <a href="javascript:;" v-on:click="pageType = 'isLogSite'" class="editable">
            {{ config.isLogSite ? '启用' : '禁用' }}
          </a>
        </td>
      </tr>
      <tr>
        <td>管理员日志</td>
        <td>
          <a href="javascript:;" v-on:click="pageType = 'isLogAdmin'" class="editable">
            {{ config.isLogAdmin ? '启用' : '禁用' }}
          </a>
        </td>
      </tr>
      <tr>
        <td>用户日志</td>
        <td>
          <a href="javascript:;" v-on:click="pageType = 'isLogUser'" class="editable">
            {{ config.isLogUser ? '启用' : '禁用' }}
          </a>
        </td>
      </tr>
      <tr>
        <td>错误日志</td>
        <td>
          <a href="javascript:;" v-on:click="pageType = 'isLogError'" class="editable">
            {{ config.isLogError ? '启用' : '禁用' }}
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</template>
<template v-else>

  <template v-if="pageType === 'isTimeThreshold'">
    <div class="form-group">
      <label>
        自动删除日志
      </label>
      <div class="mt-2">
        <el-radio-group v-model="isTimeThreshold">
          <el-radio :label="true">启用</el-radio>
          <el-radio :label="false">禁用</el-radio>
        </el-radio-group>
      <small class="form-text text-muted">启用后系统将定时自动删除日志，以节省数据库存储空间</small>
      </div>
    </div>
    <div v-if="isTimeThreshold" class="form-group">
      <label>
        日志保留天数
        <small v-show="errors.has('timeThreshold')" class="text-danger">{{
          errors.first('timeThreshold') }}</small>
      </label>
      <input v-model="timeThreshold" name="timeThreshold" data-vv-as="日志保留天数" v-validate="'required|numeric'" :class="{'is-invalid': errors.has('timeThreshold') }"
        type="text" class="form-control" />
      <small class="form-text text-muted">设置为60天，则默认只保留60天的日志，60天之前的日志将被系统自动删除</small>
    </div>
  </template>
  <template v-else-if="pageType === 'isLogSite'">
    <div class="form-group">
      <label>
        站点日志
      </label>
      <div class="mt-2">
        <el-radio-group v-model="isLogSite">
          <el-radio :label="true">启用</el-radio>
          <el-radio :label="false">禁用</el-radio>
        </el-radio-group>
      <small class="form-text text-muted">禁用后系统将不再记录站点操作日志</small>
      </div>
    </div>
  </template>
  <template v-else-if="pageType === 'isLogAdmin'">
    <div class="form-group">
      <label>
        管理员日志
      </label>
      <div class="mt-2">
        <el-radio-group v-model="isLogAdmin">
          <el-radio :label="true">启用</el-radio>
          <el-radio :label="false">禁用</el-radio>
        </el-radio-group>
      <small class="form-text text-muted">禁用后系统将不再记录管理员操作日志</small>
      </div>
    </div>
  </template>
  <template v-else-if="pageType === 'isLogUser'">
    <div class="form-group">
      <label>
        用户日志
      </label>
      <div class="mt-2">
        <el-radio-group v-model="isLogUser">
          <el-radio :label="true">启用</el-radio>
          <el-radio :label="false">禁用</el-radio>
        </el-radio-group>
      <small class="form-text text-muted">禁用后系统将不再记录用户操作日志</small>
      </div>
    </div>
  </template>
  <template v-else-if="pageType === 'isLogError'">
    <div class="form-group">
      <label>
        系统错误日志
      </label>
      <div class="mt-2">
        <el-radio-group v-model="isLogError">
          <el-radio :label="true">启用</el-radio>
          <el-radio :label="false">禁用</el-radio>
        </el-radio-group>
      <small class="form-text text-muted">禁用后系统将不再记录系统错误日志</small>
      </div>
    </div>
  </template>

  <hr />

  <div class="text-center">
    <button class="btn btn-primary m-r-5" v-on:click="btnSubmitClick">保 存</button>
    <button class="btn m-r-5" v-on:click="pageType = 'list'">返 回</button>
  </div>

</template>

@section Scripts{
<script src="logConfig.js" type="text/javascript"></script> }