@{ Layout = "../Shared/_Layout.cshtml"; } @section Navs{
  <li class="nav-item">
    <a class="nav-link active" href="utilityCache.cshtml">系统缓存</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="utilityParameters.cshtml">系统参数</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="utilityEncrypt.cshtml">加密/解密字符串</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="utilityDbLogDelete.cshtml">清空数据库日志</a>
  </li>
}

<p class="text-muted font-13">
  当前缓存：{{ count }}
  <button class="btn btn-success ml-2" v-on:click="btnCleanClick">清除缓存</button>
</p>

<table class="table table-bordered table-striped">
  <tbody>
    <tr>
      <th> 缓存键 </th>
      <th> 缓存值 </th>
    </tr>
    <tr v-for="parameter in parameters" :key="parameter.key">
      <td> {{ parameter.key }} </td>
      <td>{{ parameter.value }}</td>
    </tr>
  </tbody>
</table>

@section Scripts{ <script src="utilityCache.js" type="text/javascript"></script> }