<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.10" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.5.1" targetFramework="net452" />
  <package id="HtmlSanitizer" version="4.0.187" targetFramework="net452" />
  <package id="ICSharpCode.SharpZipLib.dll" version="0.85.4.369" targetFramework="net461" />
  <package id="Microsoft.Net.Compilers" version="2.10.0" targetFramework="net452" developmentDependency="true" />
  <package id="MySql.Data" version="8.0.11" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="Npgsql" version="4.0.3" targetFramework="net452" />
  <package id="Oracle.ManagedDataAccess" version="18.3.0" targetFramework="net452" />
  <package id="SiteServer.Plugin" version="2.1.3" targetFramework="net452" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net452" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.0" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" />
</packages>