@{ Layout = "../Shared/_LayoutLayer.cshtml"; }

<div class="form-group">
  <small class="help-block">请到<a href="https://www.siteserver.cn/plugins/" target="_blank">官网下载</a>插件离线安装包并在此上传。</small>
</div>

<div id="drop-area" style="height: 200px; line-height: 200px; text-align: center; font-size: 18px; color: #777; border: 2px dashed #0000004d; background: #eee;	border-radius: 6px; cursor: pointer; margin-bottom: 20px">
  点击上传插件安装包或者将文件拖拽到此区域
</div>

<div class="row">
  <div class="col-sm-4 col-lg-3 col-xs-12" v-for="(file, index) in files">
    <div class="card m-b-20">
      <div class="card-body">
        <p class="card-text">
          {{ file.fileName }}
          <br /> 大小：{{ Math.round(file.length/1024) + ' KB' }}
        </p>
        <a v-on:click="del(file)" href="javascript:;" class="card-link text-danger">删 除</a>
      </div>
    </div>
  </div>
</div>

<hr />

<div class="text-right mr-1">
  <button v-on:click="btnSubmitClick" type="button" class="btn btn-primary m-l-5">安 装</button>
  <button type="button" class="btn btn-default m-l-5" onclick="window.parent.layer.closeAll()">取 消</button>
</div>

@section Scripts{
<script type="text/javascript" src="../assets/js/web-uploader/js/Q.js"></script>
<script type="text/javascript" src="../assets/js/web-uploader/js/Q.Uploader.js"></script>
<script src="addLayerUpload.js" type="text/javascript"></script> }