<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.3.1" targetFramework="net452" />
  <package id="Costura.Fody" version="2.0.0" targetFramework="net461" />
  <package id="Dapper" version="1.60.6" targetFramework="net452" />
  <package id="Datory" version="0.1.20" targetFramework="net452" />
  <package id="Fody" version="3.0.3" targetFramework="net461" developmentDependency="true" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net452" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net452" />
  <package id="Microsoft.Net.Compilers" version="3.0.0" targetFramework="net452" developmentDependency="true" />
  <package id="MySql.Data" version="8.0.16" targetFramework="net452" />
  <package id="NDesk.Options" version="0.2.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net452" />
  <package id="Npgsql" version="4.0.7" targetFramework="net452" />
  <package id="Oracle.ManagedDataAccess" version="19.3.1" targetFramework="net452" />
  <package id="Quartz" version="3.0.6" targetFramework="net452" />
  <package id="SiteServer.Plugin" version="2.3.15" targetFramework="net452" />
  <package id="SqlKata" version="1.1.7" targetFramework="net452" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net452" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net452" />
  <package id="System.Data.SqlClient" version="4.6.1" targetFramework="net452" />
  <package id="System.Memory" version="4.5.3" targetFramework="net452" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net452" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" />
</packages>