@page
@{ Layout = "../shared/_layout"; }
@section Styles{
  <style>
    .el-dropdown-link {
      cursor: pointer;
      color: #409EFF;
    }
    .el-icon-arrow-down {
      font-size: 12px;
    }
    .el-icon-picture-outline {
      font-size: 22px;
      margin: 80px 0;
      color: #c0c4cc;
    }
  </style>
}

<el-row>
  <el-col :span="18">
    <el-row>
      <el-form :inline="true" :model="form" size="mini">
        <el-form-item label="搜索">
          <el-input v-model="form.keyword" placeholder="关键字"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" v-on:click="btnSearchClick">查询</el-button>
        </el-form-item>
      </el-form>
    </el-row>
  </el-col>
  <el-col align="right" :span="6">
    
  </el-col>
</el-row>
<el-row>
  <el-form :inline="true" :model="form" size="mini">
    <el-tag
      v-for="group in groups"
      :key="group.id"
      type="success"
      style="cursor: pointer; margin: 0 3px 6px 0;"
      v-on:click="btnGroupClick(group.id)"
      :effect="form.groupId === group.id ? 'dark' : 'plain'">
      {{ group.groupName }}
    </el-tag>
  </el-form>
</el-row>

<div style="height:5px"></div>

<el-table
  :data="items"
  style="width: 100%">
  <el-table-column
    label="标题">
    <template slot-scope="scope">
      <el-link :underline="false" type="primary" v-on:click="btnSelectClick(scope.row)">
        {{ scope.row.title }}
      </el-link>
    </template>
  </el-table-column>
  <el-table-column
      prop="type"
      label="文件类型"
      width="80">
    </el-table-column>
  <el-table-column
    prop="createdDate"
    label="创建时间"
    width="170">
  </el-table-column>
</el-table>

<div style="text-align: center;">
  <el-pagination
    v-on:current-change="btnPageClick"
    :current-page="form.page"
    :page-size="form.perPage"
    layout="total, prev, pager, next, jumper"
    :total="count">
  </el-pagination>
</div>

@section Scripts{
  <script src="~/assets/js/shared/fileLayerSelect.js" type="text/javascript"></script>
}