.stlStar{font:12px/22px Verdana,Arial,sans-serif,"Times New Roman",ו; position:relative}
.stlStar div.stars{height:29px;}
.font-num {
color:#C6151D;
font-family:Comic Sans MS,Geneva,Arial,Helvetica,sans-serif;
font-size:20px;
}