<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
    <Tab id="AdminManagement" text="管理员管理" permissions="admin_management" iconUrl="menu/administrator.gif" selected="true">
      <SubTabs>
        <Tab text="创建角色" href="admin/pageRoleAdd.aspx" keepQueryString="true" target="right"/>
        <Tab text="角色管理" href="admin/pageRole.aspx" keepQueryString="true" target="right"/>
        <Tab text="管理员管理" href="admin/pageDepartmentMain.aspx" keepQueryString="true" target="right"/>
      </SubTabs>
    </Tab>
    <Tab id="AdminConfiguration" text="设置管理" permissions="admin_configuration" iconUrl="menu/configuration.gif" selected="true">
      <SubTabs>
        <Tab text="管理员设置" href="admin/pageConfigurationAdministrator.aspx" keepQueryString="true" target="right"/>
        <Tab text="所属部门管理" href="admin/pageDepartment.aspx" keepQueryString="true" target="right"/>
        <Tab text="所在区域管理" href="admin/pageArea.aspx" keepQueryString="true" target="right"/>
      </SubTabs>
    </Tab>
  </Tabs>
</TabCollection>
