<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
    <Tab id="Chart" text="统计图表" permissions="analysis_chart" iconUrl="menu/count.gif" selected="true">
      <SubTabs>
        <Tab text="站点数据统计" href="analysis/pageAnalysisSite.aspx" target="right" />
        <Tab text="站点访问量统计" href="analysis/pageAnalysisSiteHits.aspx" target="right" />
        <Tab text="文件下载统计" href="analysis/pageAnalysisSiteDownload.aspx" target="right" />
        <Tab text="管理员登录统计" href="analysis/pageAnalysisAdminLogin.aspx" target="right" />
        <Tab text="会员新增数据统计" href="analysis/pageAnalysisUser.aspx" target="right" />
      </SubTabs>
    </Tab>
    <Tab id="Log" text="运行日志" permissions="analysis_log" iconUrl="menu/log.gif" selected="true">
      <SubTabs>
        <Tab text="日志阈值设置" href="analysis/pageLogConfiguration.aspx" target="right" />
        <Tab text="站点日志" href="analysis/pageLogSite.aspx" target="right" />
        <Tab text="管理员日志" href="analysis/pageLogAdmin.aspx" target="right" />
        <Tab text="用户日志" href="analysis/pageLogUser.aspx" target="right" />
        <Tab text="系统错误日志" href="analysis/pageLogError.aspx" target="right" />
      </SubTabs>
    </Tab>
  </Tabs>
</TabCollection>
