<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <add name="sys_site" text="系统管理->系统站点管理" />
  <add name="sys_auxiliary" text="系统管理->辅助表管理" />

  <add name="admin_management" text="管理员管理->管理员管理" />
  <add name="admin_configuration" text="管理员管理->设置管理" />

  <add name="user_management" text="用户管理->用户管理" />
  <add name="user_configuration" text="用户管理->设置管理" />

  <add name="analysis_chart" text="统计分析->统计图表" />
  <add name="analysis_log" text="统计分析->运行日志" />

  <add name="settings_config" text="平台设置->平台设置" />
  <add name="settings_restriction" text="平台设置->后台访问限制" />
  <add name="settings_utility" text="平台设置->实用工具" />

  <add name="service_status" text="服务组件->服务组件状态" />
  <add name="service_task" text="服务组件->定时任务管理" />
  <add name="service_create" text="服务组件->服务生成管理" />
</Config>
