<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
    <Tab id="Status" text="服务组件状态" permissions="service_status" href="service/pageStatus.aspx" target="right" />
    <Tab id="Task" text="定时任务管理" permissions="service_task" selected="true" iconUrl="menu/service.png">
      <SubTabs>
        <Tab text="定时任务管理" href="service/pageTask.aspx" target="right" />
        <Tab text="定时任务日志" href="service/pageTaskLog.aspx" target="right" />
      </SubTabs>
    </Tab>
    <Tab id="Create" text="服务生成管理" permissions="service_create" selected="true" iconUrl="menu/service.png">
      <SubTabs>
        <Tab text="服务实时监控" href="service/pageCreateStatus.aspx" target="right" />
        <Tab text="服务生成日志" href="service/pageCreateTaskLog.aspx" target="right" />
      </SubTabs>
    </Tab>
  </Tabs>
</TabCollection>
