<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
    <Tab id="Config" text="平台设置" permissions="settings_config" iconUrl="menu/configuration.gif" selected="true">
      <SubTabs>
        <Tab text="短信服务商管理" href="settings/pageSmsProvider.aspx" target="right"/>
        <Tab text="敏感词管理" href="settings/pageKeyword.aspx" target="right"/>
      </SubTabs>
    </Tab>
    <Tab id="Restriction" text="后台访问限制" permissions="settings_restriction" iconUrl="menu/restriction.gif" selected="true">
      <SubTabs>
        <Tab text="黑名单" href="settings/pageRestrictionList.aspx?Type=Black" target="right" />
        <Tab text="白名单" href="settings/pageRestrictionList.aspx?Type=White" target="right" />
        <Tab text="访问限制选项" href="settings/pageRestrictionOptions.aspx"  target="right" />
      </SubTabs>
    </Tab>
    <Tab id="Utility" text="实用工具" permissions="settings_utility" iconUrl="menu/utils.gif" selected="true">
      <SubTabs>
        <Tab text="机器参数查看" href="settings/pageParameter.aspx" target="right" />
        <Tab text="系统缓存" href="settings/pageCache.aspx" target="right"/>
        <Tab text="加密字符串" href="settings/pageEncrypt.aspx" target="right"/>
        <Tab text="JS脚本压缩" href="settings/pageJsMin.aspx" target="right"/>
        <Tab text="清空数据库日志" href="settings/pageDbLogDelete.aspx" target="right"/>
      </SubTabs>
    </Tab>
  </Tabs>
</TabCollection>
