<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
    <Tab text="创建新站点" href="settings/pagePublishmentSystemAdd.aspx" permissions="settings_site_add" />
    <Tab id="Site" text="站点管理" href="settings/pagePublishmentSystem.aspx" permissions="settings_site_management">
      <SubTabs>
        <Tab text="系统站点管理" href="settings/pagePublishmentSystem.aspx"  />
        <Tab text="访问地址管理" href="settings/pagePublishmentSystemUrl.aspx"  />
        <Tab text="站点模板管理" href="settings/pageSiteTemplate.aspx"  />
        <Tab text="辅助表管理" href="settings/pageAuxiliaryTable.aspx"  />
      </SubTabs>
    </Tab>
    <Tab text="管理员管理" href="settings/pageDepartmentMain.aspx" permissions="settings_admin_management">
      <SubTabs>
        <Tab text="管理员管理" href="settings/pageDepartmentMain.aspx"/>
        <Tab text="创建角色" href="settings/pageRoleAdd.aspx"/>
        <Tab text="角色管理" href="settings/pageRole.aspx"/>
        <Tab text="管理员设置" href="settings/pageConfigurationAdministrator.aspx"/>
        <Tab text="所属部门管理" href="settings/pageDepartment.aspx"/>
        <Tab text="所在区域管理" href="settings/pageArea.aspx"/>
      </SubTabs>
    </Tab>
    <Tab text="用户管理" href="settings/pageUser.aspx" permissions="settings_user_management">
      <SubTabs>
        <Tab text="用户管理" href="settings/pageUser.aspx" />
        <Tab text="审核新用户" href="settings/pageUserCheck.aspx"/>
        <Tab text="用户组管理" href="settings/pageUserGroup.aspx" />
        <Tab text="基本配置" href="settings/pageUserConfigDisplay.aspx"></Tab>
        <Tab text="用户投稿设置" href="settings/pageUserConfigWriting.aspx"></Tab>
        <Tab text="用户注册设置" href="settings/pageUserConfigRegister.aspx"></Tab>
        <Tab text="用户登录设置" href="settings/pageUserConfigLogin.aspx"></Tab>
      </SubTabs>
    </Tab>
    <Tab text="第三方集成设置" permissions="settings_integration">
      <SubTabs>
        <Tab text="短信设置" href="settings/pageIntegrationSms.aspx"/>
        <Tab text="支付设置" href="settings/pageIntegrationPayment.aspx"/>
        <Tab text="支付设置" href="settings/pageIntegrationPay.aspx"/>
      </SubTabs>
    </Tab>
    <Tab text="服务组件" permissions="settings_service">
      <SubTabs>
        <Tab text="服务组件状态" href="settings/pageStatus.aspx" />
        <Tab text="定时任务管理" href="settings/pageTask.aspx" />
        <Tab text="定时任务日志" href="settings/pageTaskLog.aspx" />
        <Tab text="服务实时监控" href="settings/pageCreateStatus.aspx" />
        <Tab text="服务生成日志" href="settings/pageCreateTaskLog.aspx" />
      </SubTabs>
    </Tab>
    <Tab text="统计图表" permissions="settings_chart">
      <SubTabs>
        <Tab text="站点数据统计" href="settings/pageAnalysisSite.aspx" />
        <Tab text="站点访问量统计" href="settings/pageAnalysisSiteHits.aspx" />
        <Tab text="文件下载统计" href="settings/pageAnalysisSiteDownload.aspx" />
        <Tab text="管理员登录统计" href="settings/pageAnalysisAdminLogin.aspx" />
        <Tab text="会员新增数据统计" href="settings/pageAnalysisUser.aspx" />
      </SubTabs>
    </Tab>
    <Tab text="运行日志" permissions="settings_log">
      <SubTabs>
        <Tab text="日志阈值设置" href="settings/pageLogConfiguration.aspx" />
        <Tab text="站点日志" href="settings/pageLogSite.aspx" />
        <Tab text="管理员日志" href="settings/pageLogAdmin.aspx" />
        <Tab text="用户日志" href="settings/pageLogUser.aspx" />
        <Tab text="系统错误日志" href="settings/pageLogError.aspx" />
      </SubTabs>
    </Tab>
    <Tab text="实用工具" permissions="settings_utility">
      <SubTabs>
        <Tab text="机器参数查看" href="settings/pageParameter.aspx" />
        <Tab text="系统缓存" href="settings/pageCache.aspx"/>
        <Tab text="加密字符串" href="settings/pageEncrypt.aspx"/>
        <Tab text="JS脚本压缩" href="settings/pageJsMin.aspx"/>
        <Tab text="敏感词管理" href="settings/pageKeyword.aspx"/>
        <Tab text="清空数据库日志" href="settings/pageDbLogDelete.aspx"/>
      </SubTabs>
    </Tab>
  </Tabs>
</TabCollection>
