<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
    <Tab id="Site" text="系统站点管理" permissions="sys_site" iconUrl="menu/site.gif" selected="true">
      <SubTabs>
        <Tab text="创建新站点" href="sys/pageAppAdd.aspx"  target="right"/>
        <Tab text="系统站点管理" href="sys/pagePublishmentSystem.aspx"  target="right"/>
        <Tab text="访问地址管理" href="sys/pagePublishmentSystemUrl.aspx"  target="right"/>
        <Tab text="站点模板管理" href="sys/pageSiteTemplate.aspx"  target="right"/>
      </SubTabs>
    </Tab>
    <Tab id="Auxiliary" text="辅助表管理" permissions="sys_auxiliary" iconUrl="menu/database.gif" selected="true">
      <SubTabs>
        <Tab text="添加辅助表" href="sys/pageAuxiliaryTableAdd.aspx"  target="right" />
        <Tab text="辅助表管理" href="sys/pageAuxiliaryTable.aspx"  target="right" />
      </SubTabs>
    </Tab>
  </Tabs>
</TabCollection>
