<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
    <Tab id="Plugins" text="插件管理" permissions="plugins_add,plugins_management" iconClass="ion-cube" />
    <Tab id="Users" text="人员管理" permissions="users_admin_management,users_admin_configuration,users_user_management,users_user_configuration" iconClass="ion-person-stalker" />
    <Tab id="Settings" text="系统设置" permissions="settings_site_add,settings_site_management,settings_auxiliary,settings_config,settings_service,settings_chart,settings_log,settings_utility" iconClass="ion-settings" />
  </Tabs>
</TabCollection>
