<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
    <Tab id="Sys" text="系统管理" permissions="sys_site,sys_auxiliary,sys_censor" />
    <Tab id="Admin" text="管理员管理" permissions="admin_management,admin_configuration" />
    <Tab id="User" text="用户管理" permissions="user_management,user_configuration" />
    <Tab id="Analysis" text="统计分析" permissions="analysis_chart,analysis_log" />
    <Tab id="Settings" text="平台设置" permissions="settings_config,settings_restriction,settings_utility" />
    <Tab id="Service" text="服务组件" permissions="service_status,service_task,service_create" />
  </Tabs>
</TabCollection>
