<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
    <Tab text="管理员管理" href="users/pageDepartmentMain.aspx" permissions="users_admin_management">
      <SubTabs>
        <Tab text="创建角色" href="users/pageRoleAdd.aspx"/>
        <Tab text="角色管理" href="users/pageRole.aspx"/>
        <Tab text="管理员管理" href="users/pageDepartmentMain.aspx"/>
      </SubTabs>
    </Tab>
    <Tab text="管理员设置" href="users/pageConfigurationAdministrator.aspx" permissions="users_admin_configuration">
      <SubTabs>
        <Tab text="管理员设置" href="users/pageConfigurationAdministrator.aspx"/>
        <Tab text="所属部门管理" href="users/pageDepartment.aspx"/>
        <Tab text="所在区域管理" href="users/pageArea.aspx"/>
      </SubTabs>
    </Tab>
    <Tab text="用户管理" href="users/pageUser.aspx" permissions="users_user_management">
      <SubTabs>
        <Tab text="用户管理" href="users/pageUser.aspx" />
        <Tab text="审核新用户" href="users/pageUserCheck.aspx"/>
        <Tab text="用户组管理" href="users/pageUserGroup.aspx" />
      </SubTabs>
    </Tab>
    <Tab text="用户设置" href="users/pageUserConfigDisplay.aspx" permissions="users_user_configuration">
      <SubTabs>
        <Tab text="基本配置" href="users/pageUserConfigDisplay.aspx"></Tab>
        <Tab text="用户投稿设置" href="users/pageUserConfigWriting.aspx"></Tab>
        <Tab text="用户注册设置" href="users/pageUserConfigRegister.aspx"></Tab>
        <Tab text="用户登录设置" href="users/pageUserConfigLogin.aspx"></Tab>
      </SubTabs>
    </Tab>
  </Tabs>
</TabCollection>
