<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
    <Tab id="UserManagement" text="用户管理" permissions="user_management" iconUrl="menu/user.gif" selected="true">
      <SubTabs>
        <Tab text="用户管理" href="user/pageUser.aspx" keepQueryString="true" target="right" />
        <Tab text="审核新用户" href="user/pageUserCheck.aspx" keepQueryString="true" target="right"/>
        <Tab text="用户组管理" href="user/pageUserGroup.aspx" keepQueryString="true" target="right" />
      </SubTabs>
    </Tab>
    <Tab id="UserConfiguration" text="设置管理" permissions="user_configuration" iconUrl="menu/configuration.gif" selected="true">
      <SubTabs>
        <Tab text="基本配置" href="user/pageUserConfigDisplay.aspx" keepQueryString="true" target="right"></Tab>
        <Tab text="用户投稿设置" href="user/pageUserConfigWriting.aspx" keepQueryString="true" target="right"></Tab>
        <Tab text="用户注册设置" href="user/pageUserConfigRegister.aspx" keepQueryString="true" target="right"></Tab>
        <Tab text="用户登录设置" href="user/pageUserConfigLogin.aspx" keepQueryString="true" target="right"></Tab>
      </SubTabs>
    </Tab>
  </Tabs>
</TabCollection>
