@page
@{ Layout = "_Layout"; }
@section Styles{
  <style>
    .el-tabs--right .el-tabs__header.is-right{
      width: 98%;
    }
  </style>
}

<div style="height: 10px"></div>

<div v-if="!success">
  <div role="alert" class="el-alert el-alert--error is-light" style="padding: 30px">
    <div class="el-alert__content">
      <p class="el-alert__description" style="font-size: 14px;">{{ errorMessage }}</p>
    </div>
  </div>
</div>

<el-tabs v-else type="border-card">
  <el-tab-pane label="已关注">

    <el-row>
      <el-col :span="12">
        <el-form :inline="true" :model="form" size="mini">
          <el-form-item label="用户昵称">
            <el-input v-model="form.keyword" placeholder="请输入关键字"></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" v-on:click="btnSearchClick">查询</el-button>
          </el-form-item>
        </el-form>
      </el-col>
      <el-col class="commands" align="right" :span="12">
    
        <el-button v-on:click="btnAddClick" size="small" plain type="primary">
          <i class="el-icon-plus"></i>
          新建标签
        </el-button>
      </el-col>
    </el-row>

    <el-container>
      
      <el-container>
        <el-main>

          <el-button size="small" plain type="primary" :disabled="!isChecked" v-on:click="">
            打标签
          </el-button>
          <el-button size="small" plain type="primary" :disabled="!isChecked" v-on:click="">
            加入黑名单
          </el-button>

          <div style="height: 10px"></div>
          <el-divider></el-divider>
    
          <el-table
            :data="users"
            ref="multipleTable"
            row-key="openId"
            stripe
            :row-class-name="tableRowClassName"
            v-on:selection-change="handleSelectionChange"
            v-on:row-click="toggleSelection"
            style="width: 100%">
            <el-table-column type="selection" width="45" align="center"></el-table-column>
            <el-table-column
              label="头像" width="80">
              <template slot-scope="scope">
                <el-avatar :size="36" :src="scope.row.headImgUrl"></el-avatar>
              </template>
            </el-table-column>
            <el-table-column
              label="昵称">
              <template slot-scope="scope">
                <el-link :underline="false" type="primary">
                  {{getUserTitle(scope.row)}}
                  <br v-if="scope.row.tagIdList && scope.row.tagIdList.length > 0" />
                  {{ getUserTags(scope.row) }}
                </el-link>
              </template>
            </el-table-column>
            <el-table-column
              prop="city"
              width="120"
              label="城市">
            </el-table-column>
            <el-table-column
              width="120"
              label="关注时间">
              <template slot-scope="scope">
                {{utils.formatDate(scope.row.subscribeTime)}}
              </template>
            </el-table-column>
            <el-table-column
              width="120"
              label="来源">
              <template slot-scope="scope">
                {{formatSubscribeScene(scope.row.subscribeScene)}}
              </template>
            </el-table-column>
            <el-table-column label="操作" width="120">
              <template slot-scope="scope">
                <el-button-group>
                  <el-button size="mini" v-on:click="btnEditClick(scope.row)">
                    修改备注
                  </el-button>
                </el-button-group>
              </template>
            </el-table-column>
          </el-table>

          <div style="text-align: center; margin-top: 15px">
            <el-pagination
              v-on:current-change="btnPageClick"
              :current-page="form.page"
              :page-size="form.perPage"
              layout="total, prev, pager, next, jumper"
              :total="count">
            </el-pagination>
          </div>
    
          <div style="height: 10px"></div>
          <el-divider></el-divider>
          <div style="height: 10px"></div>
    
        </el-main>
      </el-container>

      <el-aside width="200px">
        <el-tabs v-model="form.tagId" tab-position="right" style="height: 100%;" v-on:tab-click="btnSearchClick">
          <el-tab-pane :label="'全部用户' + '(' + total + ')'" :name="0"></el-tab-pane>
          <el-tab-pane
            v-for="tag in tags"
            :key="tag.id"
            :label="tag.name + '(' + tag.count + ')'"
            :name="tag.id">
          </el-tab-pane>
        </el-tabs>
      </el-aside>

    </el-container>
    
  </el-tab-pane>
  <el-tab-pane label="黑名单">
    
  </el-tab-pane>
</el-tabs>

@section Scripts{
  <script src="/sitefiles/assets/js/admin/wx/users.js" type="text/javascript"></script>
}
