@page
@{ Layout = "_Layout"; }

<div
  class="el-table el-table--fit el-table--enable-row-hover el-table--enable-row-transition"
  style="width: 100%;"
>
  <div class="el-table__body-wrapper is-scrolling-none">
    <table
      cellspacing="0"
      cellpadding="0"
      border="0"
      class="el-table__body"
      width="100%"
    >
      <colgroup>
        <col width="180" />
        <col />
        <col width="180" />
        <col />
      </colgroup>
      <tbody>
        <tr class="el-table__row">
          <td rowspan="1" colspan="1">
            <div class="cell">
              <strong>管理员Id</strong>
            </div>
          </td>
          <td rowspan="1" colspan="1">
            <div class="cell">{{ administrator.id }}</div>
          </td>
          <td rowspan="1" colspan="1">
            <div class="cell">
              <strong>账号</strong>
            </div>
          </td>
          <td rowspan="1" colspan="1">
            <div class="cell">{{ administrator.userName }}</div>
          </td>
        </tr>
        <tr class="el-table__row">
          <td rowspan="1" colspan="1">
            <div class="cell">
              <strong>姓名</strong>
            </div>
          </td>
          <td rowspan="1" colspan="1">
            <div class="cell">{{ administrator.displayName }}</div>
          </td>
          <td rowspan="1" colspan="1">
            <div class="cell">
              <strong>头像</strong>
            </div>
          </td>
          <td rowspan="1" colspan="1">
            <div class="cell">
              <el-avatar :size="40" :src="administrator.avatarUrl || utils.getAssetsUrl('images/default_avatar.png')"></el-avatar>
            </div>
          </td>
        </tr>
        </tr>
        <tr class="el-table__row">
          <td rowspan="1" colspan="1">
            <div class="cell">
              <strong>手机号码</strong>
            </div>
          </td>
          <td rowspan="1" colspan="1">
            <div class="cell">{{ administrator.mobile }}</div>
          </td>
          <td rowspan="1" colspan="1">
            <div class="cell">
              <strong>电子邮箱</strong>
            </div>
          </td>
          <td rowspan="1" colspan="1">
            <div class="cell">{{ administrator.email }}</div>
          </td>
        </tr>
        <tr class="el-table__row">
          <td rowspan="1" colspan="1">
            <div class="cell">
              <strong>级别</strong>
            </div>
          </td>
          <td rowspan="1" colspan="1">
            <div class="cell" v-html="level"></div>
          </td>
          <td rowspan="1" colspan="1">
            <div class="cell">
              <strong>角色</strong>
            </div>
          </td>
          <td rowspan="1" colspan="1">
            <div class="cell" v-html="roleNames"></div>
          </td>
        </tr>
        <tr class="el-table__row">
          <td rowspan="1" colspan="1">
            <div class="cell">
              <strong>可管理站点</strong>
            </div>
          </td>
          <td rowspan="1" colspan="3">
            <div class="cell" v-html="siteNames"></div>
          </td>
        </tr>
        <tr class="el-table__row">
          <td rowspan="1" colspan="1">
            <div class="cell">
              <strong>创建人</strong>
            </div>
          </td>
          <td rowspan="1" colspan="1">
            <div class="cell">{{ administrator.creatorUserName }}</div>
          </td>
          <td rowspan="1" colspan="1">
            <div class="cell">
              <strong>创建时间</strong>
            </div>
          </td>
          <td rowspan="1" colspan="1">
            <div class="cell">{{ administrator.createdDate }}</div>
          </td>
        </tr>
        <tr class="el-table__row">
          <td rowspan="1" colspan="1">
            <div class="cell">
              <strong>最后登录时间</strong>
            </div>
          </td>
          <td rowspan="1" colspan="3">
            <div class="cell">{{ administrator.lastActivityDate }}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="el-table__column-resize-proxy" style="display: none;"></div>
</div>

<el-divider></el-divider>
<el-row align="right" style="margin-right: 5px; margin-top: 10px;">
  <el-col :span="24" align="right">
    <el-button size="small" v-on:click="btnCancelClick">关 闭</el-button>
  </el-col>
</el-row>

@section Scripts{
<script src="/sitefiles/assets/js/admin/common/adminLayerView.js" type="text/javascript"></script>
}
