@page
@{ Layout = "./shared/_layoutRoot"; }

<div class="m-l-15 m-r-15">
  <div class="text-center" style="margin-top: 100px">
    <img class="mt-3" src="assets/images/loading.gif" />
    <p class="lead mt-3 text-nowrap">载入中，请稍后...</p>
  </div>
</div>

@section Scripts{
<script src="/admin/assets/js/loading.js" type="text/javascript"></script> }