bin/
obj/
/channels/
/contents/
SiteFiles/BackupFiles/
SiteFiles/Plugins/
SiteFiles/packages/
SiteFiles/SiteTemplates/
SiteFiles/TemporaryFiles/
SiteFiles/UserFiles/
SiteFiles/Administrators/
Template
/sapprft/
/Mullen/
Web.config

test/
## sqlserver
test1/
test2/
test3/
test4/
test5/
test6/
test7/
test8/
test9/

## mysql
test10/
test11/
test12/
test13/
test14/
test15/
test16/
test17/
test18/
test19/

## postgresql
test20/
test21/
test22/
test23/
test24/
test25/
test26/
test27/
test28/
test29/

## oracle
test30/
test31/
test32/
test33/
test34/
test35/
test36/
test37/
test38/
test39/

upload
T_*.html
index.html
index.shtml