*
!*.cs
!favicon.ico
!packages.config
!SiteServer.API.csproj
!test.aspx
!Web.config
!Web.Release.config
!安装向导.html

!Controllers/
!Properties/
!SiteFiles/assets/
!SiteFiles/UserFiles/default_avatar.png
!SiteFiles/UserFiles/home_logo.png
!SiteFiles/index.htm
!SiteServer/