<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.9.11" targetFramework="net461" />
  <package id="BouncyCastle" version="1.8.5" targetFramework="net461" />
  <package id="Dapper" version="1.60.6" targetFramework="net452" />
  <package id="Datory" version="0.1.15" targetFramework="net452" />
  <package id="DocumentFormat.OpenXml" version="2.9.1" targetFramework="net461" />
  <package id="Google.Protobuf" version="3.7.0" targetFramework="net461" />
  <package id="HtmlSanitizer" version="4.0.210" targetFramework="net461" />
  <package id="Microsoft.AspNet.Cors" version="5.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.7" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net452" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net452" />
  <package id="Microsoft.Net.Compilers" version="3.0.0" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.NETCore.Platforms" version="2.2.0" targetFramework="net461" />
  <package id="Microsoft.Owin" version="4.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Security" version="4.0.1" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="MySql.Data" version="8.0.16" targetFramework="net461" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net461" />
  <package id="Npgsql" version="4.0.6" targetFramework="net452" />
  <package id="Oracle.ManagedDataAccess" version="18.6.0" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="SharpZipLib" version="1.1.0" targetFramework="net461" />
  <package id="SiteServer.Plugin" version="2.3.7" targetFramework="net461" />
  <package id="SqlKata" version="1.1.7" targetFramework="net452" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net461" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net452" />
  <package id="System.Data.SqlClient" version="4.6.0" targetFramework="net452" requireReinstallation="true" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.Packaging" version="4.5.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.2" targetFramework="net452" requireReinstallation="true" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.Caching" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net452" requireReinstallation="true" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net461" />
  <package id="System.Security.Permissions" version="4.5.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.5.1" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net452" requireReinstallation="true" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net452" requireReinstallation="true" />
</packages>