<!DOCTYPE html>
<html class="bg-white">

<head>
  <meta charset="utf-8" />
  <title>SiteServer CMS - 用户中心</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta content="SiteServer CMS 用户中心" name="description" />
  <meta content="SiteServer CMS" name="author" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="shortcut icon" href="../assets/images/favicon.ico">
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="../assets/lib/vue-multiselect-2.1.0/style.min.css" rel="stylesheet" type="text/css" />
  <link href="../assets/css/font-awesome-4.7.0.min.css" rel="stylesheet" type="text/css" />
  <link href="../assets/css/ionicons-2.0.0.min.css" rel="stylesheet" type="text/css" />
  <link href="../assets/css/siteserver.min.css" rel="stylesheet" type="text/css" />
  <script src="../assets/lib/modernizr.min.js"></script>
  <script type="text/javascript" src="../assets/lib/iframe-resizer-3.6.2/iframeResizer.contentWindow.min.js"></script>
</head>

<body style="padding-bottom: 0;" class="bg-white">
  <div id="main" class="m-t-15 m-b-15 m-l-15 m-r-15">

    <template v-if="pageLoad">

      <div v-if="pageAlert" class="alert" v-bind:class="{ 'alert-warning': pageAlert.type === 'warning', 'alert-success': pageAlert.type === 'success', 'alert-danger': pageAlert.type === 'danger' }">
        <button v-on:click="pageAlert = null" class="close" data-dismiss="alert">×</button>
        <span v-html="pageAlert.html"></span>
      </div>

      <div class="form-group">
        <label>导出类型</label>
        <div class="mt-2 ml-2">
          <div class="radio radio-primary form-check-inline">
            <input v-model="exportType" type="radio" id="zip" value="zip">
            <label for="zip"> 导出压缩包 </label>
          </div>
          <div class="radio radio-primary form-check-inline">
            <input v-model="exportType" type="radio" id="excel" value="excel">
            <label for="excel"> 导出Excel文件 </label>
          </div>
        </div>
        <small class="help-block">导出压缩包能够将内容以及内容相关的图片、附件等文件一并导出，导出Excel则仅能导出数据。</small>
      </div>

      <div class="form-group">
        <div class="clearfix">
          <label class="float-left">
            内容状态
          </label>
          <div class="checkbox checkbox-primary float-left ml-2">
            <input v-model="isAllCheckedLevel" v-on:click.prevent="btnIsAllCheckedLevelClick" type="checkbox" id="isAllCheckedLevel">
            <label for="isAllCheckedLevel"> 全选 </label>
          </div>
        </div>
        <div class="mt-2 ml-2">
          <div v-for="(checkedLevel, index) in checkedLevels" class="checkbox checkbox-primary form-check-inline">
            <input :id="'checkedLevel_' + index" type="checkbox" :value="checkedLevel.key" v-model="checkedLevelKeys">
            <label :for="'checkedLevel_' + index">{{ checkedLevel.value }}</label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>内容添加时间</label>
        <div class="mt-2 ml-2">
          <div class="radio radio-primary form-check-inline">
            <input v-model="isAllDate" type="radio" id="true" :value="true">
            <label for="true"> 全部时间段 </label>
          </div>
          <div class="radio radio-primary form-check-inline">
            <input v-model="isAllDate" type="radio" id="false" :value="false">
            <label for="false"> 自定义时间段 </label>
          </div>
        </div>
        <div v-if="!isAllDate" class="form-group">
          开始时间：<date-picker v-model="startDate" type="datetime" format="YYYY年MM月DD日 HH:mm" :minute-step="1" :clearable="false"
            :editable="false"></date-picker>
          结束时间：<date-picker v-model="endDate" type="datetime" format="YYYY年MM月DD日 HH:mm" :minute-step="1" :clearable="false"
            :editable="false"></date-picker>
        </div>
      </div>

      <div v-if="exportType === 'excel'" class="form-group">
        <div class="clearfix">
          <label class="float-left">
            导出字段
          </label>
          <div class="checkbox checkbox-primary float-left ml-2">
            <input v-model="isAllColumns" v-on:click.prevent="btnIsAllColumnsClick" type="checkbox" id="isAllColumns">
            <label for="isAllColumns"> 全选 </label>
          </div>
        </div>
        <div class="mt-2 ml-2">
          <div v-for="(column, index) in columns" class="checkbox checkbox-primary form-check-inline">
            <input :id="'column_' + index" type="checkbox" :disabled="column.attributeName === 'Title'" :value="column.attributeName"
              :checked="column.isList" v-model="columnNames">
            <label :for="'column_' + index">{{ column.displayName }}</label>
          </div>
        </div>
      </div>

      <hr />

      <div class="text-right mr-1">
        <button v-on:click="btnSubmitClick" type="button" class="btn btn-primary m-l-5">确 定</button>
        <button type="button" class="btn btn-default m-l-5" onclick="window.parent.layer.closeAll()">取 消</button>
      </div>

    </template>
    <template v-else>
      <div class="text-center" style="margin-top: 100px">
        <img class="mt-3" src="../assets/images/loading.gif" />
        <p class="lead mt-3 text-nowrap">载入中，请稍后...</p>
      </div>
    </template>

  </div>
</body>

</html>

<script src="../assets/lib/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="../assets/lib/popper.min.js"></script>
<script src="../assets/lib/bootstrap.min.js"></script>
<script src="../assets/lib/lodash-4.17.10.min.js" type="text/javascript"></script>
<script src="../assets/lib/layer-3.1.1/layer.js" type="text/javascript"></script>
<script src="../assets/lib/sweetalert2-7.28.4.all.min.js" type="text/javascript"></script>
<script src="../assets/lib/vue-2.5.16.min.js" type="text/javascript"></script>
<script src="../assets/lib/vee-validate-2.1.0.js"></script>
<script src="../assets/lib/vee-validate-locale-zh_CN-2.1.0.js"></script>
<script src="../assets/lib/js.cookie-2.2.0.js"></script>
<script src="../assets/js/utils.js" type="text/javascript"></script>
<script src="../config.js" type="text/javascript"></script>

<script src="../assets/lib/vue2-datepicker-2.4.3.min.js"></script>
<script src="contentsLayerExport.js" type="text/javascript"></script>