@charset "utf-8";
body, div, address, blockquote, iframe, ul, ol, dl, dt, dd, li, dl, h1, h2, h3, h4, pre, table, caption, th, td, form, legend, fieldset, input, button, select, textarea,p {margin:0; padding:0;}
ol, ul ,li{list-style: none;}
img {border: 0; vertical-align:top;width: 100%;}
body{
	background: #fff;	
	font-size: 12px;
	font-family: "微软雅黑";
}
.big_header{
	width: 100%;
	position: relative;
}
.big_header .ggk_box{
	position: absolute;
	top: 65%;
	padding-left: 12%;
	color: #fff;
	width: 65%;
	height: 38%;
	width: 100%;
}
.big_header .ggk_box .tilte{
	color: #fff;
	font-size: 22px;
}
.big_header .ggk_box .ggk{
	display: inline-block;
	width: 65%;
	height: 35%;
	background: #999;
	border-radius: 5px;
	border-bottom: 3px solid #636363;
	vertical-align: middle;
}
.ggk_content{
	padding: 3% 3% 0;
}
.ggk_content li{
	margin-bottom: 4%;
}
.ggk_content .hd{
	border-radius: 3px 3px 0 0;
	height: 60px;
	line-height: 60px;
	color: #fff;
}
.ggk_content .hd .title{
	line-height: 60px;
	padding-left: 4%;
	font-size: 26px;
	font-weight: bold;
	font-family: "微软雅黑";
}
.ggk_content .bd{
	color: #666;
	padding:5% 4%;
	font-size: 22px;
	line-height: 36px;
}
.ggk_content .form_item .hd{
	background: #d9534f;
}
.ggk_content .form_item .bd{
	background: #f2dedf;
}
.ggk_content .form_item .bd p{
	margin-bottom: 4%;
}
.ggk_content .form_item .bd .p2{
	margin-bottom: 2%;
}

.ggk_content .form_item .t{
	font-size: 24px;
	color: #666;
}
.ggk_content .gift_item .hd{
	background: #5cb85c;
}
.ggk_content .gift_item .bd{
	background: #dff0d8;
}
.ggk_content .rule_item .hd{
	background: #5bc0de;
}

.ggk_content .rule_item .bd{
	background: #d9edf7;
}
.ggk_content .coupon_item .hd{
	background: #f0ad4e;
}
.ggk_content .coupon_item .bd{
	background: #fcf8e3;
}
.ggk_content .coupon_item p{
	color: #e63131;
	margin-bottom: 1%;
}
.ggk_content .coupon_item .c666{
	color: #666;
}
.ggk_content .coupon_item .p1{
	margin-bottom: 5%;
}
.ggk_content .coupon_item .p1 strong{
	font-size: 30px;
}
.dj_box_bg{
	position: absolute;
	width: 81.25%;
	left: 9.3%;
	top: 10%;
}
.big_header .ewm_img{
	position: absolute;
	top: 25%;
	left: 39.3%;
	width: 21%;
	border: 1px solid #000;
	z-index: 2;
}
.big_header .ex_text{
	position: absolute;
	top: 15%;
	width: 100%;
	text-align: center;
	color: #000;
	font-size: 22px;
	z-index: 2;
}
.big_header .ex_num{
	position: absolute;
	top: 60%;
	width: 100%;
	text-align: center;
	color: #000;
	font-size: 22px;
	z-index: 2;
}
.ggk_content_dj{
	margin-top: -2%;
}
.ggk_content_dj .intro_item p.t{
	color: #d9534f;
	margin-bottom: 2%;
}
.ggk_content_dj .intro_item p.time{
	margin-bottom: 1.5%;
}
.ggk_content_dj .intro_item .map_link{
	color: #4f7cd9;
	display: block;
	width: 30%;
	margin-bottom: 3%;
}
.ggk_content_dj .intro_item dt{
	font-weight: normal;
}
.ggk_content_dj .intro_item dt, .ggk_content_dj .intro_item dd{
	margin-bottom: 1%;
}
.zhuanpan_bg{
	position: absolute;
	top: 7%;
	width:84.37%;
	left: 7.8%;
	z-index: 2;
}
.start_btn{
	position: absolute;
	top:30%;
	width:21%;
	left: 39%;
	z-index: 3;
	cursor: pointer;
}
.zhuanpan_item{
	margin-top: 3%;
}
@media all and (max-width: 420px){
	.big_header .ex_num,.big_header .ex_text{
		font-size: 18px;
	}
}
@media all and (max-width: 340px){
	.big_header .ggk_box .tilte{
		font-size: 14px;
	}
	.ggk_content .hd{
		height: 30px;
		line-height: 30px;
	}
	.ggk_content .hd .title{
		font-size: 14px;
		line-height: 30px;
	}
	.ggk_content .bd{
		font-size: 12px;
		line-height: 20px;
	}
	.ggk_content .form_item .t{
		font-size: 12px;
	}
	.ggk_content .coupon_item .p1 strong{
		font-size: 14px;
	}
	.big_header .ex_num,.big_header .ex_text{
		font-size: 14px;
	}
}
@media all and (max-width: 340px){
	.big_header .ex_num,.big_header .ex_text{
		font-size: 12px;
	}
	.big_header .ex_text{
		top:13%;
	}
}

