.rank {
  border: none;
  background: url(../pic/rank.gif) no-repeat;
  width: 125px;
  height: 22px;
  vertical-align: middle;
  cursor: default;
}

.r0 {
  background-position: 0 0;
}

.r1 {
  background-position: 0 -22px;
}

.r2 {
  background-position: 0 -44px;
}

.r3 {
  background-position: 0 -66px;
}

.r4 {
  background-position: 0 -88px;
}

.r5 {
  background-position: 0 -110px;
}

.r6 {
  background-position: 0 -132px;
}

.r7 {
  background-position: 0 -154px;
}