<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>用户中心</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="renderer" content="webkit" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="/sitefiles/assets/images/favicon.png" rel="icon" type="image/png">
  <link href="/sitefiles/assets/css/font-awesome-4.7.0.min.css" rel="stylesheet" type="text/css" />
  <link href="/sitefiles/assets/css/ionicons-2.0.0.min.css" rel="stylesheet" type="text/css" />
  <link href="/sitefiles/assets/lib/elementui/default/index.css" rel="stylesheet" type="text/css" />
  <link href="/sitefiles/assets/css/element-ui.css" rel="stylesheet" type="text/css" />
  @RenderSection("Styles", required: false)
</head>

<body>
  <div id="main">

    <div v-if="this.pageLoad" style="display: none" :style="{display: ''}">
      @RenderBody()
    </div>
    <div v-else :style="{top: ($(window).height()/2 - 30) + 'px'}" v-loading="true" element-loading-text="页面加载中"></div>

  </div>
</body>

</html>

<script src="/sitefiles/assets/lib/es6-promise.auto.min.js" type="text/javascript"></script>
<script src="/sitefiles/assets/lib/axios-0.17.1.min.js" type="text/javascript"></script>
<script src="/sitefiles/assets/lib/core-js-3.6.5.min.js" type="text/javascript"></script>
<script src="/sitefiles/assets/lib/lodash-4.17.10.min.js" type="text/javascript"></script>
<script src="/sitefiles/assets/lib/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="/sitefiles/assets/lib/layer/layer-3.1.1.js" type="text/javascript"></script>
<script src="/sitefiles/assets/lib/sweetalert2-7.28.4.all.min.js" type="text/javascript"></script>
<script src="/sitefiles/assets/lib/vue-2.5.16.min.js" type="text/javascript"></script>
<script src="/sitefiles/assets/lib/elementui/index.js"></script>

<script src="/sitefiles/assets/js/home.js" type="text/javascript"></script>
<script src="/sitefiles/assets/js/utils.js" type="text/javascript"></script>
<script src="/sitefiles/assets/js/cloud.js" type="text/javascript"></script>
@RenderSection("Scripts", required: false)