body, div, h1, h2, h3, span, p {
font-family: Verdana,Arial,Helvetica,sans-serif;
color: #000000; 
}
/* fullscreen */
html {
height:100%;
}
body {
height:100%;
margin: 0px;
overflow:hidden; /* disable scrollbars */
}
body {
  font-size: 10pt;
  background : #ffffff; 
}
table,tr,td {
font-size: 10pt;
border-color : #777777;
background : #dddddd; 
color: #000000; 
border-style : solid;
border-width : 2px;
padding: 5px;
border-collapse:collapse;
}
h1 {
font-size: 18pt;
}
h2 {
font-size: 14pt;
}
.warning { 
font-weight: bold;
} 
/* fix for scroll bars on webkit & Mac OS X Lion */ 
::-webkit-scrollbar {
background-color: rgba(0,0,0,0.5);
width: 0.75em;
}
::-webkit-scrollbar-thumb {
background-color:  rgba(255,255,255,0.5);
}