<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
    <Tab text="创建新站点" permissions="settings_sitesAdd" iconClass="ion-plus-circled" href="./settings/sitesAdd/" />
    <Tab text="站点管理" permissions="settings_sites,settings_sitesUrl,settings_sitesTables,settings_sitesTemplates,settings_sitesTemplatesOnline" iconClass="ion-earth">
      <SubTabs>
        <Tab text="站点管理" permissions="settings_sites" href="./settings/sites/" />
        <Tab text="站点访问地址" permissions="settings_sitesUrl" href="./settings/sitesUrl/" />
        <Tab text="站点内容表" permissions="settings_sitesTables" href="./settings/sitesTables/" />
        <Tab text="站点模板管理" permissions="settings_sitesTemplates" href="./settings/sitesTemplates/" />
        <Tab text="在线站点模板" permissions="settings_sitesTemplatesOnline" href="./settings/sitesTemplatesOnline/" />
      </SubTabs>
    </Tab>
    <Tab text="管理员管理" permissions="settings_administrators,settings_administratorsRole,settings_administratorsAccessTokens,settings_administratorsConfig" iconClass="ion-person">
      <SubTabs>
        <Tab text="管理员管理"  permissions="settings_administrators" href="./settings/administrators/" />
        <Tab text="角色管理"  permissions="settings_administratorsRole" href="./settings/administratorsRole/" />
        <Tab text="API密钥管理"  permissions="settings_administratorsAccessTokens" href="./settings/administratorsAccessTokens/" />
        <Tab text="管理员设置"  permissions="settings_administratorsConfig" href="./settings/administratorsConfig/" />
      </SubTabs>
    </Tab>
    <Tab text="用户管理" permissions="settings_users,settings_usersGroup,settings_usersStyle,settings_usersConfig" iconClass="ion-android-contact">
      <SubTabs>
        <Tab text="用户管理"  permissions="settings_users" href="./settings/users/" />
        <Tab text="用户组管理"  permissions="settings_usersGroup" href="./settings/usersGroup/" />
        <Tab text="用户字段"  permissions="settings_usersStyle" href="./settings/usersStyle/" />
        <Tab text="用户设置"  permissions="settings_usersConfig" href="./settings/usersConfig/" />
      </SubTabs>
    </Tab>
    <Tab text="统计图表" permissions="settings_analysisAdminLogin,settings_analysisAdminWork,settings_analysisUser" iconClass="ion-podium">
      <SubTabs>
        <Tab text="管理员登录统计"  permissions="settings_analysisAdminLogin" href="./settings/analysisAdminLogin/" />
        <Tab text="管理员工作统计"  permissions="settings_analysisAdminWork" href="./settings/analysisAdminWork/" />
        <Tab text="用户数据统计"  permissions="settings_analysisUser" href="./settings/analysisUser/" />
      </SubTabs>
    </Tab>
    <Tab text="运行日志" permissions="settings_logsSite,settings_logsAdmin,settings_logsUser,settings_logsError,settings_logsConfig" iconClass="ion-information-circled">
      <SubTabs>
        <Tab text="站点日志" permissions="settings_logsSite" href="./settings/logsSite/" />
        <Tab text="管理员日志" permissions="settings_logsAdmin" href="./settings/logsAdmin/" />
        <Tab text="用户日志" permissions="settings_logsUser" href="./settings/logsUser/" />
        <Tab text="系统错误日志" permissions="settings_logsError" href="./settings/logsError/" />
        <Tab text="日志设置" permissions="settings_logsConfig" href="./settings/logsConfig/" />
      </SubTabs>
    </Tab>
    <Tab text="系统设置" permissions="settings_configsAdmin,settings_configsHome,settings_configsHomeMenu" iconClass="ion-wrench">
      <SubTabs>
        <Tab text="管理后台设置" permissions="settings_configsAdmin" href="./settings/configsAdmin/" />
        <Tab text="用户中心设置" permissions="settings_configsHome" href="./settings/configsHome/" />
        <Tab text="用户中心菜单" permissions="settings_configsHomeMenu" href="./settings/configsHomeMenu/" />
      </SubTabs>
    </Tab>
    <Tab text="实用工具" permissions="settings_utilitiesCache,settings_utilitiesParameters,settings_utilitiesEncrypt" iconClass="ion-briefcase">
      <SubTabs>
        <Tab text="系统缓存" permissions="settings_utilitiesCache" href="./settings/utilitiesCache/" />
        <Tab text="系统参数" permissions="settings_utilitiesParameters" href="./settings/utilitiesParameters/" />
        <Tab text="加密/解密字符串" permissions="settings_utilitiesEncrypt" href="./settings/utilitiesEncrypt/" />
      </SubTabs>
    </Tab>
  </Tabs>
</TabCollection>
