<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
    <Tab id="Plugins" text="插件管理" permissions="plugins_add,plugins_management" />
    <Tab id="Settings" text="系统管理" permissions="settings_siteAdd,settings_site,settings_siteUrl,settings_siteTables,settings_siteTemplates,settings_siteTemplatesOnline,settings_admin,settings_adminRole,settings_adminConfig,settings_adminAccessTokens,settings_user,settings_userGroup,settings_userStyle,settings_userConfig,settings_analysisAdminLogin,settings_analysisAdminWork,settings_analysisUser,settings_logSite,settings_logAdmin,settings_logUser,settings_logError,settings_logConfig,settings_configAdmin,settings_configHome,settings_configHomeMenu,settings_utilityCache,settings_utilityParameters,settings_utilityEncrypt,settings_utilityDbLogDelete" />
  </Tabs>
</TabCollection>
