.mod-5 {
    margin: 0 auto;
    width: 600px
}

.center {
  text-align: center !important;
}

.tool-result {
    padding: 0 110px 0 35px
}

.qa {
    width: 500px
}

.msg-info {
    color: #ec8242;
    font-family: "Microsoft Yahei";
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 8px
}

.params-item {
    float: left;
    line-height: 36px;
    margin-right: 20px
}

.three-step-cont {
    margin: 20px auto 0
}

.three-step-cont, .three-step {
    width: 600px
}

.fb-cont {
    padding: 0 0 10px 69px
}

.tool-result p {
    padding-bottom: 15px
}

.qa h3 {
    font-size: 14px;
    padding-bottom: 10px
}

.three-step li, .find-way-list li {
    float: left;
    position: relative;
    text-align: center;
    width: 200px
}

.txt-list-2 li {
    height: 20px;
    line-height: 20px;
    margin-top: 10px;
    overflow: hidden
}

.kefu-list li {
    background: #f1f0ef;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    float: left;
    margin: 15px 15px 0 0;
    text-align: center;
    width: 142px
}

.txt-list-2 li h3 {
    font-weight: 400;
    font-size: 14px
}

.kefu-list li img {
    vertical-align: middle
}

.kefu-list li a {
    display: block;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    padding: 5px 0
}

.article .art-mod {
    padding-bottom: 30px
}

.mod-3 .art-mod, .mod-4 .art-mod {
    padding: 20px 30px
}

.tool-result .operate {
    color: #999;
    float: right;
    text-align: left;
    width: 100px
}

.tool-result .ico {
    background: url(images/uc-ico.png) no-repeat;
    height: 32px;
    width: 32px
}

.tool-result .ico-phone2 {
    background-position: 0 -128px
}

.tool-result .ico-mail2 {
    background-position: 0 -96px
}

.tool-result .ico-email {
    background-position: 0 -32px
}

.form-1 .hobby-cont {
    line-height: 24px
}

.form-1 .hobby-item {
    display: inline-block;
    vertical-align: middle;
    width: 75px
}

.three-step-cont .tit {
    padding-bottom: 10px
}

.article .art-hd h2 {
    color: #333;
    float: left;
    font-size: 24px;
    font-family: "Microsoft Yahei";
    font-weight: 400;
    margin-right: 20px
}

.three-step li .step-bg {
    background: #f0f0f0;
    display: block;
    height: 5px;
    overflow: hidden
}

.three-step li .step-bar {
    background: #59ce2a;
    border-radius: 3px;
    display: none;
    font-size: 0;
    height: 5px;
    line-height: 0;
    vertical-align: top;
    width: 200px
}

.three-step li .step-arrow {
    background: url(images/uc-ico.png) no-repeat -170px -96px;
    display: none;
    font-size: 0;
    height: 12px;
    left: 50%;
    line-height: 0;
    margin-left: -6px;
    position: absolute;
    top: -4px;
    width: 12px
}

.three-step li .words {
    color: #999;
    font-size: 14px;
    font-family: "Microsoft Yahei";
    padding-top: 10px
}

.find-way-list li .ico {
    background: url(images/uc-ico.png) no-repeat;
    height: 32px;
    margin-right: 5px;
    vertical-align: middle;
    width: 32px
}

.find-way-list li .ico-iPhone {
    background-position: -64px -32px
}

.find-way-list li .ico-email {
    background-position: -64px -64px
}

.find-way-list li .ico-email-2 {
    background-position: -64px -96px
}

.find-way-list li .txt {
    display: inline-block;
    font-family: "Microsoft Yahei";
    text-align: left;
    vertical-align: middle
}

.find-way-list li .ico-recom {
    position: absolute;
    right: -5px;
    top: -15px
}

.txt-list-2 li .tit {
    color: #666;
    display: block;
    padding: 10px 0 6px
}

.txt-list-2 li.current {
    height: auto
}

.qa .txt-list li p {
    color: #999;
    display: none;
    line-height: 24px;
    padding: 10px 0 0
}

.txt-list-2 li.current h3 a {
    color: #0082cb;
    font-weight: 700
}

.article .art-hd .phone {
    color: #59ce2a;
    font-size: 24px;
    width: 30%
}

.three-step li.first-step .step-bg {
    border-radius: 14px 0 0 14px
}

.three-step li.last-step .step-bg {
    border-radius: 0 14px 14px 0
}

.three-step li.step-active .step-bar {
    display: inline-block
}

.three-step li.step-active .words {
    color: #38aa0b;
    font-weight: 700
}

.three-step li.step-active .step-arrow {
    display: block
}

.qa .txt-list li a:hover {
    color: #1eb009
}

.qa .txt-list li.current a {
    color: #0082cb;
    font-weight: 700
}

.qa .txt-list li.current p {
    display: block
}

.qa .txt-list li.current .disc {
    background: #0082cb
}

.mod-5 {
    margin: 0 auto;
    width: 600px
}

.tool-result {
    padding: 0 110px 0 35px
}

.qa {
    width: 500px
}

.msg-info {
    color: #ec8242;
    font-family: "Microsoft Yahei";
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 8px
}

.params-item {
    float: left;
    line-height: 36px;
    margin-right: 20px
}

.three-step-cont {
    margin: 20px auto 0
}

.three-step-cont, .three-step {
    width: 600px
}

.fb-cont {
    padding: 0 0 10px 69px
}

.tool-result p {
    padding-bottom: 15px
}

.qa h3 {
    font-size: 14px;
    padding-bottom: 10px
}

.three-step li, .find-way-list li {
    float: left;
    position: relative;
    text-align: center;
    width: 200px
}

.txt-list-2 li {
    height: 20px;
    line-height: 20px;
    margin-top: 10px;
    overflow: hidden
}

.kefu-list li {
    background: #f1f0ef;
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    float: left;
    margin: 15px 15px 0 0;
    text-align: center;
    width: 142px
}

.txt-list-2 li h3 {
    font-weight: 400;
    font-size: 14px
}

.kefu-list li img {
    vertical-align: middle
}

.kefu-list li a {
    display: block;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    padding: 5px 0
}

.article .art-mod {
    padding-bottom: 30px
}

.mod-3 .art-mod, .mod-4 .art-mod {
    padding: 20px 30px
}

.tool-result .operate {
    color: #999;
    float: right;
    text-align: left;
    width: 100px
}

.tool-result .ico {
    background: url(images/uc-ico.png) no-repeat;
    height: 32px;
    width: 32px
}

.tool-result .ico-phone2 {
    background-position: 0 -128px
}

.tool-result .ico-mail2 {
    background-position: 0 -96px
}

.tool-result .ico-email {
    background-position: 0 -32px
}

.form-1 .hobby-cont {
    line-height: 24px
}

.form-1 .hobby-item {
    display: inline-block;
    vertical-align: middle;
    width: 75px
}

.three-step-cont .tit {
    padding-bottom: 10px
}

.article .art-hd h2 {
    color: #333;
    float: left;
    font-size: 24px;
    font-family: "Microsoft Yahei";
    font-weight: 400;
    margin-right: 20px
}

.three-step li .step-bg {
    background: #f0f0f0;
    display: block;
    height: 5px;
    overflow: hidden
}

.three-step li .step-bar {
    background: #59ce2a;
    border-radius: 3px;
    display: none;
    font-size: 0;
    height: 5px;
    line-height: 0;
    vertical-align: top;
    width: 200px
}

.three-step li .step-arrow {
    background: url(images/uc-ico.png) no-repeat -170px -96px;
    display: none;
    font-size: 0;
    height: 12px;
    left: 50%;
    line-height: 0;
    margin-left: -6px;
    position: absolute;
    top: -4px;
    width: 12px
}

.three-step li .words {
    color: #999;
    font-size: 14px;
    font-family: "Microsoft Yahei";
    padding-top: 10px
}

.find-way-list li .ico {
    background: url(images/uc-ico.png) no-repeat;
    height: 32px;
    margin-right: 5px;
    vertical-align: middle;
    width: 32px
}

.find-way-list li .ico-iPhone {
    background-position: -64px -32px
}

.find-way-list li .ico-email {
    background-position: -64px -64px
}

.find-way-list li .ico-email-2 {
    background-position: -64px -96px
}

.find-way-list li .txt {
    display: inline-block;
    font-family: "Microsoft Yahei";
    text-align: left;
    vertical-align: middle
}

.find-way-list li .ico-recom {
    position: absolute;
    right: -5px;
    top: -15px
}

.txt-list-2 li .tit {
    color: #666;
    display: block;
    padding: 10px 0 6px
}

.txt-list-2 li.current {
    height: auto
}

.qa .txt-list li p {
    color: #999;
    display: none;
    line-height: 24px;
    padding: 10px 0 0
}

.txt-list-2 li.current h3 a {
    color: #0082cb;
    font-weight: 700
}

.article .art-hd .phone {
    color: #59ce2a;
    font-size: 24px;
    width: 30%
}

.three-step li.first-step .step-bg {
    border-radius: 14px 0 0 14px
}

.three-step li.last-step .step-bg {
    border-radius: 0 14px 14px 0
}

.three-step li.step-active .step-bar {
    display: inline-block
}

.three-step li.step-active .words {
    color: #38aa0b;
    font-weight: 700
}

.three-step li.step-active .step-arrow {
    display: block
}

.qa .txt-list li a:hover {
    color: #1eb009
}

.qa .txt-list li.current a {
    color: #0082cb;
    font-weight: 700
}

.qa .txt-list li.current p {
    display: block
}

.qa .txt-list li.current .disc {
    background: #0082cb
}

.mup_file, .mup_fnm {
    display: inline-block;
    line-height: 28px;
    height: 28px;
}
.mup_file {
    background-color: #ebe7de;
    white-space: nowrap;
    position: relative;
    padding-right: 31px;
    margin: 5px 10px 5px 0;
}
.mup_fnm {
    color: #333;
    background: #ebe7de;
    font-size: 14px;
    padding: 0 8px;
}
.mup_del {
  background: #ebe7de url(images/del.png) no-repeat 50%;
  height: 28px;
  width: 30px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.navigation {
    text-align: center;
}
.cd-pagination {
    margin: 4em auto 8em;
    text-align: center;
}
.cd-pagination li {
    display: inline-block;
}
.cd-pagination li {
    margin: 0 .2em;
}
.cd-pagination a {
    border: 1px solid #e6e6e6;
    border-radius: 0.25em;
    width: 30px;
}
.cd-pagination.custom-buttons .button a {
    overflow: hidden;
    white-space: nowrap;
    text-indent: 100%;
    color: #000;
    background-image: url("images/icon-arrow.svg");
    background-repeat: no-repeat;
    background-position: center center;
}
.cd-pagination a:hover {
    background-color: #f2f2f2;
}
.cd-pagination.custom-buttons a, .cd-pagination.custom-buttons span {
    vertical-align: middle;
}
.cd-pagination a, .cd-pagination span {
    display: inline-block;
    font-size: 14px;
}
.cd-pagination .current {
    background-color: #33b818;
    border-color: #2db015;
    color: #fff;
    pointer-events: none;
}
.cd-pagination .button:first-of-type a::before {
    content: '\00ab ';
}
.cd-pagination .button:last-of-type a::after {
    content: ' \00bb';
}
.cd-pagination.custom-buttons .button:last-of-type a {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.cd-pagination.custom-buttons a, .cd-pagination.custom-buttons span {
    vertical-align: middle;
}

.mod-setavator{padding-top:20px;position:relative}
.iptp{height:30px;_left:20px;overflow:hidden;position:relative;_top:38px;width:350px}
.photol{float:left;padding:20px 0 0 20px}
.photor{float:left;padding:20px 0 0 40px}
.btn4,.iptbut{padding:5px 10px}
.tit1 span{padding-left:20px}
.iptp .ipttext{height:24px;line-height:26px;position:absolute;width:235px;z-index:5}
.iptp .iptbut{left:242px;position:absolute;width:70px;z-index:5}
.mod-setavator .text-tip{line-height:24px;padding:5px 0}
.mod-setavator .errmsg{padding-left:10px}
.mod-setavator .iptp .iptfile{cursor:pointer;height:26px;left:0;line-height:26px;opacity:0;position:absolute;width:310px;z-index:10;filter:alpha(opacity=0)}
p#back-to-top{bottom:60px;display:none;left:50%;margin-left:479px;position:fixed;_position:absolute}
p#back-to-top a{color:#d1d1d1;display:block;text-align:center;text-decoration:none;-moz-transition:color 1s;-webkit-transition:color 1s;-o-transition:color 1s;width:64px}
p#back-to-top a:hover{color:#979797}
#back-to-top a:hover span,p#back-to-top a span{background:transparent url(/static/img/go_top.png?v=9a1fb.png) no-repeat}
p#back-to-top a span{border-radius:6px;display:block;height:60px;margin-bottom:5px;-moz-transition:background 1s;-webkit-transition:background 1s;-o-transition:background 1s;width:58px}
