html {
    background: #fff;
    overflow: scroll-y
}

.gray-line {
    border-right: 1px solid #828282
}
.login-content {
    height: 650px;
    position: relative;
    width: 100%
}
.info-wrap {
    padding: 10px 30px
}
.login-content .content-bg-link {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    *top: 0;
    width: 100%;
    z-index: 5
}
.login-content .login-bg {
    background-image: url(images/uc-login-bg.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 650px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}
.login-content .login-logo-text {
    background: url(images/logo-text-pic.png) no-repeat;
    background-size: cover;
    height: 256px;
    left: 0;
    position: absolute;
    top: 220px;
    width: 651px;
    *z-index: 4
}
.login-content .center_content {
    height: 650px;
    margin: 0 auto;
    max-width: 1180px;
    position: relative;
    *width: 1180px;
    *z-index: 6
}
.login-content .content-layout {
    background: rgba(255, 255, 255, 0.9) !important;
    background: #fff;
    display: block;
    position: absolute;
    right: 0;
    top: 106.5px;
    *top: 116px;
    width: 345px;
    filter: alpha(opacity=90);
    z-index: 10
}
input[type=text]:focus {
    outline: 0
}
div.quc-wrapper .quc-email-hint {
    *height: auto;
    max-height: 230px;
    overflow: auto;
    overflow-x: hidden
}
.login-content .content-layout h1 {
    font-size: 20px;
    margin: 5px 0
}
.info span a:hover {
    color: #46a115
}
#doc {
    background: #fff;
    font: 14px "Microsoft YaHei";
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 100%;
    padding-bottom: 30px;
}
#loginHeader {
    padding: 20px 0;
    width: 100%
}
#loginHeader .logo {
    margin: 0 auto;
    width: 1180px
}
#loginHeader .logo span {
    background-repeat: no-repeat;
    display: inline-block;
    height: 48px;
    width: 168px
}
.login-content .content-layout #loginWrap {
    overflow: hidden;
    padding: 25px
}
.quc-clearfix, .quc-clearfix:after {
    clear: both
}
.otherMessage {
    margin-bottom: 5px;
    text-align: center
}
.quc-fixIe6margin {
    display: inline-block
}
.botborder {
    border-bottom: 1px solid #e5e5e5
}
.otherMessage a {
    color: #22ac69
}
.quc-clearfix:after {
    content: " ";
    display: block;
    height: 0;
    visibility: hidden
}
.quc-qiuser-panel .quc-wrapper {
    font: 16px "Microsoft YaHei";
    margin-bottom: 20px
}
.quc-wrapper .quc-ipbox {
    background: #fff;
    border: 1px solid #ced1d0;
    border-radius: 4px;
    font: 16px "Microsoft YaHei";
    margin-bottom: 10px
}
.quc-wrapper .quc-checkcode {
    width: 115px
}
.otherMessage a:hover {
    text-decoration: underline
}
.quc-mod-sign-in p.quc-field-account {
    z-index: 10
}
.quc-mod-sign-in p.quc-field-account, .quc-mod-sign-in p.quc-field-password {
    background: #fff;
    border: 2px solid #e6e6e6;
    margin-bottom: 18px
}
.quc-wrapper a.forgetPass {
    float: left
}
.quc-wrapper a.signUpAccount {
    float: right
}
.quc-mod-sign-in p.quc-field-submit {
    margin-top: 20px;
    padding: 0
}
.quc-mod-sign-in .quc-submit {
    display: block;
    text-align: center;
    cursor: pointer;
    background: #22ac69;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    text-indent: 0;
    width: 100%
}
.quc-mod-sign-in .quc-button-signing-in {
    background: #22ac69;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    text-indent: 0;
    width: 100%
}
.quc-mod-sign-in p.quc-field-third-part {
    color: #333;
    font-size: 14px;
    margin-top: 22px;
    padding: 0
}
.quc-mod-sign-in span.quc-third-part {
    display: inline-block;
    *display: inline-block;
    height: 30px;
    line-height: 30px;
    *zoom: 1
}
.quc-mod-sign-in a.quc-third-part-icon {
    display: inline-block;
    background-position: 0 0;
    height: 25px;
    margin-right: 8px;
    width: 25px
}
.quc-mod-sign-in a.quc-third-part-icon-sina {
    background: url(images/uc-sina-icon.png) no-repeat;
    *margin-top: 3px
}
.quc-mod-sign-in a.quc-third-part-icon-tencent {
    background: url(images/uc-QQ-icon.png) no-repeat;
    *margin-top: 3px
}
.quc-mod-sign-in a.quc-third-part-icon-weixin {
    background: url(images/uc-weixin-icon.png) no-repeat;
    *margin-top: 3px
}
.quc-wrapper a.quc-findPwd {
    color: #54c11a;
    float: right
}
div.quc-mod-sign-in p.input-focus {
    border: 2px solid #22ac69
}
.quc-qiuser-panel .quc-wrapper .quc-tip-wrapper {
    line-height: 24px;
    padding: 0
}
.quc-wrapper .quc-tip {
    color: #959393;
}
.quc-wrapper .quc-tip-error {
    color: #f00;
}
.quc-qiuser-panel .quc-wrapper .quc-main {
    min-height: 277px;
    padding: 0;
    width: auto
}
.quc-mod-sign-in .quc-main .quc-input {
    background: none;
    border: 0;
    font-size: 16px;
    margin: 8px 8px 3px;
    height: 33px;
    outline: none;
    width: 230px
}
.quc-mod-sign-in .quc-field-account .quc-label {
    background: url(images/uc-account-icon.png?v=dcacb.png);
    display: inline-block;
    *display: inline-block;
    height: 18px;
    margin: 5px 0 0 8px;
    vertical-align: middle;
    width: 18px;
    *zoom: 1
}
.quc-mod-sign-in .quc-field-password .quc-label {
    background: url(images/uc-password-icon.png?v=c85d7.png);
    display: inline-block;
    *display: inline-block;
    height: 18px;
    margin: 5px 0 0 8px;
    vertical-align: middle;
    width: 18px;
    *zoom: 1
}
.quc-mod-sign-in .quc-field-account .quc-input-bg, .quc-mod-sign-in .quc-field-password .quc-input-bg, .quc-mod-sign-in .quc-field-captcha .quc-input-bg {
    background: #fff;
    width: 250px
}
.quc-mod-sign-in .quc-field-account .quc-input-bg, .quc-mod-sign-in .quc-field-password .quc-input-bg {
    display: inline-block;
    *display: inline-block;
    height: 48px;
    *zoom: 1
}
.quc-mod-sign-in .quc-field-captcha .quc-input-bg {
    border: 2px solid #e6e6e6;
    height: 44px;
    _height: 40px;
    width: 162px;
    _width: 158px
}
.quc-mod-sign-in .quc-field-captcha .quc-captcha-img {
    height: 48px;
    width: 128px
}
.quc-mod-sign-in .quc-main .quc-field-keep-alive {
    font-size: 14px;
    margin: 20px 0 10px;
    padding: 0
}
.quc-wrapper .quc-ipbox .quc-field {
    position: relative
}
.quc-wrapper .quc-ipbox .quc-input-captcha {
    width: 110px
}
.quc-wrapper .quc-field-captcha .quc-ipbox {
    margin-bottom: 0
}
.quc-mod-sign-in .quc-form a.quc-link {
    color: #7a7e80
}
.quc-wrapper a.quc-link:hover {
    text-decoration: underline
}
.quc-mod-sign-in input.quc-submit:active {
    background: #149a59;
    width: 100%
}
.quc-mod-sign-in input.quc-button-signing-in:active {
    background: #149a59;
    width: 100%
}
.quc-mod-sign-in a.quc-third-part-icon-sina:hover {
    background: url(images/uc-sina-icon-green.png) no-repeat;
    *margin-top: 3px
}
.quc-mod-sign-in a.quc-third-part-icon-tencent:hover {
    background: url(images/uc-QQ-icon-green.png) no-repeat;
    *margin-top: 3px
}
.quc-mod-sign-in a.quc-third-part-icon-weixin:hover {
    background: url(images/uc-weixin-icon-green.png) no-repeat;
    *margin-top: 3px
}
div.quc-mod-sign-in .quc-field-captcha span.input-focus {
    border: 2px solid #22ac69
}
.quc-mod-sign-in .quc-field-captcha .quc-input-bg .quc-input-captcha {
    padding-left: 12px;
    width: 130px
}
.quc-mod-sign-in .quc-form a.quc-link:hover {
    color: #22ac69
}
.quc-mod-sign-in .quc-form a.quc-link:active {
    color: #7a7e80
}
#quc-bd .otherMessage {
    border-top: 1px #E5E5E5 solid;
    font-size: 14px;
    height: 60px;
    line-height: 53px;
    text-align: center;
    width: 110%
}
#quc-bd .otherMessage, #quc-bd .otherMessage #accountLogin a, #doc .otherMessage .findpwd a {
    color: #767676
}
#quc-bd .otherMessage #accountLogin a:hover, #doc .otherMessage .findpwd a:hover {
    color: #54c11a
}
.uc-logincode {
    position: absolute;
    right: 0;
    _right: 0;
    top: 0;
    z-index: 111
}

.quc-wrapper .quc-ipbox .quc-field .text-error {
    background: #fff;
    border-radius: 2px;
    color: #666;
    font-size: 12px;
    left: 372px;
    padding: 0 5px;
    position: absolute;
    top: 17px;
    white-space: nowrap
}
.quc-wrapper .quc-ipbox .quc-field .ico-right {
    height: 14px;
    margin-right: 6px;
    width: 14px
}

#quc-bd .logo a, #quc-bd .otherMessage div {
    display: inline-block
}
#quc-bd .otherMessage .split {
    color: #e5e5e5;
    margin: 0 24px
}
