html {
    background: #f5f5f5;
    overflow: scroll-y
}

.gray-line {
    border-right: 1px solid #828282
}

.reg-page {
    background: #f5f5f5
}

.reg-content {
    margin: 72px auto 0
}

.reg-content, #regWrap {
    min-height: 600px;
    width: 700px
}

.other-info {
    margin: 40px 0 20px;
    text-align: center
}

.quc-mod-sign-up {
    background: #fff;
    width: 500px
}

.other-info span {
    padding: 0 15px
}

span a:hover {
    color: #22ac69
}

.other-info span a {
    color: #828282
}

.quc-mod-sign-up .quc-sms-tips {
    color: #333;
    display: block;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    margin: 0 0 30px;
    overflow: hidden
}

.quc-mod-sign-up .quc-field-smscodetip {
    margin-top: 10px
}

input[type=text]:focus {
    outline: 0
}

.quc-mod-sign-up div.quc-tip-wrapper {
    margin: -20px 0 20px;
    padding: 0
}

.quc-mod-sign-up p.quc-field-licence {
    margin: 0;
    padding-top: 15px;
    text-align: center
}

.quc-mod-sign-up div.quc-main {
    border: 0;
    box-shadow: none;
    float: none;
    margin: 0 auto;
    width: 400px;
    padding: 50px 0
}

.quc-mod-sign-up p.quc-field-mobile, .quc-mod-sign-up p.quc-field-password {
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    height: 42px
}

.quc-mod-sign-up p.input-focus {
    border: 1px solid #22ac69
}

.other-info span a:hover {
    color: #22ac69
}

.quc-mod-sign-up .quc-main .quc-tip {
    display: block;
    height: 20px;
    margin: 7px 0
}

.quc-mod-sign-up .quc-sms-tips .quc-sms-tips-mobile {
    color: #22ac69
}

.quc-mod-sign-up .quc-global-error .quc-tip {
    margin: 0;
    overflow: hidden
}

.quc-tip {
  font-size: 12px;
}

.quc-link {
  color: #22ac69;
}

.quc-wrapper .quc-tip-error {
    color: #f00;
}

.quc-mod-sign-up .quc-field-smscodetip .quc-link {
    color: #22ac69
}

.quc-mod-sign-up .quc-main .quc-input {
    background: none;
    border: 0;
    line-height: 33px;
    margin: 4px;
    outline: none;
    width: 320px
}

.quc-mod-sign-up .quc-field-mobile .quc-input-bg, .quc-mod-sign-up .quc-field-password .quc-input-bg, .quc-mod-sign-up .quc-field-captcha .quc-input-bg {
    background: #fff;
    width: 250px
}

.quc-mod-sign-up .quc-field-captcha .quc-input-bg .quc-input-captcha {
    padding-left: 12px;
    width: 229px;
    background: none;
    border: 0;
    line-height: 33px;
    margin: 4px;
    outline: none;
    width: 320px;
}

.quc-mod-sign-up .quc-field-captcha .quc-captcha-img {
    float: right;
    height: 40px;
    _height: 44px;
    margin: 3px 0 0;
    vertical-align: baseline;
    width: 100px
}

.quc-mod-sign-up .quc-next-step .quc-nextAndGet-sms-token {
    background: #22ac69;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    margin-top: 50px;
    text-align: center;
    width: 100%
}

.quc-mod-sign-up .quc-field-sms-token .quc-get-sms-token {
    background: #22ac69;
    border-radius: 3px;
    border: 1px solid #22ac69;
    color: #fff;
    float: right;
    height: 40px;
    line-height: 38px;
    margin-top: 4px;
    padding: 0 15px;
    text-align: center;
    width: 86px
}

.quc-mod-sign-up p.quc-field-mobile .quc-label {
    background: url(images/uc-account-icon.png) no-repeat;
    display: inline-block;
    *display: inline-block;
    height: 18px;
    *height: 19px;
    margin: 0 8px;
    vertical-align: middle;
    width: 18px;
    *zoom: 1
}

.quc-mod-sign-up p.quc-field-password .quc-label {
    background: url(images/uc-password-icon.png) no-repeat;
    display: inline-block;
    *display: inline-block;
    height: 18px;
    *height: 19px;
    margin: 0 8px;
    vertical-align: middle;
    width: 18px;
    *zoom: 1
}

.quc-mod-sign-up .quc-field-mobile span.quc-input-bg, .quc-mod-sign-up .quc-field-password span.quc-input-bg {
    display: inline-block;
    *display: inline-block;
    height: 42px;
    *height: 40px;
    margin: 0;
    width: auto;
    *zoom: 1
}

.quc-mod-sign-up .quc-field-captcha span.quc-input-bg {
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    height: 40px;
    _height: 34px;
    margin: 3px 0 4px;
    width: 256px;
    _width: 254px
}

.quc-mod-sign-up .quc-field-captcha span.input-focus {
    border: 1px solid #22ac69
}

.quc-mod-sign-up .quc-field-sms-token input.quc-input-sms-token {
    width: 213px;
    *width: 200px
}

.quc-mod-sign-up .quc-field-sms-token span.quc-input-bg {
    background: #fff;
    background-position: 0 0;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    height: 40px;
    margin-bottom: 18px;
    margin: 4px 0 2px;
    *margin-top: 2px;
    width: 235px;
    *width: 230px
}

.quc-mod-sign-up .quc-field-captcha .quc-input-bg .quc-input-captcha {
    padding-left: 12px;
    width: 229px
}

.quc-mod-sign-up .quc-next-step .quc-nextAndGet-sms-token:active {
    background: #149a59
}

#doc {
    background: #f5f5f5;
    font: 14px "Microsoft YaHei";
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 100%
}

#regHeader {
    background: #e8e8e8;
    padding: 10px 0;
    width: 100%
}

#regHeader .header-content {
    margin: 0 auto;
    width: 700px
}

#regHeader .logo {
    height: 48px;
    width: 168px;
    display: inline-block
}

#regWrap .reg-title {
    background: #fff;
    border-bottom: 2px solid #f5f5f5;
    color: #222;
    font-size: 20px;
    padding: 20px;
    text-align: center
}

#regHeader .header-content span {
    display: inline-block;
    *display: inline-block;
    vertical-align: middle;
    *zoom: 1
}

#regHeader .logo a {
    display: inline-block;
    height: 48px;
    width: 168px
}

#regHeader .header-content .page-title {
    border-left: 1px solid #929292;
    color: #222;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    padding-left: 25px
}

#regHeader .header-content .switch-login {
    color: #7d7d7d;
    float: right;
    font-size: 14px;
    line-height: 48px;
}

.quc-wrapper .quc-mod-sign-up .quc-button-disabled, .quc-wrapper .quc-mod-sign-up .quc-button-disabled:focus, .quc-wrapper .quc-mod-sign-up .quc-button-disabled:hover, .quc-wrapper .quc-mod-sign-up .quc-button-disabled:visited {
    background-position: 0 0;
    background: #fff;
    color: #22ac69;
    width: 86px
}

.reg-succeed {
    height: 540px;
    margin: 100px auto 0;
    width: 700px
}

.quc-sign-up-succeed {
    background: #fff;
    height: 204px;
    overflow: hidden
}

.reg-succeed-icon {
    background: url(images/sign-up-succeed.png) no-repeat;
    display: inline-block;
    *display: inline-block;
    height: 32px;
    margin: 40px auto 30px;
    width: 32px;
    *zoom: 1
}

.quc-sign-up-succeed p {
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center
}

.quc-sign-up-wrapper {
  background-color: #fff;
}

.quc-mod-sign-up {
  margin: 0 auto;
}

.quc-mod-sign-up .quc-field-submit {
    margin-top: 30px
}

.reg-succeed .reg-succeed-title {
    background: #fff;
    border-bottom: 2px solid #f5f5f5;
    color: #222;
    font-size: 20px;
    padding: 20px;
    text-align: center
}

.quc-sign-up-succeed .link {
    color: #22ac69;
    text-decoration: underline
}

.quc-mod-sign-up .quc-field-submit .quc-button-sign-up {
    background-position: 0 0;
    background: #22ac69;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    margin: 0;
    text-align: center;
    text-indent: 0;
    width: 100%
}

.quc-mod-sign-up .quc-field-licence a.quc-link {
    color: #22ac69
}

.quc-mod-sign-up .quc-field-submit .quc-button-sign-up:active {
    background-position: 0 0;
    background: #149a59;
    height: 40px;
    margin: 0;
    width: 100%
}
