body, textarea {
  font-family: 'Microsoft YaHei', sans-serif;
}
.nav .nav-link {
  font-weight: normal;
  border-radius: 1.25rem;
  font-size: 14px;
}
.tips {
  color: #909399;
  font-size: 12px;
}
.tips .el-link{
  font-size: 12px;
}
.editable {
  padding: 0 5px;
  margin-top: -10px;
  cursor: pointer;
  background: #d1d5db;
}
.swal2-container {
  z-index: 19892014 !important;
}
.edui-default {
  line-height:20px !important;
}

.scrollbar .el-scrollbar__wrap {
  overflow-x: hidden;
}
.scrollbar .el-scrollbar__bar {
  z-index: 9;
}

.headerless .el-table__header-wrapper {
  display: none;
}

.editor__toolbar {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
}
.editor__toolbar .el-button-group {
  padding-bottom: 5px;
  padding-left: 5px;
}
.editor__text {
  border: 1px solid #ccc;
  height: 300px;
}

.el-menu.el-menu--horizontal {
  top: -10px;
}
.el-menu--horizontal > .el-menu-item {
  text-align: center;
  padding: 0;
}
.el-menu--horizontal > .el-menu-item a {
  padding-left: 20px;
  padding-right: 20px;
  min-width: 120px;
  display: block;
}

.el-drawer__open .el-drawer.rtl, .el-drawer__header>:first-child {
  outline: none;
}

.el-drawer__body {
  overflow: auto;
}
.drawer__content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.drawer__content form {
  flex: 1;
  margin-left: 20px;
  margin-right: 20px;
}
.drawer__footer {
  display: flex;
  padding: 10px;
}
.drawer__footer button {
  flex: 1;
}
.el-divider--horizontal {
  margin: 5px 0;
}
.el-upload,
.el-upload-dragger {
  width: 100%;
}
.tree .el-tree-node__content {
  line-height: 38px;
  height: 38px;
  font-size: 14px;
}

.tree .el-tree-node__content .cell {
  text-overflow: ellipsis;
  overflow: hidden;
}

.leftTree .el-tree-node__content {
  line-height: 28px;
  height: 28px;
  font-size: 14px;
}

.el-tree-node>.el-tree-node__children {
  overflow: visible;
}

.el-tag.el-tag--info {
  margin-right: 3px;
}

.form-fixed .el-form-item--mini.el-form-item, .form-fixed .el-form-item--small.el-form-item {
  min-width: 350px;
}

.el-progress-bar__outer {
  background-color: #909399 !important;
}

.tips .el-link {
  margin-top: -3px;
}