@page
@{ Layout = "../shared/_layout"; }

<el-card>
  <div slot="header" class="clearfix">
    <span>用户字段</span>

    <el-dropdown
      style="float: right; margin-top: -8px;"
      v-on:command="btnCommandClick">
      <el-button type="text" :underline="false">
        操作 <i class="el-icon-arrow-down el-icon--right"></i>
      </el-button>
      <el-dropdown-menu slot="dropdown">
        <el-dropdown-item command="Add">新增字段</el-dropdown-item>
        <el-dropdown-item command="AddMultiple">批量新增字段</el-dropdown-item>
        <el-dropdown-item command="Import">导 入</el-dropdown-item>
        <el-dropdown-item command="Export">导 出</el-dropdown-item>
        <el-dropdown-item command="Reset">重 置</el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>
  </div>

  <el-table :data="styles" style="width: 100%">
    <el-table-column label="排序" prop="taxis" width="60">
      <template slot-scope="scope">
        {{ scope.row.taxis ? scope.row.taxis : '' }}
      </template>
    </el-table-column>
    <el-table-column label="字段名" prop="attributeName"></el-table-column>
    <el-table-column label="显示名称" prop="displayName"></el-table-column>
    <el-table-column label="提交类型" prop="inputType"></el-table-column>
    <el-table-column label="验证规则">
      <template slot-scope="scope">
        <el-link
          :underline="false"
          v-on:click="btnValidateClick(scope.row.attributeName)"
          type="primary">
          {{ getRules(scope.row.rules) }}
        </el-link>
      </template>
    </el-table-column>
    <el-table-column label="操作" width="130">
      <template slot-scope="scope">
        <el-link
          :underline="false"
          v-on:click="btnEditClick(scope.row.attributeName)"
          type="primary">
          编辑
        </el-link>
        <el-link
          :underline="false"
          v-if="!scope.row.isSystem"
          type="danger"
          v-on:click="btnDeleteClick(scope.row.attributeName)">
          删除
        </el-link>
      </template>
    </el-table-column>
  </el-table>

  <div style="height: 10px"></div>
  <el-divider></el-divider>
  <div style="height: 10px"></div>

  <el-button v-on:click="btnAddClick" icon="el-icon-plus" size="small" plain type="primary" style="margin-left: 0px;">
    新增字段
  </el-button>
  <el-button v-on:click="btnAddMultipleClick" size="small" plain type="primary" style="margin-left: 0px;">
    批量新增字段
  </el-button>
  <el-button v-on:click="btnImportClick" icon="el-icon-upload" size="small" plain type="primary" style="margin-left: 0px;">
    导 入
  </el-button>
  <el-button v-on:click="btnExportClick" icon="el-icon-download" size="small" plain type="primary" style="margin-left: 0px;">
    导 出
  </el-button>
  <el-button v-on:click="btnResetClick" size="small" plain type="primary" style="margin-left: 0px;">
    重 置
  </el-button>

</el-card>

<el-drawer
  title="导入样式"
  ref="uploadPanel"
  :visible.sync="uploadPanel"
  destroy-on-close
  direction="rtl"
  size="50%">
  <div class="drawer__content">
    <br />
    <el-form ref="uploadForm" label-width="200px">
      <el-upload
        :drag="true"
        :limit="1"
        :action="urlUpload"
        :auto-upload="true"
        :with-credentials="true"
        :file-list="uploadList"
        :before-upload="uploadBefore"
        :on-progress="uploadProgress"
        :on-success="uploadSuccess"
        :on-error="uploadError"
        :multiple="false">
        <i class="el-icon-upload"></i>
        <div class="el-upload__text">将文件拖到此处，或 <em>点击上传</em></div>
      </el-upload>
    </el-form>
  </div>
</el-drawer>

@section Scripts{
<script src="~/assets/js/settings/usersStyle.js" type="text/javascript"></script> }