@page
@{ Layout = "../shared/_layout"; }

<el-card>
  <div slot="header" class="clearfix">
    <span>系统参数</span>
  </div>

  <el-table
    class="headerless"
    :data="parameters"
    style="width: 100%">
    <el-table-column
      width="280">
      <template slot-scope="scope">
        <strong>{{scope.row.key}}</strong>
      </template>
    </el-table-column>
    <el-table-column>
      <template slot-scope="scope">
        {{scope.row.value}}
      </template>
    </el-table-column>
  </el-table>

</el-card>

@section Scripts{ <script src="~/assets/js/settings/utilitiesParameters.js" type="text/javascript"></script> }