<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <generalPermissions>
    <add name="plugins_add" text="添加插件" />
    <add name="plugins_management" text="管理插件" />
    <add name="settings_sitesAdd" text="创建新站点" />
    <add name="settings_sites" text="站点管理" />
    <add name="settings_sitesUrl" text="站点访问地址" />
    <add name="settings_sitesTables" text="站点内容表" />
    <add name="settings_sitesTemplates" text="站点模板管理" />
    <add name="settings_sitesTemplatesOnline" text="在线站点模板" />
    <add name="settings_administrators" text="管理员管理" />
    <add name="settings_administratorsRole" text="角色管理" />
    <add name="settings_administratorsConfig" text="管理员设置" />
    <add name="settings_administratorsAccessTokens" text="API密钥管理" />
    <add name="settings_users" text="用户管理" />
    <add name="settings_usersGroup" text="用户组管理" />
    <add name="settings_usersStyle" text="用户字段" />
    <add name="settings_usersConfig" text="用户设置" />
    <add name="settings_analysisAdminLogin" text="管理员登录统计" />
    <add name="settings_analysisAdminWork" text="管理员工作统计" />
    <add name="settings_analysisUser" text="用户数据统计" />
    <add name="settings_logsSite" text="站点日志" />
    <add name="settings_logsAdmin" text="管理员日志" />
    <add name="settings_logsUser" text="用户日志" />
    <add name="settings_logsError" text="系统错误日志" />
    <add name="settings_logsConfig" text="日志设置" />
    <add name="settings_configsAdmin" text="管理后台设置" />
    <add name="settings_configsHome" text="用户中心设置" />
    <add name="settings_configsHomeMenu" text="用户中心菜单" />
    <add name="settings_utilitiesCache" text="系统缓存" />
    <add name="settings_utilitiesParameters" text="系统参数" />
    <add name="settings_utilitiesEncrypt" text="加密/解密字符串" />
  </generalPermissions>
  <websitePermissions>
    <add name="site_contents" text="内容管理" />
    <add name="site_channels" text="栏目管理" />
    <add name="site_contentsSearch" text="内容搜索" />
    <add name="site_channelsTranslate" text="批量转移" />
    <add name="site_contentsCheck" text="内容审核" />
    <add name="site_library" text="素材库管理" />
    <add name="site_contentsRecycle" text="内容回收站" />
    <add name="site_templates" text="模板管理" />
    <add name="site_specials" text="专题管理" />
    <add name="site_templateMatch" text="匹配模板" />
    <add name="site_templateAssets" text="资源文件管理" />
    <add name="site_templatePreview" text="模板在线解析" />
    <add name="site_templateReference" text="模板语言参考" />
    <add name="site_configSite" text="站点设置" />
    <add name="site_configAttributes" text="站点属性设置" />
    <add name="site_configContents" text="内容设置" />
    <add name="site_configGroups" text="组别及标签" />
    <add name="site_configTableStyles" text="字段设置" />
    <add name="site_configUpload" text="上传设置" />
    <add name="site_configWaterMark" text="图片水印设置" />
    <add name="site_configCrossSiteTrans" text="跨站转发设置" />
    <add name="site_configCreateRule" text="页面生成设置" />
    <add name="site_createIndex" text="生成首页" />
    <add name="site_createChannels" text="生成栏目页" />
    <add name="site_createContents" text="生成内容页" />
    <add name="site_createFiles" text="生成文件页" />
    <add name="site_createSpecials" text="生成专题" />
    <add name="site_createAll" text="一键生成" />
    <add name="site_createStatus" text="生成进度查看" />
  </websitePermissions>
  <channelPermissions>
    <add name="cms_contentView" text="浏览内容" />
    <add name="cms_contentAdd" text="添加内容" />
    <add name="cms_contentEdit" text="修改内容" />
    <add name="cms_contentDelete" text="删除内容" />
    <add name="cms_contentTranslate" text="转移内容" />
    <add name="cms_contentArrange" text="整理内容"/>
    <add name="cms_channelAdd" text="添加栏目" />
    <add name="cms_channelEdit" text="修改栏目" />
    <add name="cms_channelDelete" text="删除栏目" />
    <add name="cms_channelTranslate" text="转移栏目" />
    <add name="cms_createPage" text="生成页面" />
    <add name="cms_contentCheck" text="审核内容" />
    <add name="cms_contentCheckLevel1" text="一级内容审核权" />
    <add name="cms_contentCheckLevel2" text="二级内容审核权" />
    <add name="cms_contentCheckLevel3" text="三级内容审核权" />
    <add name="cms_contentCheckLevel4" text="四级内容审核权" />
    <add name="cms_contentCheckLevel5" text="五级内容审核权" />
  </channelPermissions>
</Config>