<?xml version="1.0" encoding="utf-8"?>
<TabCollection>
  <Tabs>
    <Tab id="Content" text="信息管理" permissions="site_contents,site_channels,site_channels,site_contentsSearch,site_channelsTranslate,site_contentsCheck,site_library,site_contentsRecycle" iconClass="ion-compose" selected="true">
      <SubTabs>
        <Tab text="内容管理" permissions="site_contents" href="./cms/contents/" />
        <Tab text="栏目管理" permissions="site_channels" href="./cms/channels/" />
        <Tab text="内容搜索" permissions="site_contentsSearch" href="./cms/contentsSearch/" />
        <Tab text="内容审核" permissions="site_contentsCheck" href="./cms/contentsCheck/" />
        <Tab text="批量转移" permissions="site_channelsTranslate" href="./cms/channelsTranslate/" />
        <Tab text="素材库管理" permissions="site_library" href="./cms/libraryText/" />
        <Tab text="内容回收站" permissions="site_contentsRecycle" href="./cms/contentsRecycle/" />
      </SubTabs>
    </Tab>
    <Tab id="Template" text="显示管理" permissions="site_templates,site_specials,site_templatesMatch,site_templatesIncludes,site_templatesCss,site_templatesJs,site_templatesPreview,site_templatesReference" iconClass="ion-tshirt-outline">
      <SubTabs>
        <Tab text="模板管理" permissions="site_templates" href="./cms/templates/" />
        <Tab text="专题管理" permissions="site_specials" href="./cms/templatesSpecial/" />
        <Tab text="匹配模板" permissions="site_templateMatch" href="./cms/templatesMatch/"/>
        <Tab text="资源文件管理" permissions="site_templateAssets" href="./cms/templatesAssets/"/>
        <Tab text="模板在线解析" permissions="site_templatePreview" href="./cms/templatesPreview/"/>
        <Tab text="模板语言参考" permissions="site_templateReference" href="./cms/templatesReference/"/>
      </SubTabs>
    </Tab>
    <Tab id="Configration" text="设置管理" permissions="site_configSite,site_configAttributes,site_configContent,site_configGroups,site_configTableStyles,site_configUpload,site_configCrossSiteTrans,site_configCreateRule" iconClass="ion-wrench">
      <SubTabs>
        <Tab text="站点设置" permissions="site_configSite" href="./cms/settingsSite/"/>
        <Tab text="内容设置" permissions="site_configContents" href="./cms/settingsContent/"/>
        <Tab text="组别及标签" permissions="site_configGroups" href="./cms/settingsChannelGroup/" />
        <Tab text="字段设置" permissions="site_configTableStyles" href="./cms/settingsStyleContent/" />
        <Tab text="上传设置" permissions="site_configUpload" href="./cms/settingsUploadImage/"/>
        <Tab text="图片水印设置" permissions="site_configWaterMark" href="./cms/settingsWaterMark/"/>
        <Tab text="跨站转发设置" permissions="site_configCrossSiteTrans" href="./cms/settingsCrossSiteTrans/"/>
        <Tab text="页面生成设置" permissions="site_configCreateRule" href="./cms/settingsCreateRule/"/>
      </SubTabs>
    </Tab>
    <Tab id="Create" text="生成管理" permissions="site_createIndex,site_createChannels,site_createContents,site_createFiles,site_createSpecials,site_createAll,site_createStatus" iconClass="ion-wand">
      <SubTabs>
        <Tab text="生成首页" permissions="site_createIndex" href="./cms/createPage/?type=Index" />
        <Tab text="生成栏目页" permissions="site_createChannels" href="./cms/createPage/?type=Channel" />
        <Tab text="生成内容页" permissions="site_createContents" href="./cms/createPage/?type=Content" />
        <Tab text="生成文件页" permissions="site_createFiles" href="./cms/createFile/"/>
        <Tab text="生成专题" permissions="site_createSpecials" href="./cms/createSpecial/"/>
        <Tab text="一键生成" permissions="site_createAll" href="./cms/createPage/?type=All" />
        <Tab text="生成进度查看" permissions="site_createStatus" href="./cms/createStatus/"/>
      </SubTabs>
    </Tab>
  </Tabs>
</TabCollection>
