.diggArea{ padding:0px;margin:0px;background-image:url('digg-bg.gif');width:59px; height:59px;line-height:23px;float:left; margin-right:5px;}
.diggNum{ margin:0px; text-align:center; padding:0px;  font-size:12px; font-weight:bold; color:#CC0000; width:59px; height:23px; margin-top:8px; }
.diggLink{ margin:0px; text-align:center; padding:0px; padding-top:4px;width:59px;  height:23px;}
.diggLink a{ font-size:12px; text-decoration:none; font-weight:bold; }