@page
@{ Layout = "../Shared/_Layout.cshtml"; }

<div class="header-title mt-3 mb-4"> {{ pageTitle }} </div>

<div class="form-group">
  <label>
    站点：{{ siteName }}
  </label>
</div>

<template v-if="root">

  <div class="form-group">
    <label>
      站点文件夹名称
      <small class="text-danger">{{ errors.first('siteDir') || '*' }}</small>
    </label>
    <input v-model="siteDir" name="siteDir" data-vv-as="站点文件夹名称" v-validate="'required'"
      :class="{'is-invalid': errors.has('siteDir') }" type="text" class="form-control" />
    <small class="form-text text-muted">实际在服务器中保存此网站的文件夹名称，此路径必须以英文或拼音命名</small>
  </div>
  <div class="form-group">
    <label>
      需要转移的文件夹
      <el-checkbox style="margin-left: 5px" v-model="checkAllDirectories" v-on:change="handleCheckAllDirectoriesChange">全选</el-checkbox>
    </label>
    <div class="m-2">
      <el-checkbox-group v-model="checkedDirectories">
        <el-checkbox v-for="dir in directories" :label="dir" :key="dir" v-on:change="handleCheckedDirectoriesChange">{{dir}}</el-checkbox>
      </el-checkbox-group>
    </div>
  </div>
  <div class="form-group">
    <label>
      需要转移的文件
      <el-checkbox style="margin-left: 5px" v-model="checkAllFiles" v-on:change="handleCheckAllFilesChange">全选</el-checkbox>
    </label>
    <div class="m-2">
      <el-checkbox-group v-model="checkedFiles">
        <el-checkbox v-for="file in files" :label="file" :key="file" v-on:change="handleCheckedFilesChange">{{file}}</el-checkbox>
      </el-checkbox-group>
    </div>
  </div>

</template>
<template v-else>

  <div class="form-group">
    <label>
      转移文件夹及文件
    </label>
    <div class="m-2">
      <el-radio-group v-model="isMoveFiles">
        <el-radio :label="true">转移</el-radio>
        <el-radio :label="false">不转移</el-radio>
      </el-radio-group>
      <small class="form-text text-muted">选择转移将把此站点内的文件夹及文件转移到系统根目录</small>
    </div>
  </div>

</template>

<hr />

<div class="text-center">
  <button class="btn m-r-5" v-on:click="btnCancelClick">返 回</button>
  <button class="btn btn-primary m-r-5" v-on:click="btnSubmitClick">{{ pageTitle }}</button>
</div>

@section Scripts{
<script src="sitesChangeRoot.js" type="text/javascript"></script> }