@page
@{ Layout = "_Layout"; }
@section Styles{
  <link href="/sitefiles/assets/css/bootstrap-4.1.0.min.css" rel="stylesheet" type="text/css" />
  <link href="/sitefiles/assets/css/siteserver.min.css" rel="stylesheet" type="text/css" />
  <style>
    html, body {
      background-color: #fff;
    }
  </style>
}

<div style="margin: 10px;">

  <div class="pb-3 pt-3">
            
    <div class="text-center">
      <h3 v-html="adminWelcomeHtml"></h3>
      <p>&nbsp;</p>
      <p>SSCMS {{ version }}</p>
      <p>{{ frameworkDescription }}</p>
      <p>{{ osDescription }} {{ osArchitecture }} {{ containerized ? 'Containerized' : ''}}</p>
    </div>
    
  </div>

  <div class="row text-center">

    <div class="col-4">
      <div class="widget-simple-chart text-center card-box">
        <h3 class="text-primary counter m-t-10">{{userName}}({{level}})</h3>
        <p>管理员</p>
      </div>
    </div>

    <div class="col-4">
      <div class="widget-simple-chart text-center card-box">
        <h3 class="text-primary counter m-t-10">{{ updateDate }}</h3>
        <p>最近升级时间</p>
      </div>
    </div>

    <div class="col-4">
      <div class="widget-simple-chart text-center card-box">
        <h3 class="text-primary counter m-t-10">{{ lastActivityDate }}</h3>
        <p>上次登录时间</p>
      </div>
    </div>

  </div>

  <div class="card-box" v-if="unCheckedListTotalCount > 0">
    <div class="header-title m-t-0">待审核内容</div>
    <p class="text-muted m-b-25 font-13">
      共有
      <span style="color:#f00"> {{ unCheckedListTotalCount }} </span> 篇内容待审核
    </p>

    <div class="table-responsive">
      <table class="table">
        <tbody>
          <tr v-for="unChecked in unCheckedList">
            <td>
              <el-link type="primary" style="color: #00B19D;" :underline="false" v-on:click="btnCheckClick(unChecked.siteId)">
                {{ unChecked.siteName }} 有
                <span style="color:#f00"> {{ unChecked.count }} </span> 篇
              </el-link>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

@section Scripts{
<script src="/sitefiles/assets/js/admin/dashboard.js" type="text/javascript"></script> }