@page
@{ Layout = "_Layout"; }
@section Styles{
  <link href="/sitefiles/assets/css/bootstrap-4.1.0.min.css" rel="stylesheet" type="text/css" />
  <link href="/sitefiles/assets/css/siteserver.min.css" rel="stylesheet" type="text/css" />
}

<div class="card" style="margin: 10px;">
  <div class="card-header" style="border-top: 3px solid #ef5350 !important;border-radius: 3px;">
    <strong>错误信息</strong>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p v-if="message" v-html="message" style="word-wrap: break-word; font-size: 14px;"></p>
      <p v-if="stackTrace" v-html="stackTrace" style="word-wrap: break-word; font-size: 14px;"></p>
      <p v-if="addDate" v-html="addDate" style="word-wrap: break-word; font-size: 14px;"></p>
    </blockquote>
  </div>
  <div class="card-footer text-muted">
    <span class="m-r-5">如需帮助，请点击链接向 SS CMS 官方 <a target="_blank" v-bind:href="'https://github.com/siteserver/cms/issues/new?title=' + message + '&body=' + stackTrace">提交问题</a></span>
  </div>
</div>

@section Scripts{
  <script src="/sitefiles/assets/js/admin/error.js" type="text/javascript"></script> }