@page
@{ Layout = "../shared/_layout"; }
@section Styles{
  <link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
  <style>
    .avatar-uploader .el-upload {
      border: 1px dashed #d9d9d9;
      border-radius: 6px;
      cursor: pointer;
      position: relative;
      overflow: hidden;
    }
    .avatar-uploader .el-upload:hover {
      border-color: #409EFF;
    }
    .avatar-uploader-icon {
      font-size: 28px;
      color: #8c939d;
      width: 240px;
      height: 240px;
      line-height: 240px;
      text-align: center;
    }
    .avatar {
      width: 240px;
      height: 240px;
      display: block;
    }
    .el-icon-picture-outline {
      font-size: 22px;
      margin: 100px 0;
      color: #c0c4cc;
    }
  </style>
}

<el-row>
  <el-col align="right" :span="24">
    <el-button size="medium" v-on:click="btnCancelClick">取 消</el-button>
    <el-button size="medium" v-on:click="btnSaveClick" type="success">保 存</el-button>
    <el-button size="medium" icon="el-icon-setting" circle :type="isSettings ? 'info' : ''" v-on:click="isSettings = !isSettings"></el-button>
  </el-col>
</el-row>

<el-divider></el-divider>

<el-container style="padding-top: 0; padding-bottom: 0; overflow:auto;" :style="{height: mainHeight}">
  <el-main style="padding-top: 0;">

    <el-row>
      <el-col :span="4">
        <label>
          标题
          <span class="text-danger">*</span>
          
        </label>
      </el-col>
      <el-col :span="20" style="text-align: right">
        
      </el-col>
    </el-row>
    <el-row class="mb-3">
      <el-input v-model="title" size="medium" autosize type="text" name="title"
          data-vv-as="标题" v-validate="'required'"></el-input>
    </el-row>

    <el-row>
      <el-col :span="4">
        <label>
          正文
          <span class="text-danger">*</span>
        </label>
      </el-col>
      <el-col :span="20" style="text-align: right">
        <el-button-group style="margin-top: -2px;">
          <el-button size="mini" v-on:click="btnLayerClick({title: '导入Word', name: 'Word', attributeName: 'content'})">导入Word</el-button>
          <el-button size="mini" v-on:click="btnLayerClick({title: '插入图片', name: 'Image', attributeName: 'content'})">插入图片</el-button>
          <el-button size="mini" v-on:click="btnLayerClick({title: '插入视频', name: 'Video', attributeName: 'content'})">插入视频</el-button>
        </el-button-group>
      </el-col>
    </el-row>
    <el-row class="mb-3">
      <textarea v-model="content" style="width: 100%" id="content" name="content" data-vv-as="正文" v-validate="'required'"></textarea>
    </el-row>
    
  </el-main>
  <el-aside v-if="isSettings" width="280px">
    <el-tabs type="border-card">
      <el-tab-pane label="设置">
        <el-collapse v-model="activeNames">
          <el-collapse-item title="封面图片" name="0">
            <el-upload
              class="avatar-uploader"
              :action="$urlUpload"
              :show-file-list="false"
              :with-credentials="true"
              :before-upload="uploadBefore"
              :before-upload="uploadBefore"
              :on-progress="uploadProgress"
              :on-success="uploadSuccess"
              :on-error="uploadError">
              <el-image 
                class="avatar"
                :src="imageUrl">
                <div slot="error" class="image-slot">
                  <i class="el-icon-picture-outline"></i>
                </div>
              </el-image>

              <i v-else class="el-icon-plus avatar-uploader-icon"></i>
            </el-upload>
          </el-collapse-item>
          <el-collapse-item title="内容摘要" name="1">
            <el-input
              type="textarea"
              :rows="5"
              placeholder="请输入内容"
              v-model="summary">
            </el-input>
          </el-collapse-item>
        </el-collapse>
      </el-tab-pane>
    </el-tabs>
  </el-aside>
</el-container>

@section Scripts{
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"></script>
<script src="/admin/assets/js/cms/libraryEditor.js" type="text/javascript"></script> }