@page
@{ Layout = "../shared/_layout"; }

<el-alert type="warning">API密钥属于敏感信息，请妥善保管不要泄露；如果怀疑信息泄露，请重设密钥。</el-alert>

<el-form style="margin-top: 10px;" label-width="120px" size="mini">
  <el-form-item label="名称">
    {{ token.title }}
  </el-form-item>
  <el-form-item label="API密钥">
    <div style="font-weight: bold; color:#E6A23C">{{ accessToken }}</div>
    <el-button v-on:click="btnRegenerateClick" size="mini" type="primary">重 设</el-button>
  </el-form-item>
  <el-form-item label="添加时间">
    {{ token.createdDate }}
  </el-form-item>
  <el-form-item label="更新时间">
    {{ token.lastModifiedDate }}
  </el-form-item>
</el-form>

<el-divider></el-divider>
<el-row align="right" style="margin-right: 5px; margin-top: 10px;">
  <el-col :span="24" align="right">
    <el-button size="small" v-on:click="btnCancelClick">关 闭</el-button>
  </el-col>
</el-row>

@section Scripts{
<script src="/admin/assets/js/settings/administratorsAccessTokensViewLayer.js" type="text/javascript"></script> }