@page
@{ Layout = "_LayoutHome"; }
@section Styles{
  <link href="/sitefiles/assets/css/ionicons-2.0.0.min.css" rel="stylesheet" type="text/css" />
  <link href="/sitefiles/assets/css/bootstrap-4.1.0.min.css" rel="stylesheet" type="text/css" />
  <link href="/sitefiles/assets/css/siteserver.min.css" rel="stylesheet" type="text/css" />
  <link href="/sitefiles/assets/css/menu.css" rel="stylesheet" type="text/css" />
}

<header id="topnav">
  <div class="topbar-main">
    <div class="logo">
      <a href="https://www.siteserver.cn" target="_blank" class="logo">
        <img :src="homeLogoUrl" style="max-width: 160px;height: 22px;" />
      </a>
    </div>
    <a v-if="!isDesktop" href="javascript:;" class="position-fixed" v-on:click="btnMobileMenuClick" style="right: 20px;top: 1px;">
      <i :class="{'ion-navicon': !isMobileMenu, 'ion-android-close': isMobileMenu}" style="font-size: 28px;color: #fff;"></i>
    </a>
    <ul v-if="isDesktop" class="navigation-menu float-left">
      <li v-for="topMenu in menus" class="has-submenu">
        <a href="javascript:;" v-on:click="btnTopMenuClick(topMenu, $event)" :style="{fontWeight: (topMenu == menu ? 'bold' : 'normal')}" v-html="topMenu.text"></a>
      </li>
    </ul>
    <ul v-if="isDesktop" class="navigation-menu float-right">
      <li class="dropdown has-submenu">
        <a href="javascript:;">
          <img style="height: 25px;width: 25px;" :src="user.avatarUrl ? user.avatarUrl : '/sitefiles/assets/images/default_avatar.png'"
            class="rounded-circle">
        </a>
        <ul class="submenu" style="left: -155px;">
          <li><a href="dashboard/" target="right">{{user.displayName || user.userName}}</a></li>
          <li><a href="profile/" target="right">修改资料</a></li>
          <li><a href="password/" target="right">更改密码</a></li>
          <li><a href="logout/">退出系统</a></li>
        </ul>
      </li>
    </ul>
  </div>
</header>
<div v-if="isDesktop || isMobileMenu" class="left side-menu" :style="{width: leftMenuWidth}">
  <div id="sidebar" class="sidebar-inner">
    <div id="sidebar-menu">
      <ul v-if="menu">
        <template v-if="isDesktop && !isMobileMenu">
          <li v-for="level1Menu in menu.children" class="has_sub" :class="{'active': level1Menu === activeChildMenu}">
            <a :href="getHref(level1Menu)" v-on:click="btnLeftMenuClick(level1Menu, $event)" :target="getTarget(level1Menu)" :class="{'subdrop': level1Menu === activeParentMenu && level1Menu.children}">
              <i :class="(level1Menu.iconClass ? level1Menu.iconClass : 'ion-star')"></i>
              <span v-html="level1Menu.text"></span>
              <span v-if="level1Menu.children" class="menu-arrow"></span>
            </a>
            <ul v-if="level1Menu.children" class="list-unstyled" v-show="level1Menu === activeParentMenu">
              <li v-for="level2Menu in level1Menu.children" :class="{'active': level2Menu === activeChildMenu}">
                <a :href="getHref(level2Menu)" :target="getTarget(level2Menu)" v-on:click="btnLeftMenuClick(level2Menu, $event)">
                  <i :class="level2Menu.iconClass"></i> <span v-html="level2Menu.text"></span> </a>
              </li>
            </ul>
          </li>
        </template>

        <template v-if="!isDesktop && isMobileMenu" v-for="topMenu in menus">
          <li class="text-muted menu-title" v-html="topMenu.text"></li>
          <li v-for="parentMenu in topMenu.children" class="has_sub">
            <a :href="getHref(parentMenu)" v-on:click="btnLeftMenuClick(parentMenu, $event)" :target="getTarget(parentMenu)"
              :class="{'subdrop': parentMenu === activeParentMenu}">
              <i :class="(parentMenu.iconClass ? parentMenu.iconClass : 'ion-star')"></i>
              <span v-html="parentMenu.text"></span>
              <span v-if="parentMenu.children" class="menu-arrow"></span>
            </a>
            <ul v-if="parentMenu.children" class="list-unstyled" v-show="parentMenu === activeParentMenu">
              <li v-for="childMenu in parentMenu.children" :class="{'active': childMenu === activeChildMenu}">
                <a :href="getHref(childMenu)" :target="getTarget(childMenu)" v-on:click="btnLeftMenuClick(childMenu, $event)">
                  <i :class="childMenu.iconClass"></i> <span v-html="childMenu.text"></span>
                </a>
              </li>
            </ul>
          </li>
        </template>
        <li class="text-muted menu-title"></li>
        <li class="text-muted menu-title"></li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<div class="content-page" id="content" :style="{marginLeft: (isDesktop ? 200 : 0) + 'px'}">
  <iframe id="frmMain" frameborder="0" id="right" name="right" :src="defaultPageUrl" :style="{width: (winWidth - (isDesktop ? 200 : 0)) + 'px', height: (winHeight - 45) + 'px'}"></iframe>
</div>

@section Scripts{
  <script src="/sitefiles/assets/js/home/index.js" type="text/javascript"></script> }

