<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<title>门店查询</title>
<link rel="stylesheet" href="../components/lib/bootstrap.min.css" />
<link rel="stylesheet" href="../components/lib/toastr.min.css" />
<link rel="stylesheet" href="../components/lib/fontawesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="../components/lib/style.css" />

<link rel="stylesheet" type="text/css" href="styles/common.css" />
</head>
<body>

    <div id="loading" class="loading"><img src="../components/images/loading.gif"></div>

    <div id="main" style="display:none">
        <script class="controller" type="text/html">
            <div class="header_store">
                <% if(contentInfoList.Count>0){%>              
                <a class="arr_l" href="<%=getStoreListReturnUrl(contentInfoList[0].storeID)%>">
                    <i class="fa fa-angle-left"></i>
                </a>
                <% } %>
                <p class="title"><%=title%></p>
            </div>

            <div class="main">
                <div class="page page_1">
                    <% for (var i = 0; i < contentInfoList.length; i++) {%>
                    <div class="item">
                        <a href="<%=getStoreItemUrl(contentInfoList[i].id)%>" class="clearfix">
                            <img src="<%=contentInfoList[i].imageUrl%>" class="fl img">
                            <dl class="fl text">
                                <dt><%=contentInfoList[i].storeName%></dt>
                                <dd>
                                    <%=contentInfoList[i].summary.substring(0, 20)%>
                                </dd>
                            </dl>
                            <i class="fr fa fa-angle-right"></i>
                        </a>
                    </div>
                    <%}%>
                </div>
            </div>
            
            <%if (!isPoweredBy){%>
              <div class="footer">
                <p>技术支持：阁下 <a href="http://www.gexia.com" target="_blank">GEXIA.COM</a></p>
              </div>
            <%}else if(poweredBy){%>
              <div class="footer">
                <p><%==poweredBy%></p>
              </div>
            <%}%>
            
        </script>
    </div>
</body>
</html>

<script src="../components/lib/jquery-1.11.0.min.js"></script>
<script src="../components/lib/bootstrap.min.js"></script>
<script src="../components/lib/json2.js"></script>
<script src="../components/lib/template.js"></script>
<script src="../components/lib/toastr.min.js"></script>
<script src="../components/lib/notifyService.js"></script>
<script src="../components/lib/utilService.js"></script>

<script src="scripts/service.js"></script>
<script src="scripts/controller.js"></script>

