.txtArea {width: 550px;}
.functionBar {position: relative;}
.functionBar .opt {float: left;}
.icon18C {background:url(../img/biaoqing.png) no-repeat scroll 0 0 transparent;padding-left: 18px;}
.iconEmotion {}
.functionBar .tip {float: right;font-style: italic;}
.functionBar .emotions {position: absolute;top: 30px;left: 20px;border: 1px solid #AAA;padding: 5px;
	background-color: #FFF;
	z-index: 9999;
	display: none;
}

.functionBar .emotions table td {
	border: 1px solid #dfe6f6;
	padding: 1px;
}

.functionBar .emotions table td:hover {
	border: 1px solid blue;
}
 
.functionBar .emotions table td div { 
	background: url(../img/default.gif) no-repeat 0 0 scroll transparent;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.functionBar .emotions .emotionsGif {
	position: absolute;
	top: -1px;
	left: 430px;
	border: 1px solid #AAA;
	padding: 20px;
	background-color: #FFF;
	text-align: center;
}

.clr {
	clear: both;
}

.editArea {
	border: 1px solid #AAA;
	border-top: 0;
	padding: 10px;
	background-color: #FFF;
}

.editArea textarea {
	border: 1px solid #DDD;
	width: 100%;
	height: 100px;
}

.editArea div,.msgSenderPlugin .panel .editArea textarea {
	border: 1px solid #DDD;
	width: 100%;
	height: 100px;
}

.emotions table {
	border-collapse: separate;
}