{
  "name": "floatAd",
  "DisplayName": "浮动广告",
  "Description": "使用完整的图片投票解决方案来获得您需要的答案。",
  "Publisher": "siteserver",
  "Version": "1.0.0",
  "Website": "http://www.siteserver.cn",
  "Disabled": false,
  "ExecuteFileName": "bin/SS.FloatAd.dll",
  "icon": "logo.svg",
  "includes": [
    "admin/",
    "logo.svg",
    "bin/SS.FloatAd.dll",
    "plugin.json"
  ]
}