<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>微会员</title>
    <link rel="stylesheet" href="../components/lib/bootstrap.min.css" />
    <link rel="stylesheet" href="../components/lib/fontawesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../components/lib/toastr.min.css" />
    <link rel="stylesheet" href="../components/lib/style.css" />

    <link rel="stylesheet" type="text/css" href="styles/style.css" />
</head>
<body>
    <div id="loading" class="loading"><img src="../components/images/loading.gif"></div>

    <div id="main" style="display:none">
        <script class="controller" type="text/html">
            <div class="my_card_box">
                <div class="vip_card" data-id="1">
                    <div class="vip_card_z front">
                        <span class="txt" style='color: #<%=cardInfo.cardTitleColor%>'><%=cardInfo.cardTitle%></span>
                        <span class="vip_num" style='color: #<%=cardInfo.cardNoColor%>'>NO : <%=cardSNInfo.sn%></span>
                        <img src="<%=cardInfo.contentFrontImageUrl%>">
                    </div>
                    <div class="vip_card_f back">
                        <p class="addr"><i class="fa fa-home"></i><%=cardInfo.shopAddress%></p>
                        <p class="phone"><i class="fa fa-phone"></i><%=cardInfo.shopTel%></p>
                        <p class="name"><%=cardInfo.shopName%></p>
                        <img src="<%=cardInfo.contentBackImageUrl%>">
                    </div>
                </div>
                <div class="main">
                    <ul>
                        <li>
                            <a href="javascript:;"><span><i class="fa fa-cny"></i></span>余额：<%=getAmount(cardSNInfo.amount)%></a>
                        </li>
                        <li>
                            <a href="avascript:;"><span><i class="fa fa-gift"></i></span>积分：<%=userInfo.credits%></a>
                        </li>
                        <li>
                            <a href="javascript:;" onclick="controller.openUser(); return false;"><span><i class="fa fa-user"></i></span>会员卡资料</a>
                        </li>
                        <%if(isBinding){%>
                        <li>
                            <a href="javascript:;" onclick="controller.openBindCard(); return false;"><span><i class="fa fa-credit-card"></i></span>绑定实体卡</a>
                        </li>
                        <%}%>
                        <li>
                            <a href="javascript:;" onclick="controller.openMyBill(); return false;"><span><i class="fa fa-file-text-o"></i></span>我的账单</a>
                        </li>
                        <% if(isExchange){%>
                        <li>
                            <a href="javascript:;" onclick="controller.openExchange(); return false;"><span><i class="fa fa-stack-exchange"></i></span>积分抵现</a>
                        </li>
                        <% }%>
                        <li>
                            <a href="avascript:;" onclick="controller.openConsume(); return false;"><span><i class="fa fa-money"></i></span>消费</a>
                        </li>
                        <% if(isSign){%>
                        <li>
                            <a href="javascript:;" onclick="controller.openSign(); return false;"><span><i class="fa fa-check-square-o"></i></span>签到</a>
                        </li>
                        <%}%>
                     </ul>
                </div>
                <%if (!isPoweredBy){%>
                <div class="_footer">
                    <p>技术支持：阁下 <a href="http://www.gexia.com" target="_blank">GEXIA.COM</a></p>
                </div>
                <%}else if(poweredBy){%>
                <div class="_footer">
                    <p><%==poweredBy%></p>
                </div>
                <%}%>
            </div>
        </script>
    </div>
</body>
</html>

<script src="../components/lib/jquery-1.11.0.min.js"></script>
<script src="../components/lib/bootstrap.min.js"></script>
<script src="../components/lib/json2.js"></script>
<script src="../components/lib/layer/layer.min.js"></script>
<script src="../components/lib/template.js"></script>
<script src="../components/lib/toastr.min.js"></script>
<script src="../components/lib/notifyService.js"></script>
<script src="../components/lib/utilService.js"></script>

<script src="scripts/service.js"></script>
<script src="scripts/common.js"></script>
<script src="scripts/myCardController.js"></script>