<?xml version="1.0" encoding="utf-8" ?>
<Config>
  <generalPermissions>
    <add name="plugins_add" text="插件管理 -> 添加插件" />
    <add name="plugins_management" text="插件管理 -> 管理插件" />
    <add name="settings_siteAdd" text="系统管理 -> 创建新站点" />
    <add name="settings_site" text="系统管理 -> 站点管理" />
    <add name="settings_admin" text="系统管理 -> 管理员管理" />
    <add name="settings_user" text="系统管理 -> 用户管理" />
    <add name="settings_chart" text="系统管理 -> 统计图表" />
    <add name="settings_log" text="系统管理 -> 运行日志" />
    <add name="settings_utility" text="系统管理 -> 实用工具" />
  </generalPermissions>
  <websitePermissions>
    <add name="cms_content" text="信息管理" />
    <add name="cms_template" text="显示管理" />
    <add name="cms_configration" text="设置管理" />
    <add name="cms_create" text="生成管理" />
  </websitePermissions>
  <channelPermissions>
    <add name="cms_contentView" text="浏览内容" />
    <add name="cms_contentAdd" text="添加内容" />
    <add name="cms_contentEdit" text="修改内容" />
    <add name="cms_contentDelete" text="删除内容" />
    <add name="cms_contentTranslate" text="转移内容" />
    <add name="cms_contentOrder" text="整理内容"/>
    <add name="cms_channelAdd" text="添加栏目" />
    <add name="cms_channelEdit" text="修改栏目" />
    <add name="cms_channelDelete" text="删除栏目" />
    <add name="cms_channelTranslate" text="转移栏目" />
    <add name="cms_createPage" text="生成页面" />
    <add name="cms_contentCheck" text="审核内容" />
    <add name="cms_contentCheckLevel1" text="一级内容审核权" />
    <add name="cms_contentCheckLevel2" text="二级内容审核权" />
    <add name="cms_contentCheckLevel3" text="三级内容审核权" />
    <add name="cms_contentCheckLevel4" text="四级内容审核权" />
    <add name="cms_contentCheckLevel5" text="五级内容审核权" />
  </channelPermissions>
</Config>
