@page
@{ Layout = "../shared/_layout"; }

<el-card>
  <div slot="header" class="clearfix">
    <span>生成文件页</span>
  </div>

  <el-form :inline="true">
    <el-form-item label="文件路径">
      <el-input v-model="filterText" size="mini" placeholder="输入文件路径进行过滤"></el-input>
    </el-form-item>
  </el-form>

  <el-checkbox-group v-model="checkedTemplateIds" v-on:change="handleCheckedTemplatesChange">
    <el-checkbox v-for="template in templates" :label="template.id" :key="template.id">{{ getLabel(template) }}</el-checkbox>
  </el-checkbox-group>

  <div style="height: 10px"></div>
  <el-divider></el-divider>
  <div style="height: 10px"></div>

  <el-form :inline="true" size="small">
    <el-form-item label="">
      <el-checkbox label="全选" v-on:change="selectAll" v-model="isAllChecked"></el-checkbox>
    </el-form-item>
    <el-form-item>
      <el-button
      size="small"
      type="primary"
      :disabled="checkedTemplateIds.length === 0"
      v-on:click="btnCreateClick">
      生 成
    </el-button>
    </el-form-item>
  </el-form>

</el-card>

@section Scripts{
<script src="~/assets/js/cms/createFile.js" type="text/javascript"></script> }
