@page
@{ Layout = "../shared/_layout"; }
@section Styles{
  <style>
    html, body {
      height: 100%;
      overflow: hidden;
    }
    .el-tag {
      height: auto;
      white-space: inherit;
      margin-bottom: 5px;
    }
  </style>
}

<el-row>
  <el-col :span="12">
    <el-button size="small" v-on:click="getWordSpliter();return false;">提取标签</el-button>
    <el-button size="small" v-on:click="detection_Content();return false;">敏感词检测</el-button>
    
  </el-col>
  <el-col align="right" :span="12">
    <el-button size="small" v-on:click="btnSaveClick" type="primary">保 存</el-button>
    <el-button size="small" v-on:click="btnPreviewClick" type="info">预 览</el-button>
    <el-button size="small" v-on:click="btnCancelClick">取 消</el-button>
    <el-button size="small" icon="el-icon-setting" circle :type="isSettings ? 'info' : ''" v-on:click="isSettings = !isSettings"></el-button>
  </el-col>
</el-row>

<el-divider></el-divider>

<el-container style="padding-top: 0; padding-bottom: 0; overflow:hidden;" :style="{height: mainHeight}">
  <el-main style="padding: 0; margin: 0">
    <el-scrollbar class="scrollbar" :style="{height: mainHeight}">
      
      <el-form style="margin: 10px 20px 20px 10px" size="small" label-position="left" label-width="80px">
        <template v-for="style in styles" :key="style.attributeName">
          <!-- Image -->
          <template v-if="style.inputType === 'Image'">
            <el-form-item :label="style.displayName" :prop="style.attributeName" :rules="utils.getRules(style.rules)">
              <el-button-group>
                <el-button size="mini" type="info" plain v-on:click="btnLayerClick({title: '上传图片', name: 'imageLayerUpload', attributeName: style.attributeName, no: 0})">
                  上传
                </el-button>
                <el-button size="mini" type="info" plain v-on:click="btnLayerClick({title: '选择图片素材', name: 'imageLayerSelect', attributeName: style.attributeName, no: 0, full: true})">
                  选择
                </el-button>
                <el-button size="mini" type="info" plain v-if="form[style.attributeName]" v-on:click="btnPreviewClick(style.attributeName, 0)">
                  预览
                </el-button>
                <el-button size="mini" type="info" plain v-on:click="btnExtendAddClick(style)">
                  新增
                </el-button>
              </el-button-group>
              <el-input
                v-model="form[style.attributeName]"
                size="small"
                placeholder="请输入图片地址或点击上方按钮上传">
              </el-input>
              <template v-for="(n, i) in form[utils.getCountName(style.attributeName)]">
                <el-button-group>
                  <el-button size="mini" type="info" plain v-on:click="btnLayerClick({title: '上传图片', name: 'imageLayerUpload', attributeName: style.attributeName, no: n})">
                    上传
                  </el-button>
                  <el-button size="mini" type="info" plain v-on:click="btnLayerClick({title: '选择图片素材', name: 'imageLayerSelect', attributeName: style.attributeName, no: n, full: true})">
                    选择
                  </el-button>
                  <el-button size="mini" type="info" plain v-if="form[utils.getExtendName(style.attributeName, n)]" v-on:click="btnPreviewClick(style.attributeName, n)">
                    预览
                  </el-button>
                  <el-button size="mini" type="info" plain v-if="n === form[utils.getCountName(style.attributeName)]" v-on:click="btnExtendRemoveClick(style)">
                    删除
                  </el-button>
                </el-button-group>
                <el-input
                  v-model="form[utils.getExtendName(style.attributeName, n)]"
                  size="small"
                  placeholder="请输入图片地址或点击上方按钮上传">
                </el-input>
              </template>
            </el-form-item>
          </template>
          <!-- File -->
          <template v-else-if="style.inputType === 'File'">
            <el-form-item :label="style.displayName" :prop="style.attributeName" :rules="utils.getRules(style.rules)">
              <el-button-group>
                <el-button size="mini" type="info" plain v-on:click="btnLayerClick({title: '上传附件', name: 'fileLayerUpload', attributeName: style.attributeName, no: 0})">
                  上传
                </el-button>
                <el-button size="mini" type="info" plain v-on:click="btnLayerClick({title: '选择附件素材', name: 'fileLayerSelect', attributeName: style.attributeName, no: 0, full: true})">
                  选择
                </el-button>
                <el-button size="mini" type="info" plain v-on:click="btnExtendAddClick(style)">
                  新增
                </el-button>
              </el-button-group>
              <el-input
                v-model="form[style.attributeName]"
                size="small"
                placeholder="请输入附件地址或点击上方按钮上传">
              </el-input>
              <template v-for="(n, i) in form[utils.getCountName(style.attributeName)]">
                <el-button-group>
                  <el-button size="mini" type="info" plain v-on:click="btnLayerClick({title: '上传附件', name: 'fileLayerUpload', attributeName: style.attributeName, no: n})">
                    上传
                  </el-button>
                  <el-button size="mini" type="info" plain v-on:click="btnLayerClick({title: '选择附件素材', name: 'fileLayerSelect', attributeName: style.attributeName, no: n, full: true})">
                    选择
                  </el-button>
                  <el-button size="mini" type="info" plain v-if="n === form[utils.getCountName(style.attributeName)]" v-on:click="btnExtendRemoveClick(style)">
                    删除
                  </el-button>
                </el-button-group>
                <el-input
                  v-model="form[utils.getExtendName(style.attributeName, n)]"
                  size="small"
                  placeholder="请输入附件地址或点击上方按钮上传">
                </el-input>
              </template>
            </el-form-item>
          </template>
          <!-- Video -->
          <template v-else-if="style.inputType === 'Video'">
            <el-form-item :label="style.displayName" :prop="style.attributeName" :rules="utils.getRules(style.rules)">
              <el-button-group>
                <el-button size="mini" type="info" plain v-on:click="btnLayerClick({title: '上传视频', name: 'videoLayerUpload', attributeName: style.attributeName, no: 0})">
                  上传
                </el-button>
                <el-button size="mini" type="info" plain v-on:click="btnLayerClick({title: '选择视频素材', name: 'videoLayerSelect', attributeName: style.attributeName, no: 0, full: true})">
                  选择
                </el-button>
                <el-button size="mini" type="info" plain v-on:click="btnExtendAddClick(style)">
                  新增
                </el-button>
              </el-button-group>
              <el-input
                v-model="form[style.attributeName]"
                size="small"
                placeholder="请输入视频地址或点击上方按钮上传">
              </el-input>
              <template v-for="(n, i) in form[utils.getCountName(style.attributeName)]">
                <el-button-group>
                  <el-button size="mini" type="info" plain v-on:click="btnLayerClick({title: '上传视频', name: 'videoLayerUpload', attributeName: style.attributeName, no: n})">
                    上传
                  </el-button>
                  <el-button size="mini" type="info" plain v-on:click="btnLayerClick({title: '选择视频素材', name: 'videoLayerSelect', attributeName: style.attributeName, no: n, full: true})">
                    选择
                  </el-button>
                  <el-button size="mini" type="info" plain v-if="n === form[utils.getCountName(style.attributeName)]" v-on:click="btnExtendRemoveClick(style)">
                    删除
                  </el-button>
                </el-button-group>
                <el-input
                  v-model="form[utils.getExtendName(style.attributeName, n)]"
                  size="small"
                  placeholder="请输入视频地址或点击上方按钮上传">
                </el-input>
              </template>
            </el-form-item>
          </template>
          <!-- TextEditor -->
          <template v-else-if="style.inputType === 'TextEditor'">
            <el-form-item :label="style.displayName" :prop="style.attributeName" :rules="utils.getRules(style.rules)">
              <el-button-group style="margin-bottom: 2px;">
                <el-button size="mini" type="info" plain v-on:click="btnLayerClick({title: '导入Word', name: 'editorLayerWord', attributeName: style.attributeName})">
                  导入Word
                </el-button>
                <el-button size="mini" type="info" plain v-on:click="btnLayerClick({title: '插入图片', name: 'editorLayerImage', attributeName: style.attributeName})">
                  插入图片
                </el-button>
                <el-button size="mini" type="info" plain v-on:click="btnLayerClick({title: '插入视频', name: 'editorLayerVideo', attributeName: style.attributeName})">
                  插入视频
                </el-button>
                <el-button size="mini" type="info" plain v-on:click="btnLayerClick({title: '插入音频', name: 'editorLayerAudio', attributeName: style.attributeName})">
                  插入音频
                </el-button>
                <el-button size="mini" type="info" plain v-on:click="btnLayerClick({title: '插入附件', name: 'editorLayerFile', attributeName: style.attributeName})">
                  插入附件
                </el-button>
                <el-button size="mini" type="info" plain v-on:click="btnLayerClick({title: '插入图文', name: 'editorLayerText', attributeName: style.attributeName, full: true})">
                  插入图文
                </el-button>
              </el-button-group>
              <textarea
                :id="style.attributeName"
                :name="style.attributeName"
                v-html="form[style.attributeName]"
                style="width: 100%;">
              </textarea>
            </el-form-item>
          </template>
          <!-- TextArea -->
          <template v-else-if="style.inputType === 'TextArea'">
            <el-form-item :label="style.displayName" :prop="style.attributeName" :rules="utils.getRules(style.rules)">
              <el-input
                v-model="form[style.attributeName]"
                type="textarea"
                size="small"
                :autosize="{ minRows: 4, maxRows: 10}">
              </el-input>
            </el-form-item>
          </template>
          <!-- Text -->
          <template v-else-if="style.inputType === 'Text'">
            <el-form-item :label="style.displayName" :prop="style.attributeName" :rules="utils.getRules(style.rules)">
              <el-input
                v-model="form[style.attributeName]"
                type="text">
              </el-input>
            </el-form-item>
          </template>
          <!-- CheckBox -->
          <template v-else-if="style.inputType === 'CheckBox'">
            <el-form-item :label="style.displayName" :prop="style.attributeName" :rules="utils.getRules(style.rules)">
              <el-checkbox-group v-model="form[style.attributeName]">
                <el-checkbox v-for="item in style.items" :key="item.value" :label="item.label" :value="item.value"></el-checkbox>
              </el-checkbox-group>
            </el-form-item>
          </template>
          <!-- Radio -->
          <template v-else-if="style.inputType === 'Radio'">
            <el-form-item :label="style.displayName" :prop="style.attributeName" :rules="utils.getRules(style.rules)">
              <el-radio-group v-model="form[style.attributeName]">
                <el-radio v-for="item in style.items" :key="item.value" :label="item.label" :value="item.value"></el-radio>
              </el-radio-group>
            </el-form-item>
          </template>
          <!-- SelectOne -->
          <template v-else-if="style.inputType === 'SelectOne'">
            <el-form-item :label="style.displayName" :prop="style.attributeName" :rules="utils.getRules(style.rules)">
              <el-select v-model="form[style.attributeName]" placeholder="请选择">
                <el-option
                  v-for="item in style.items"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"></el-option>
              </el-select>
            </el-form-item>
          </template>
          <!-- SelectMultiple -->
          <template v-else-if="style.inputType === 'SelectMultiple'">
            <el-form-item :label="style.displayName" :prop="style.attributeName" :rules="utils.getRules(style.rules)">
              <el-select v-model="form[style.attributeName]" multiple placeholder="请选择">
                <el-option
                  v-for="item in style.items"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"></el-option>
              </el-select>
            </el-form-item>
          </template>
          <!-- Date -->
          <template v-else-if="style.inputType === 'Date'">
            <el-form-item :label="style.displayName" :prop="style.attributeName" :rules="utils.getRules(style.rules)">
              <el-date-picker
                v-model="form[style.attributeName]"
                type="date"
                placeholder="请选择日期">
              </el-date-picker>
            </el-form-item>
          </template>
          <!-- DateTime -->
          <template v-else-if="style.inputType === 'DateTime'">
            <el-form-item :label="style.displayName" :prop="style.attributeName" :rules="utils.getRules(style.rules)">
              <el-date-picker
                v-model="form[style.attributeName]"
                type="datetime"
                placeholder="请选择日期时间">
              </el-date-picker>
            </el-form-item>
          </template>
        </template>
      </el-form>

    </el-scrollbar>
  </el-main>
  <el-aside v-if="isSettings" width="280px">
    <el-scrollbar class="scrollbar" :style="{height: mainHeight}">
      
      <el-tabs v-model="sideType" type="border-card">
        <el-tab-pane label="设置" name="first">
          <el-collapse v-model="collapseSettings">
            <el-collapse-item title="审核状态" name="checkedLevel">
              <el-select v-model="form.checkedLevel" size="small" style="width: 100%;">
                <el-option
                  v-for="level in checkedLevels"
                  :key="level.value"
                  :label="level.label"
                  :value="level.value"></el-option>
              </el-select>
            </el-collapse-item>
            <el-collapse-item title="内容属性" name="attributes">
              <el-checkbox v-model="form.top">置顶</el-checkbox>
              <el-checkbox v-model="form.recommend">推荐</el-checkbox>
              <el-checkbox v-model="form.hot">热点</el-checkbox>
              <el-checkbox v-model="form.color">醒目</el-checkbox>
            </el-collapse-item>
            <el-collapse-item title="内容组" name="groupNames">
              <el-checkbox-group v-model="form.groupNames">
                <el-checkbox v-for="groupName in groupNames" :key="groupName" :label="groupName" :value="groupName" name="groupNames"></el-checkbox>
              </el-checkbox-group>
              <div style="height: 5px"></div>
              <el-button size="mini" icon="el-icon-circle-plus-outline" v-on:click="btnGroupAddClick">
                新增内容组
              </el-button>
            </el-collapse-item>
            <el-collapse-item title="标签" name="tagNames">
              <el-select
                v-model="form.tagNames"
                style="width: 100%;"
                size="small"
                multiple
                filterable
                allow-create
                default-first-option
                placeholder="请选择内容标签">
                <el-option
                  v-for="tagName in tagNames"
                  :key="tagName"
                  :label="tagName"
                  :value="tagName">
                </el-option>
              </el-select>
              <small class="tips">输入文字后回车可创建新标签</small>
            </el-collapse-item>
            <el-collapse-item title="外部链接" name="linkUrl">
              <el-input v-model="form.linkUrl" name="linkUrl" placeholder="设置后链接将指向此地址" size="small" autosize :autosize="{ minRows: 2, maxRows: 4}" type="textarea" data-vv-as="外部链接" v-validate="'url'"></el-input>
              <small class="tips">设置外部链接后系统将不会生成内容页面</small>
            </el-collapse-item>
            <el-collapse-item title="添加时间" name="addDate">
              <el-date-picker
                v-model="form.addDate"
                size="small"
                type="datetime"
                placeholder="选择内容添加时间">
              </el-date-picker>
            </el-collapse-item>
          </el-collapse>
        </el-tab-pane>
        <el-tab-pane label="更多" name="second">
          <el-collapse v-model="collapseMore">
            <el-collapse-item title="同时转移到" name="translations">
              <el-tag
                v-for="translation in translations"
                :key="translation.name"
                closable
                v-on:close="handleTranslationClose(translation.name)"
                type="primary">
                {{translation.name}}
              </el-tag>
  
              <el-button size="mini" icon="el-icon-circle-plus-outline" v-on:click="btnTranslateAddClick">
                新增转移
              </el-button>
            </el-collapse-item>
          </el-collapse>
        </el-tab-pane>
      </el-tabs>

    </el-scrollbar>
  </el-aside>
</el-container>

@section Scripts{
<script type="text/javascript" src="../assets/lib/ueditor/editor_config.js"></script>
<script type="text/javascript" src="../assets/lib/ueditor/ueditor_all_min.js"></script>
<script type="text/javascript" src="../assets/lib/ueditor/third-party/xiumi/xiumi-ue-dialog-v5.js"></script>
<script src="~/assets/js/cms/editor.js" type="text/javascript"></script> }