@page
@{ Layout = "../shared/_layout"; }

<el-alert v-if="isChannel">系统生成栏目页时采取的文件名规则，建议保留{@@ChannelId}栏目Id项，否则可能出现重复的文件名称</el-alert>
<el-alert v-else>系统生成内容页时采取的文件名规则，建议保留{@@ContentId}内容Id项，否则可能出现重复的文件名称</el-alert>

<div style="height: 5px;"></div>

<el-form :inline="true" size="small">
  <el-form-item v-for="o in dict" :key="o.key" :label="o.value">
    <el-link :underline="false" v-on:click="btnCopyClick(o.key)" type="primary">{{o.key}}</el-link>
  </el-form-item>
</el-form>

<el-form size="small" ref="form" :model="form" label-width="120px">
  <el-form-item label="页面命名规则" prop="rule" :rules="{ required: true, message: '请输入页面命名规则', trigger: 'blur' }">
    <el-input v-model="form.rule" placeholder="请输入页面命名规则"></el-input>
  </el-form-item>
</el-form>

<div style="height: 10px"></div>
<el-divider></el-divider>
<div style="height: 10px"></div>

<el-row align="right" style="margin-right: 5px">
  <el-col :span="24" align="right">
    <el-button size="small" type="primary" v-on:click="btnSubmitClick">确 定</el-button>
    <el-button size="small" v-on:click="btnCancelClick">取 消</el-button>
  </el-col>
</el-row>

@section Scripts{
<script src="~/assets/js/cms/settingsCreateRuleLayerSet.js" type="text/javascript"></script>
}
