@page
@{ Layout = "../shared/_layout"; }

<el-menu default-active="1" mode="horizontal"
  background-color="#545c64"
  text-color="#fff"
  active-text-color="#ffd04b"
>
  <el-menu-item index="1"><el-link :underline="false" :href="utils.getCmsUrl('settingsUploadImage', {siteId: siteId})">图片上传设置</el-link></el-menu-item>
  <el-menu-item index="2"><el-link :underline="false" :href="utils.getCmsUrl('settingsUploadVideo', {siteId: siteId})">视频上传设置</el-link></el-menu-item>
  <el-menu-item index="3"><el-link :underline="false" :href="utils.getCmsUrl('settingsUploadFile', {siteId: siteId})">附件上传设置</el-link></el-menu-item>
</el-menu>

<el-card>
  <div slot="header" class="clearfix">
    <span>图片上传设置</span>
  </div>

  <el-form size="small" ref="form" :model="form" label-width="280px">

    <el-form-item label="图片上传文件夹" prop="imageUploadDirectoryName" :rules="{ required: true, message: '请输入图片上传文件夹' }">
      <el-input v-model="form.imageUploadDirectoryName" placeholder="请输入图片上传文件夹"></el-input>
    </el-form-item>
    <el-form-item label="图片上传保存方式">
      <el-radio-group v-model="form.imageUploadDateFormatString">
        <el-radio label="Year">按年存入不同目录</el-radio>
        <el-radio label="Month">按年/月存入不同目录</el-radio>
        <el-radio label="Day">按年/月/日存入不同目录</el-radio>
      </el-radio-group>
      <div class="tips">本设置只影响新上传的图片, 设置更改之前的图片仍存放在原来位置</div>
    </el-form-item>
    <el-form-item label="是否按时间重命名上传的图片">
      <el-radio-group v-model="form.isImageUploadChangeFileName">
        <el-radio :label="true">自动修改文件名</el-radio>
        <el-radio :label="false">保持文件名不变</el-radio>
      </el-radio-group>
      <div class="tips">本设置只影响新上传的图片, 设置更改之前的图片名仍保持不变</div>
    </el-form-item>
    <el-form-item label="上传图片类型" prop="imageUploadTypeCollection" :rules="{ required: true, message: '请输入上传图片类型' }">
      <el-input v-model="form.imageUploadTypeCollection" placeholder="请输入上传图片类型"></el-input>
      <div class="tips">类型之间用“,”分割</div>
    </el-form-item>
    <el-form-item label="上传图片最大大小（KB）" prop="imageUploadTypeMaxSize" :rules="{ required: true, message: '请输入上传图片最大大小' }">
      <el-input v-model.number="form.imageUploadTypeMaxSize" placeholder="请输入上传图片最大大小"></el-input>
    </el-form-item>
    <el-form-item label="缩略图（小）最大宽度（像素）" prop="photoSmallWidth" :rules="{ required: true, message: '请输入缩略图（小）最大宽度' }">
      <el-input v-model.number="form.photoSmallWidth" placeholder="请输入缩略图（小）最大宽度"></el-input>
    </el-form-item>
    <el-form-item label="缩略图（中）最大宽度（像素）" prop="photoMiddleWidth" :rules="{ required: true, message: '请输入缩略图（中）最大宽度' }">
      <el-input v-model.number="form.photoMiddleWidth" placeholder="请输入缩略图（中）最大宽度"></el-input>
    </el-form-item>

    <el-form-item>
      <el-button type="primary" v-on:click="btnSubmitClick" size="small">确 定</el-button>
    </el-form-item>
  </el-form>
  
</el-card>

@section Scripts{
<script src="~/assets/js/cms/settingsUploadImage.js" type="text/javascript"></script> }