@page
@{ Layout = "_LayoutHome"; }
@section Styles{
  <style>
    .el-upload, .el-upload-dragger {width:auto;}
    .el-dropdown-link {
      cursor: pointer;
      color: #409EFF;
    }
    .el-icon-arrow-down {
      font-size: 12px;
    }
    .el-icon-picture-outline {
      font-size: 22px;
      margin: 80px 0;
      color: #c0c4cc;
    }
  </style>
}

<el-row>
  <el-col :span="18">
    <el-row>
      <el-form :inline="true" :model="form" size="mini">
        <el-form-item label="搜索">
          <el-input v-model="form.keyword" placeholder="关键字"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" v-on:click="btnSearchClick">查询</el-button>
        </el-form-item>
      </el-form>
    </el-row>
  </el-col>
  <el-col align="right" :span="6">
    <el-dropdown trigger="click" v-on:command="btnDropdownClick">
      <span class="el-dropdown-link">
        {{(pageType === 'card' ? '卡片视图' : '列表视图')}} <i class="el-icon-arrow-down el-icon--right"></i>
      </span>
      <el-dropdown-menu slot="dropdown">
        <el-dropdown-item command="card">卡片视图</el-dropdown-item>
        <el-dropdown-item command="list">列表视图</el-dropdown-item>
      </el-dropdown-menu>
    </el-dropdown>
  </el-col>
</el-row>
<el-row>
  <el-form :inline="true" :model="form" size="mini">
    <el-tag
      v-for="group in groups"
      :key="group.id"
      type="success"
      style="cursor: pointer; margin: 0 3px 6px 0;"
      v-on:click="btnGroupClick(group.id)"
      :effect="form.groupId === group.id ? 'dark' : 'plain'">
      {{ group.groupName }}
    </el-tag>
  </el-form>
</el-row>

<div style="height:5px"></div>

<template v-if="pageType === 'card'">
  <el-row>
    <el-col :span="6" v-for="(o, index) in items" :key="o.id">

      <el-card style="margin-bottom: 15px; margin-right: 15px;" :body-style="{ padding: '0px', textAlign: 'center' }">
        <div slot="header" class="clearfix">
          <span>{{ o.title }}</span>
        </div>
        <a href="javascript:;" v-on:click="btnSelectClick(o)">
          <el-image 
            style="width: 100%; min-height: 120px; max-height:220px;"
            :src="o.thumbUrl">
            <div slot="error" class="image-slot">
              <i class="el-icon-picture-outline"></i>
            </div>
          </el-image>
        </a>
        <div style="padding: 14px;">
          <div v-on:click="btnSelectClick(o)" style="cursor: pointer; height: 22px; font-size: 12px; overflow: hidden;">{{ o.summary }}</div>
        </div>
      </el-card>
    </el-col>
  </el-row>
</template>
<template v-else>
  <el-table
    :data="items"
    style="width: 100%">
    <el-table-column
      label="图文"
      width="130">
      <template slot-scope="scope">
        <a href="javascript:;" v-on:click="btnSelectClick(scope.row)">
          <img :src="scope.row.thumbUrl" style="max-height: 120px; max-width: 120px;"/>
        </a>
      </template>
    </el-table-column>
    <el-table-column
      prop="title"
      label="标题">
    </el-table-column>
    <el-table-column
      prop="summary"
      label="摘要">
    </el-table-column>
    <el-table-column
      prop="createdDate"
      label="创建时间"
      width="170">
    </el-table-column>
  </el-table>
</template>

<div class="text-center mt-3">
  <el-pagination
    v-on:current-change="btnPageClick"
    :current-page="form.page"
    :page-size="form.perPage"
    layout="total, prev, pager, next, jumper"
    :total="count">
  </el-pagination>
</div>

<el-dialog title="图文展示方式" :visible.sync="isSubmitForm">
  <el-form ref="submitForm" :model="submitForm" :rules="{
    linkText: [
      { required: true, message: '请输入链接文字', trigger: 'blur' }
    ],
  }">
    <el-form-item label="链接文字" prop="linkText">
      <el-input v-model="submitForm.linkText" autocomplete="off"></el-input>
    </el-form-item>
  </el-form>
  <div slot="footer" class="dialog-footer">
    <el-button type="primary" v-on:click="btnSubmitClick">确 定</el-button>
    <el-button v-on:click="isSubmitForm = false">取 消</el-button>
  </div>
</el-dialog>

@section Scripts{
  <script src="/sitefiles/assets/js/home/common/editorLayerArticle.js" type="text/javascript"></script>
}