@page
@{ Layout = "_LayoutHome"; }
@section Styles{
  <style>
    .el-upload, .el-upload-dragger {width: 100%;}
  </style>
}

<el-upload
  drag
  :action="uploadUrl"
  :auto-upload="true"
  :headers="{Authorization: 'Bearer ' + $token}"
  :show-file-list="true"
  :on-progress="uploadProgress"
  :on-success="uploadFileSuccess"
  :on-error="uploadError"
  :on-remove="uploadRemove"
  :multiple="true">
  <i class="el-icon-upload"></i>
  <div class="el-upload__text">
    将附件文件拖到此处或点击上传
  </div>
</el-upload>

<div style="height: 10px"></div>

<el-form ref="form" :model="form" size="mini">
  <el-form-item>
    <el-checkbox label="重命名文件" v-model="form.isChangeFileName"></el-checkbox>
  </el-form-item>
</el-form>

<el-divider></el-divider>
<el-row align="right" style="margin-right: 5px; margin-top: 10px;">
  <el-col :span="24" align="right">
    <el-button size="small" type="primary" v-on:click="btnSubmitClick">确 定</el-button>
    <el-button size="small" v-on:click="btnCancelClick">取 消</el-button>
  </el-col>
</el-row>

@section Scripts{
  <script src="/sitefiles/assets/js/home/common/formLayerFileUpload.js" type="text/javascript"></script>
}