<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>微搜索</title>
    <link rel="stylesheet" href="../components/lib/bootstrap.min.css" />
    <link rel="stylesheet" href="../components/lib/fontawesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../components/lib/toastr.min.css" />
    <link rel="stylesheet" href="../components/lib/style.css" />

    <link rel="stylesheet" type="text/css" href="styles/search.css" />
</head>
<body>
    <div id="loading" class="loading"><img src="../components/images/loading.gif"></div>

    <div id="main" style="display:none">
        <script class="controller" type="text/html">

            <div class="sheader">
                <input type="hidden" id="searchType" value="site" />
                <img src="<%=searchInfo.contentImageUrl%>" class="head_img head_img_1">
                <div class="logo"><img src="img/logo.png" class="logo"></div>
                <div class="search_box" id="search_box">
                    <form class="clearfix">
                        <div class="text_input"><input type="text" id="keywords" placeholder="关键字" /></div>
                        <div class="search_btn"><input type="submit" value="" onclick="controller.openSearch();return false;" /></div>
                    </form>
                </div>
                <div class="nav">
                    <% if(searchInfo.isOutsiteSearch){%>
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group">
                          <button type="button" id="site" class="btn btn-default active">默认</button>
                          <button type="button" id="sogou" class="btn btn-default">搜狗</button>
                          <button type="button" id="baidu" class="btn btn-default">百度</button>
                        </div>
                    </div>
                    <%}%>

                    <% if(searchInfo.isNavigation){%>
                    <ul class="clearfix">
                        <% for(var i=0;i< searchNavigationInfoList.length;i++){
                        var navigationInfo=searchNavigationInfoList[i];
                        %>
                        <li>
                            <a href="<%=navigationInfo.url%>" style="color: #<%=searchInfo.titleCssColor%>" target="_blank"><i style="color: #<%=searchInfo.navImageCssColor%>" class="<%=navigationInfo.imageCssClass%>"></i><%=navigationInfo.title%></a>
                        </li>
                        <%}%>
                    </ul>
                    <%}%>

                </div>
            </div>
            
            <div class="container kind_container">
                <div class="row">
                    
                    <%if (imageContentInfoList){%>
                    <div class="modal_box today_hot">
                        <div class="hd clearfix">
                            <strong class="fl t"><%=searchInfo.imageAreaTitle%></strong>
                            <input type="hidden" id="imagePageIndex" value="0" />
                            <a href="javascript:;" onclick="controller.loadImageContentMore();" class="fr reflash"><i class="fa fa-refresh"></i>再来一批</a>
                        </div>
                        <div class="bd">
                            <ul class="clearfix">
                                <%
                                for(var i=0;i< imageContentInfoList.length;i++){
                                var contentInfo = imageContentInfoList[i];
                                %>
                                <li>
                                    <a href="<%=contentInfo.navigationUrl%>">
                                        <img src="<%=contentInfo.imageUrl%>" class="img">
                                        <span class="text">
                                            <%=contentInfo.title%>
                                        </span>
                                    </a>
                                </li>
                                <%}%>
                            </ul>
                       </div>
                    </div>
                    <%}%>

                    <%if (textContentInfoList){%>
                    <div class="modal_box now_hot">
                        <div class="hd clearfix">
                            <strong class="fl t"><%=searchInfo.textAreaTitle%></strong>
                            <input type="hidden" id="textPageIndex" value="0" />
                            <a href="javascript:;" onclick="controller.loadTextContentMore();" class="fr reflash"><i class="fa fa-refresh"></i>再来一批</a>
                        </div>
                        <div class="bd">
                            <ul class="clearfix">
                                <%
                                for (var i=0;i< textContentInfoList.length;i=i+2){
                                var leftContentInfo = textContentInfoList[i];
                                var rightContentInfo = textContentInfoList[i+1];
                                %>
                                <li style="display:block;">
                                    <a href="<%=leftContentInfo.navigationUrl%>" class="fl">
                                        <span><%=leftContentInfo.title%><i class="new">新</i></span>
                                    </a>
                                    <a href="<%=leftContentInfo.navigationUrl%>" class="fr">
                                        <% if(rightContentInfo){%>
                                        <span><%=rightContentInfo.title%><i class="new">新</i></span>
                                        <%}%>
                                    </a>
                                </li>
                                <%}%>
                            </ul>
                        </div>
                    </div>
                    <%}%>
                </div>
            </div>

            <%if (!isPoweredBy){%>
              <div class="footer">
                <p>技术支持：阁下 <a href="http://www.gexia.com" target="_blank">GEXIA.COM</a></p>
              </div>
            <%}else if(poweredBy){%>
              <div class="footer">
                <p><%==poweredBy%></p>
              </div>
            <%}%>

        </script>
    </div>
    
</body>
</html>

<script src="../components/lib/jquery-1.11.0.min.js"></script>
<script src="../components/lib/bootstrap.min.js"></script>
<script src="../components/lib/json2.js"></script>
<script src="../components/lib/template.js"></script>
<script src="../components/lib/toastr.min.js"></script>
<script src="../components/lib/notifyService.js"></script>
<script src="../components/lib/utilService.js"></script>

<script src="scripts/service.js"></script>
<script src="scripts/indexController.js"></script>