@page
@{ Layout = "../shared/_layout"; }

<el-form size="small" ref="form" :model="form" label-width="120px">
  <el-form-item label="排序字段" prop="attributeName" :rules="{ required: true, message: '请选择排序字段' }">
    <el-radio-group v-model="form.attributeName">
      <el-radio-button label="Id">内容Id</el-radio-button>
      <el-radio-button label="AddDate">添加日期</el-radio-button>
    </el-radio-group>
  </el-form-item>
  <el-form-item label="排序方向" prop="isDesc" :rules="{ required: true, message: '请选择排序方向' }">
    <el-radio-group v-model="form.isDesc">
      <el-radio-button :label="true">倒序</el-radio-button>
      <el-radio-button :label="false">正序</el-radio-button>
    </el-radio-group>
  </el-form-item>
</el-form>

<div style="height: 10px"></div>

<el-divider></el-divider>
<el-row align="right" style="margin-right: 5px; margin-top: 10px;">
  <el-col :span="24" align="right">
    <el-button size="small" type="primary" v-on:click="btnSubmitClick">确 定</el-button>
    <el-button size="small" v-on:click="btnCancelClick">取 消</el-button>
  </el-col>
</el-row>

@section Scripts{
<script src="/admin/assets/js/cms/contentsLayerArrange.js" type="text/javascript"></script> }