@page
@{ Layout = "../shared/_layout"; }

<el-menu default-active="2" mode="horizontal"
  background-color="#545c64"
  text-color="#fff"
  active-text-color="#ffd04b"
>
  <el-menu-item index="1"><el-link :underline="false" :href="utils.getCmsUrl('settingsChannelGroup', {siteId: siteId})">栏目组管理</el-link></el-menu-item>
  <el-menu-item index="2"><el-link :underline="false" :href="utils.getCmsUrl('settingsContentGroup', {siteId: siteId})">内容组管理</el-link></el-menu-item>
  <el-menu-item index="3"><el-link :underline="false" :href="utils.getCmsUrl('settingsContentTag', {siteId: siteId})">内容标签管理</el-link></el-menu-item>
</el-menu>

<el-card>
  <div slot="header" class="clearfix">
    <span>内容组管理</span>
  </div>

  <el-table :data="groups">
    <el-table-column label="内容组名称" prop="groupName"></el-table-column>
    <el-table-column label="内容组说明" prop="description"></el-table-column>
    <el-table-column label="操作" width="190">
      <template slot-scope="scope">
        <el-link
          :underline="false"
          v-on:click="btnEditClick(scope.row)"
          type="primary">
          编辑
        </el-link>
        <el-link
          :underline="false"
          v-on:click="btnOrderClick(scope.row, true)"
          type="primary">
          上升
        </el-link>
        <el-link
          :underline="false"
          v-on:click="btnOrderClick(scope.row, false)"
          type="primary">
          下降
        </el-link>
        <el-link
          :underline="false"
          v-if="scope.row.id > 0"
          type="danger"
          v-on:click="btnDeleteClick(scope.row)">
          删除
        </el-link>
      </template>
    </el-table-column>
  </el-table>

  <div style="height: 10px"></div>
  <el-divider></el-divider>
  <div style="height: 10px"></div>

  <el-button
    size="small"
    type="primary"
    v-on:click="btnAddClick">
    新增内容组
  </el-button>

</el-card>

@section Scripts{
<script src="/admin/assets/js/cms/settingsContentGroup.js" type="text/javascript"></script> }